Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

refactor(start): rename layout.tsx to page-layout.tsx
  start/src/modules/docs/page-layout.tsx
  start/src/routes/docs/$.tsx
Labels: none

feat(start): add last-update component with fumadocs plugin
  start/source.config.ts
  start/src/modules/docs/last-update.tsx
  start/src/routes/docs/$.tsx
Labels: none

feat(start): add document head metadata to docs routes
  config/biome-config/start.json
  pnpm-lock.yaml
  start/package.json
  start/scripts/api-docs-builder/src/componentHandler.ts
  start/scripts/api-docs-builder/src/index.ts
  start/src/lib/text.ts
  start/src/lib/trpc.ts
  start/src/modules/docs/code-block-tabs.tsx
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/routes/docs/$.tsx
Labels: none

chore: add CLAUDE.md with migration guidelines
  CLAUDE.md
Labels: documentation

feat(start): add dynamic OG image generation
  pnpm-lock.yaml
  start/public/images/thumbnail.png
  start/src/assets/fonts/geist-regular-otf.json
  start/src/assets/fonts/geist-semibold-otf.json
  start/src/assets/fonts/geistmono-regular-otf.json
  start/src/config/site.ts
  start/src/routeTree.gen.ts
  start/src/routes/__root.tsx
  start/src/routes/docs/$.tsx
  start/src/routes/og.tsx
  www/config/site.tsx
Labels: area: www

feat(start): add search command and docs layout
  start/src/components/layout/header.tsx
  start/src/components/marketing/featured-styles-showcase.tsx
  start/src/components/search-command.tsx
  start/src/modules/docs/code-block-tabs.tsx
  start/src/modules/docs/code-block.tsx
  start/src/modules/docs/page-tabs.tsx
  start/src/modules/interactive-demo/controls.tsx
  start/src/modules/interactive-demo/element-to-code.ts
  start/src/modules/interactive-demo/interactive-demo.tsx
  start/src/modules/references/components/type-popover.tsx
  start/src/modules/references/components/type-renderer.tsx
  start/src/routeTree.gen.ts
  start/src/routes/docs.tsx
Labels: none

feat(start): add mobile navigation to header
  start/src/components/layout/header.tsx
  start/src/components/layout/mobile-nav.tsx
  start/src/routes/docs.tsx
Labels: none

feat(start): add docs sidebar and user profile menu
  pnpm-lock.yaml
  start/package.json
  start/src/components/layout/docs-sidebar.tsx
  start/src/config/site.tsx
  start/src/modules/auth/user-profile-menu.tsx
Labels: none

feat(start): integrate DocsSidebar into docs layout
  start/src/routes/docs.tsx
Labels: none

refactor(start): move docs under pathless _app layout
  start/src/routeTree.gen.ts
  start/src/routes/_app/docs/$.tsx
  start/src/routes/_app/docs/{$}[.]md.tsx
  start/src/routes/_app/route.tsx
Labels: none

feat(start): add login page
  start/src/lib/get-safe-callback-url.ts
  start/src/modules/auth/login-form.tsx
  start/src/modules/auth/server.ts
  start/src/routes/login.tsx
Labels: none

refactor(auth): use getRequestHeaders for cleaner session retrieval
  start/src/modules/auth/server.ts
Labels: none

refactor(auth): use server middleware for auth checks
  start/src/modules/auth/middleware.ts
  start/src/routeTree.gen.ts
  start/src/routes/login.tsx
Labels: none

feat(start): add llms.txt for LLM context
  start/public/llms.txt
Labels: none

feat(start): add dotUI favicon and meta assets
  start/public/apple-touch-icon.png
  start/public/favicon-96x96.png
  start/public/favicon.ico
  start/public/favicon.svg
  start/public/logo192.png
  start/public/logo512.png
  start/public/manifest.json
  start/public/site.webmanifest
  start/public/tanstack-circle-logo.png
  start/public/tanstack-word-logo-white.svg
  start/public/web-app-manifest-192x192.png
  start/public/web-app-manifest-512x512.png
  start/src/routes/__root.tsx
Labels: none

refactor(start): use data-wordmark for logo visibility control
  start/src/components/layout/docs-sidebar.tsx
  start/src/components/layout/logo.tsx
Labels: none

style: minor typography and utility improvements
  packages/registry/src/base/base.css
  start/src/modules/docs/page-layout.tsx
  start/src/styles.css
Labels: none

feat(start): add /view route for block previews with style support
  packages/db/src/index.ts
  packages/db/src/lib/style-slug.ts
  packages/db/src/schemas/style.ts
  start/src/modules/blocks/block-view-layout.tsx
  start/src/modules/blocks/block-viewer.tsx
  start/src/routeTree.gen.ts
  start/src/routes/view/$block.tsx
Labels: none

feat(start): add legal pages (privacy policy, terms of service)
  start/content/legal/privacy-policy.mdx
  start/content/legal/terms-of-service.mdx
  start/src/components/layout/docs-sidebar.tsx
  start/src/components/layout/footer.tsx
  start/src/modules/auth/login-form.tsx
  start/src/modules/docs/page-tabs.tsx
  start/src/routeTree.gen.ts
  start/src/routes/(legal)/$.tsx
Labels: documentation

fix(registry): use static imports for icon libraries in Vite
  packages/registry/src/icons/create-icon-loader.tsx
Labels: none

feat(start): add blocks page and reorganize modules
  .gitignore
  CLAUDE.md
  package.json
  packages/core/src/__registry__/blocks.ts
  packages/registry/package.json
  packages/registry/scripts/build.ts
  packages/registry/src/__generated__/blocks.tsx
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/blocks/registry.ts
  packages/registry/src/blocks/showcase/animation/components/animation.tsx
  packages/registry/src/blocks/showcase/animation/meta.ts
  packages/registry/src/icons/__hugeicons__.ts
  packages/registry/src/icons/__remix__.ts
  packages/registry/src/icons/__tabler__.ts
  packages/registry/src/icons/create-icon.tsx
  pnpm-lock.yaml
  start/package.json
  start/src/components/layout/app-sidebar.tsx
  start/src/config/site.tsx
  start/src/modules/blocks/block-card.tsx
  start/src/modules/blocks/block-view-layout.tsx
  start/src/modules/blocks/block-viewer.tsx
  start/src/modules/docs/interactive-demo/controls.tsx
  start/src/modules/docs/interactive-demo/element-to-code.ts
  start/src/modules/docs/interactive-demo/index.ts
  start/src/modules/docs/interactive-demo/interactive-demo.tsx
  start/src/modules/docs/interactive-demo/process-controls.ts
  start/src/modules/docs/interactive-demo/types.ts
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/routeTree.gen.ts
  start/src/router.tsx
  start/src/routes/_app/blocks/route.tsx
  start/src/routes/_app/blocks/{-$category}.tsx
  start/src/routes/_app/route.tsx
  start/src/routes/demos/$slug.tsx
  start/src/routes/view/$block.tsx
  start/vite.config.ts
Labels: documentation

wip
  fumadocs-start/.gitignore
  fumadocs-start/content/docs/index.mdx
  fumadocs-start/content/docs/test.mdx
  fumadocs-start/package.json
  fumadocs-start/source.config.ts
  fumadocs-start/src/components/not-found.tsx
  fumadocs-start/src/lib/layout.shared.tsx
  fumadocs-start/src/lib/source.ts
  fumadocs-start/src/routeTree.gen.ts
  fumadocs-start/src/router.tsx
  fumadocs-start/src/routes/__root.tsx
  fumadocs-start/src/routes/api/search.ts
  fumadocs-start/src/routes/docs/$.tsx
  fumadocs-start/src/routes/index.tsx
  fumadocs-start/src/styles/app.css
  fumadocs-start/tsconfig.json
  fumadocs-start/vite.config.ts
  package.json
  packages/colors/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
  www/plan.md
  www/tailwindcss-61078.log
  www/vite.config.ts
Labels: area: www, documentation

feat(www): restore OG image generation with @vercel/og
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/src/routes/og.tsx
  www/vite.config.ts
Labels: area: www

fix(www): fix Tailwind warnings in OG image generation
  www/src/routes/og.tsx
Labels: area: www

feat(www): enable processed markdown for docs copy feature
  www/source.config.ts
  www/src/routes/_app/docs/$.tsx
Labels: area: www

fix(www): filter search param URLs from prerendering
  www/vite.config.ts
Labels: area: www

fix(www): suppress Vite bundler warnings for node_modules
  pnpm-lock.yaml
  www/package.json
  www/vite.config.ts
Labels: area: www

chore: consolidate gitignore files and update patterns
  .gitignore
  www/.gitignore
Labels: area: www

chore(www): remove rollup-plugin-visualizer
  pnpm-lock.yaml
  www/package.json
Labels: area: www

fix(www): resolve lint errors and clean up unused code
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/dynamic-pre.tsx
  www/src/routes/__root.tsx
  www/src/routes/_app/styles/community.tsx
  www/src/routes/_app/styles/index.tsx
  www/src/routes/_app/styles/my-styles.tsx
  www/vite.config.ts
Labels: area: www

chore(biome-config): clean up lint rules and remove next-js config
  config/biome-config/base.json
  config/biome-config/next-js.json
  config/biome-config/start.json
Labels: none

chore: add clean scripts to www and tailwind packages
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-with/package.json
  www/package.json
Labels: area: www

fix: replace vinxi references with nitro
  config/biome-config/start.json
  www/package.json
Labels: area: www

update gitignore
  .gitignore
Labels: none

chore: clean up config and remove db-migrate workflow
  .changeset/config.json
  .github/workflows/db-migrate.yml
  .gitignore
  www/package.json
  www/src/env.ts
Labels: area: www, area: ci

update ci
  .github/workflows/ci.yml
Labels: area: ci

format
  www/public/site.webmanifest
  www/src/components/layout/header.tsx
  www/src/components/layout/logo.tsx
  www/src/components/layout/mobile-nav.tsx
  www/src/components/marketing/featured-styles-showcase.tsx
  www/src/modules/docs/code-block-tabs.tsx
  www/src/modules/docs/code-block.tsx
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/components-list/components-data.ts
  www/src/modules/docs/components-list/components-list.tsx
  www/src/modules/docs/dynamic-pre.tsx
  www/src/modules/docs/interactive-demo/controls.tsx
  www/src/modules/docs/interactive-demo/element-to-code.ts
  www/src/modules/docs/interactive-demo/interactive-demo.tsx
  www/src/modules/docs/page-tabs.tsx
  www/src/modules/references/components/type-popover.tsx
  www/src/modules/references/components/type-renderer.tsx
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
  www/src/routes/_app/docs/{$}[.]md.tsx
  www/src/styles.css
  www/vite.config.ts
Labels: area: www

update port config
  www/package.json
  www/vite.config.ts
Labels: area: www

update ci
  .github/workflows/ci.yml
Labels: area: ci

refactor: switch to root-level biome execution
  .changeset/config.json
  .github/version-script-beta.js
  .github/version-script-next.js
  .vscode/settings.json
  biome.json
  config/ts-config/base.json
  config/ts-config/internal-package.json
  config/ts-config/package.json
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/colors/package.json
  packages/colors/src/contrast/index.ts
  packages/colors/src/index.ts
  packages/colors/src/theme.ts
  packages/core/package.json
  packages/db/package.json
  packages/registry/package.json
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-with/package.json
  packages/types/package.json
  turbo.json
  vitest.config.ts
  www/package.json
  www/scripts/api-docs-builder/src/componentHandler.ts
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/components-list/components-list.tsx
  www/src/modules/docs/interactive-demo/controls.tsx
  www/src/modules/docs/interactive-demo/process-controls.ts
  www/src/modules/docs/mdx-plugins/rehype-transform.ts
  www/src/modules/docs/reference.tsx
  www/src/modules/references/transform.ts
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
Labels: area: www, area: ci
