Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

chore: format generated files after registry build
  CONTRIBUTING.md
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/hooks.ts
  packages/core/src/__registry__/index.ts
  packages/core/src/__registry__/lib.ts
  packages/core/src/__registry__/ui.ts
  packages/registry/package.json
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/__hugeicons__.ts
  packages/registry/src/icons/__remix__.ts
  packages/registry/src/icons/__tabler__.ts
Labels: documentation

docs: update CONTRIBUTING.md to reflect current project structure
  CONTRIBUTING.md
Labels: documentation

chore: sync tailwind package versions for changesets
  .changeset/brave-lions-dance.md
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-with/package.json
Labels: documentation

chore: update changesets dependencies
  package.json
  pnpm-lock.yaml
Labels: none

format
  packages/core/src/__registry__/index.ts
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/__hugeicons__.ts
  packages/registry/src/icons/__remix__.ts
  packages/registry/src/icons/__tabler__.ts
Labels: none

update build registry script
  packages/registry/package.json
Labels: none

fix: configure nitro for vercel deployment
  turbo.json
  www/vite.config.ts
Labels: area: www

feat: add cache headers for vercel cdn
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/blocks/{-$category}.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
  www/src/routes/_app/styles/community.tsx
  www/src/routes/_app/styles/index.tsx
  www/src/routes/_app/styles/my-styles.tsx
  www/src/routes/index.tsx
  www/src/routes/og.tsx
Labels: area: www

chore: update biome configuration
  biome.json
  packages/registry/biome.json
Labels: none

chore: update registry and icons
  packages/core/src/__registry__/blocks.ts
  packages/registry/scripts/build.ts
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
Labels: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

chore: update source config
  www/source.config.ts
  www/src/lib/source.ts
Labels: area: www

fix: add missing biome dep
  package.json
  pnpm-lock.yaml
Labels: none

feat(starter-themes): add theme management package for tanstack start
  packages/starter-themes/package.json
  packages/starter-themes/src/index.tsx
  packages/starter-themes/tsconfig.json
  packages/starter-themes/tsup.config.ts
Labels: none

chore(registry): format component class names
  packages/registry/src/base/theme.css
  packages/registry/src/ui/avatar/basic.tsx
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/button/ripple.tsx
  packages/registry/src/ui/drawer/basic.tsx
  packages/registry/src/ui/input/basic.tsx
  packages/registry/src/ui/modal/basic.tsx
  packages/registry/src/ui/popover/basic.tsx
  packages/registry/src/ui/progress-bar/basic.css
  packages/registry/src/ui/table/basic.tsx
  packages/registry/src/ui/toggle-button-group/basic.tsx
  packages/registry/src/ui/tooltip/basic.tsx
Labels: none

refactor(www): use starter-themes package
  www/package.json
  www/src/components/layout/app-sidebar.tsx
  www/src/components/layout/header.tsx
  www/src/components/layout/mobile-nav.tsx
  www/src/components/marketing/featured-styles-showcase.tsx
  www/src/components/theme-toggle.tsx
  www/src/modules/docs/docs-copy-page.tsx
  www/src/modules/theme/provider.tsx
  www/src/routes/__root.tsx
Labels: area: www

chore: add claude.md and update gitignore
  .gitignore
  CLAUDE.md
  pnpm-lock.yaml
Labels: documentation

fix(www): use variable Geist font and adjust heading typography
  pnpm-lock.yaml
  www/package.json
  www/src/modules/docs/mdx-components.tsx
  www/src/modules/docs/page-layout.tsx
  www/src/styles.css
Labels: area: www

fix(www): add missing return in router navigate callback
  www/src/routes/__root.tsx
Labels: area: www

fix(www): fix code highlighting indentation and view transition in demo
  www/src/modules/docs/demo.tsx
  www/src/modules/docs/mdx-plugins/transformer.ts
  www/src/styles.css
Labels: area: www

chore: bump deps
  pnpm-lock.yaml
  www/package.json
Labels: area: www

feat: enable prerendering on vercel
  www/vite.config.ts
Labels: area: www

chore: bump deps
  packages/starter-themes/package.json
Labels: none

chore: bump deps
  packages/auth/package.json
  pnpm-lock.yaml
  www/package.json
Labels: area: www

add srvx
  pnpm-lock.yaml
  www/package.json
Labels: area: www

fix: add dist to turbo build outputs for starter-themes resolution
  turbo.json
Labels: none

chore: update gitignore
  .gitignore
Labels: none

refactor: remove cache-control headers from routes
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/blocks/{-$category}.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
  www/src/routes/_app/styles/community.tsx
  www/src/routes/_app/styles/index.tsx
  www/src/routes/_app/styles/my-styles.tsx
  www/src/routes/index.tsx
Labels: area: www

feat: add vercel preset to nitro config
  www/vite.config.ts
Labels: area: www

fix: patch nitro to handle sigterm exit code gracefully
  package.json
  patches/nitro-nightly@3.0.1-20260109-100347-99691fcb.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: use node preset for local dev, vercel for production
  www/vite.config.ts
Labels: area: www

feat: add static server functions for vercel cdn caching
  www/package.json
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
Labels: area: www

chore: update lockfile for static server functions
  pnpm-lock.yaml
Labels: none

fix: correct path for static cache files copy on vercel
  www/package.json
Labels: area: www

fix: patch tanstack to only write cache during prerender
  .gitignore
  package.json
  patches/@tanstack__start-static-server-functions.patch
Labels: none

chore: update lock file
  pnpm-lock.yaml
Labels: none

fix: apply staticFunctionMiddleware unconditionally
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
Labels: area: www

chore: update tanstack packages to 1.150.0
  package.json
  patches/nitro-nightly@3.0.1-20260109-100347-99691fcb.patch
  pnpm-lock.yaml
  www/package.json
Labels: area: www

refactor: move SerializedPageTree types to source.ts
  www/src/lib/source.ts
  www/src/routes/_app/route.tsx
Labels: area: www

feat: add static server functions for homepage data
  packages/api/src/index.ts
  packages/api/src/trpc.ts
  packages/core/src/__registry__/ui.ts
  packages/registry/src/ui/react-hook-form/demos/register.tsx
  www/src/lib/github.ts
  www/src/modules/styles/server.ts
  www/src/routes/index.tsx
  www/vite.config.ts
Labels: area: www
