Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

updates
  packages/registry-definition/src/registry-base.ts
  packages/style-engine/test/shadcn-registry/base.test.ts
Labels: area: registry

format
  packages/ui/src/registry/components/breadcrumbs/basic.tsx
  packages/ui/src/registry/components/tooltip/motion.tsx
Labels: area: registry

chore(deps): bump react-aria-components to 1.12.1 (#120)
  packages/registry-definition/src/registry-base.ts
  packages/style-engine/test/shadcn-registry/base.test.ts
  packages/ui/src/registry/components/breadcrumbs/basic.tsx
  packages/ui/src/registry/components/button/basic.tsx
  packages/ui/src/registry/components/button/brutalist.tsx
  packages/ui/src/registry/components/button/outline.tsx
  packages/ui/src/registry/components/button/ripple.tsx
  packages/ui/src/registry/components/tooltip/motion.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: registry

Fix: Correct gradient direction in color scale editor
  www/modules/style-editor/components/color-scale-editor.tsx
Labels: area: www

wip
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/modules/style-editor/components/color-scale-editor.tsx
Labels: area: www

chore(deps): bump react-aria-components to 1.12.2
  pnpm-workspace.yaml
Labels: none

wip
  packages/api/src/routers/style.ts
  packages/registry-definition/src/registry-blocks.ts
  packages/ui/src/__registry__/blocks.tsx
  packages/ui/src/registry/blocks/auth/login/components/login-form.tsx
  packages/ui/src/registry/blocks/auth/login/page.tsx
  packages/ui/src/registry/blocks/calendars/booking/components/booking.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/page.tsx
  www/modules/blocks/block-view.tsx
Labels: area: www, area: registry

wip
  packages/registry-definition/src/registry-blocks.ts
  packages/style-engine/src/constants.ts
  packages/style-engine/src/schemas.ts
  packages/ui/src/components/link.tsx
  packages/ui/src/registry/blocks/auth/login/components/login-form.tsx
  packages/ui/src/registry/blocks/calendars/booking/components/booking.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
  packages/ui/src/registry/components/link/basic.tsx
  pnpm-lock.yaml
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(app)/blocks/page.tsx
  www/modules/blocks/block-view.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/styles/components/style-card.tsx
  www/package.json
Labels: area: www, area: registry

fix: fix type errors
  packages/style-engine/test/fixtures/styles.ts
  packages/ui/src/registry/blocks/calendars/booking/components/booking.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
Labels: area: registry

fixes
  packages/ui/src/registry/blocks/application/account-menu/components/account-menu.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
Labels: area: registry

fix(registry): update blocks (#124)
  packages/api/src/routers/style.ts
  packages/registry-definition/src/registry-blocks.ts
  packages/style-engine/src/constants.ts
  packages/style-engine/src/schemas.ts
  packages/style-engine/test/fixtures/styles.ts
  packages/ui/src/__registry__/blocks.tsx
  packages/ui/src/components/link.tsx
  packages/ui/src/registry/blocks/application/account-menu/components/account-menu.tsx
  packages/ui/src/registry/blocks/auth/login/components/login-form.tsx
  packages/ui/src/registry/blocks/auth/login/page.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/page.tsx
  packages/ui/src/registry/components/link/basic.tsx
  pnpm-lock.yaml
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(app)/blocks/page.tsx
  www/modules/blocks/block-view.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/styles/components/style-card.tsx
  www/package.json
Labels: area: www, area: registry

update style card design
  www/modules/styles/components/community-styles.tsx
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/styles-list.tsx
Labels: area: www

update card button label
  www/modules/styles/components/style-card.tsx
Labels: area: www

fix style list skeleton
  www/modules/styles/components/styles-list.tsx
Labels: area: www

feat(www): enhance style card design (#126)
  www/modules/styles/components/community-styles.tsx
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/styles-list.tsx
Labels: area: www

fix(www): update style installation steps
  www/modules/style-editor/components/code-modal.tsx
Labels: area: www

fix(www): update style installation steps
  packages/ui/src/registry/blocks/application/account-menu/components/account-menu.tsx
  packages/ui/src/registry/blocks/application/notifications/components/notifications.tsx
Labels: area: registry

format
  www/modules/docs/components/components-list.tsx
  www/modules/docs/components/mdx-components.tsx
Labels: area: www

update site color scales
  www/styles/globals.css
Labels: area: www

update default modes
  packages/style-engine/src/constants.ts
Labels: none

scales 50..950
  packages/db/src/constants.ts
  packages/registry-definition/src/registry-tokens.ts
  packages/ui/src/registry/blocks/application/account-menu/components/account-menu.tsx
  packages/ui/src/registry/blocks/application/notifications/components/notifications.tsx
  packages/ui/src/registry/blocks/auth/login/components/login-form.tsx
  packages/ui/src/registry/components/link/basic.tsx
  packages/ui/src/registry/components/toast/basic.tsx
Labels: area: registry

format
  packages/ui/src/registry/blocks/application/account-menu/components/account-menu.tsx
  packages/ui/src/registry/blocks/application/notifications/components/notifications.tsx
Labels: area: registry

add bg-card token
  packages/db/src/constants.ts
  packages/registry-definition/src/registry-tokens.ts
  packages/style-engine/src/constants.ts
  packages/ui/src/registry/blocks/auth/login/components/login-form.tsx
  packages/ui/src/registry/components/card/basic.tsx
  packages/ui/src/registry/components/toast/basic.tsx
  www/modules/docs/components/choices.tsx
  www/modules/style-editor/components/code-modal.tsx
  www/modules/style-editor/components/preview.tsx
  www/styles/globals.css
Labels: area: www, area: registry

remove material style
  packages/db/src/constants.ts
Labels: none

convert site colors
  package.json
  pnpm-lock.yaml
  www/styles/globals.css
Labels: area: www

format
  www/styles/globals.css
Labels: area: www

feat: Convert colors to OKLCH format
  packages/style-engine/package.json
  packages/style-engine/src/core/colors.ts
  pnpm-lock.yaml
  www/package.json
  www/scripts/convert-to-oklch.js
  www/styles/globals.css
Labels: area: www

add missing components editors
  packages/ui/src/helpers/create-dynamic-component.tsx
  www/modules/style-editor/components/components-editor.tsx
Labels: area: www

feat(www): add missing variants in components editor (#134)
  packages/ui/src/helpers/create-dynamic-component.tsx
  www/modules/style-editor/components/components-editor.tsx
Labels: area: www

fix(www): fix adobe icon color
  packages/ui/src/icons.tsx
Labels: none

chore(docs): update readme
  README.md
Labels: documentation

wip
  packages/ui/src/components/loader.tsx
  packages/ui/src/registry/components/loader/line-spinner.tsx
  packages/ui/src/registry/components/loader/line.tsx
  packages/ui/src/registry/components/loader/ring-2.tsx
  packages/ui/src/registry/components/loader/ring.tsx
  packages/ui/src/registry/components/loader/tailspin.tsx
  www/styles/globals.css
Labels: area: www, area: registry

wip
  packages/registry-definition/src/registry-ui.ts
  packages/ui/src/components/loader.tsx
  packages/ui/src/registry/components/loader/ring-2.tsx
  www/modules/style-editor/components/components-editor.tsx
  www/styles/globals.css
Labels: area: www, area: registry

format
  packages/ui/src/registry/components/loader/line-spinner.tsx
Labels: area: registry

update button styles
  packages/registry-definition/src/registry-ui.ts
  packages/style-engine/src/constants.ts
  packages/style-engine/src/schemas.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/registry/components/button/basic.tsx
  packages/ui/src/registry/components/button/ripple.tsx
  packages/ui/src/registry/components/button/shine.tsx
  www/modules/style-editor/components/components-editor.tsx
  www/styles/globals.css
Labels: area: www, area: registry

format
  packages/ui/src/components/button.tsx
  packages/ui/src/registry/components/button/shine.tsx
  www/styles/globals.css
Labels: area: www, area: registry

fix disabled primary btn
  packages/ui/src/registry/components/button/basic.tsx
  www/styles/globals.css
Labels: area: www, area: registry

format
  packages/ui/src/registry/components/button/basic.tsx
  www/styles/globals.css
Labels: area: www, area: registry

minor fixes
  packages/registry-definition/src/registry-ui.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/registry/components/button/basic.tsx
  packages/ui/src/registry/components/calendar/cal.tsx
  www/components/logo.tsx
  www/content/docs/components/tag-group.mdx
  www/modules/style-editor/components/effects-editor.tsx
Labels: area: www, documentation, area: registry

add mode switcher to preview toolbar
  www/app/(app)/style-editor/layout.tsx
  www/modules/style-editor/components/colors-editor.tsx
  www/modules/style-editor/components/preview.tsx
Labels: area: www
