Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

comment uncomplete features in style-editor
  packages/ui/src/registry/components/button/basic.tsx
  www/modules/style-editor/components/style-editor-header.tsx
Labels: area: www, area: registry

format
  packages/ui/src/registry/components/button/basic.tsx
  www/modules/style-editor/components/style-editor-header.tsx
Labels: area: www, area: registry

update port
  www/package.json
Labels: area: www

update port
  www/app/r/[...params]/route.ts
  www/lib/trpc/react.tsx
  www/modules/auth/lib/server.ts
  www/scripts/capture-showcase-blocks.ts
Labels: area: www

wip
  packages/ui/src/registry/blocks/application/notifications/components/notifications.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/booking.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/filters.tsx
  packages/ui/src/registry/components/calendar/basic.tsx
  packages/ui/src/registry/components/card/basic.tsx
  packages/ui/src/registry/components/slider/basic.tsx
  packages/ui/src/registry/components/tag-group/basic.tsx
Labels: area: registry

fix notifications height in blocks showcase
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
Labels: area: registry

format
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/booking.tsx
  packages/ui/src/registry/components/button/basic.tsx
  packages/ui/src/registry/components/calendar/basic.tsx
  packages/ui/src/registry/components/card/basic.tsx
  packages/ui/src/registry/components/slider/basic.tsx
Labels: area: registry

refactor blocks-showcase into cards block
  packages/registry-definition/src/registry-blocks.ts
  packages/ui/src/__registry__/blocks.tsx
  packages/ui/src/registry/blocks/calendars/booking/components/booking.tsx
  packages/ui/src/registry/blocks/showcase/all-components/components/login-form.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/page.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/account-menu.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/backlog.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/booking.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/cards.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/color-editor.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/filters.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/invite-members.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/login-form.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/notifications.tsx
  packages/ui/src/registry/blocks/showcase/cards/components/team-name.tsx
  packages/ui/src/registry/blocks/showcase/cards/page.tsx
  www/components/styles-showcase.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/styles/components/style-card.tsx
  www/scripts/capture-showcase-blocks.ts
Labels: area: www, area: registry

captyre blocks
  packages/registry-definition/src/registry-blocks.ts
  packages/ui/src/__registry__/blocks.tsx
  packages/ui/src/registry/blocks/showcase/cards/page.tsx
  www/public/images/showcase/ghibli-dark.png
  www/public/images/showcase/ghibli-light.png
  www/public/images/showcase/material-dark-mobile.png
  www/public/images/showcase/material-dark.png
  www/public/images/showcase/material-light-mobile.png
  www/public/images/showcase/material-light.png
  www/public/images/showcase/minimalist-dark-mobile.png
  www/public/images/showcase/minimalist-dark.png
  www/public/images/showcase/minimalist-light-mobile.png
  www/public/images/showcase/minimalist-light.png
Labels: area: www, area: registry

make style-card responsive
  www/app/view/[username]/[style]/[block]/providers.tsx
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/styles-list.tsx
Labels: area: www

format
  www/app/view/[username]/[style]/[block]/providers.tsx
  www/modules/styles/components/style-card.tsx
Labels: area: www

fix type errors
  www/modules/styles/components/community-styles.tsx
Labels: area: www

increase preview width
  www/modules/style-editor/components/preview.tsx
Labels: area: www

revert increading width
  www/modules/style-editor/components/preview.tsx
  www/package.json
Labels: area: www

better error handling in style-editor
  www/modules/style-editor/components/style-editor-form.tsx
  www/modules/style-editor/components/style-editor-nav.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
Labels: area: www

fix font selector
  www/modules/styles/components/fonts-selector.tsx
Labels: area: www

add pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, area: ci

updrage to next canary
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Labels: area: www

fixed with glue
  www/modules/style-editor/components/color-scale-editor.tsx
  www/modules/style-editor/components/color-scale.tsx
  www/modules/style-editor/components/color-tokens.tsx
  www/modules/style-editor/components/colors-editor.tsx
  www/modules/style-editor/hooks/use-generated-scales.ts
  www/modules/style-editor/hooks/use-resolved-mode.ts
Labels: area: www

fix preview flash on initial sync
  www/modules/style-editor/components/draft-style-sync.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
Labels: area: www

bump deps
  pnpm-lock.yaml
  www/package.json
Labels: area: www

fix type errors
  pnpm-lock.yaml
  www/app/llm/[[...slug]]/route.ts
Labels: area: www

update www version
  www/package.json
Labels: area: www

wip refactor color editor
  www/modules/style-editor/components/color-scale-editor.tsx
  www/modules/style-editor/components/colors-editor.tsx
Labels: area: www

wip
  pnpm-lock.yaml
  www/app/layout.tsx
  www/hooks/use-debounce.ts
  www/modules/style-editor/components/color-scale-editor.tsx
  www/modules/style-editor/components/color-tokens.tsx
  www/modules/style-editor/components/colors-editor.tsx
  www/modules/style-editor/hooks/use-generated-scales.ts
  www/package.json
Labels: area: www

remove react-scan
  www/app/layout.tsx
Labels: area: www

wip
  www/app/layout.tsx
  www/modules/style-editor/components/color-tokens.tsx
  www/modules/style-editor/components/colors-editor.tsx
Labels: area: www

feat: Add @tanstack/react-form dependency
  package.json
  pnpm-lock.yaml
Labels: none

Refactor: Migrate form components from react-hook-form to tanstack-react-form
  packages/ui/package.json
  packages/ui/src/components/form.tsx
  packages/ui/src/registry/components/form/demos/tanstack-form.tsx
  packages/ui/src/registry/components/form/tanstack-form.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/modules/styles/components/create-style-modal.tsx
  www/package.json
Labels: area: www, area: registry

feat: Integrate TanStack Form and Zod adapter
  packages/ui/package.json
  packages/ui/src/registry/components/form/react-hook-form.tsx
  pnpm-lock.yaml
  www/modules/styles/components/create-style-modal.tsx
  www/package.json
Labels: area: www, area: registry

add tanstack reusable wrappers
  packages/ui/package.json
  packages/ui/src/components/form.tsx
  packages/ui/src/registry/components/form/tanstack-form.tsx
  packages/ui/src/registry/components/select/basic.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Labels: area: www, area: registry

style editor migration wip
  packages/ui/src/registry/components/form/tanstack-form.tsx
  www/app/(app)/style-editor/layout.tsx
  www/app/(marketing)/(root)/page.tsx
  www/app/layout.tsx
  www/components/sidebar.tsx
  www/modules/docs/components/docs-pager.tsx
  www/modules/style-editor/components/code-modal.tsx
  www/modules/style-editor/components/color-scale.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/modules/style-editor/hooks/use-resolved-mode.ts
Labels: area: www, area: registry

wip
  packages/style-engine/src/constants.ts
  packages/style-engine/src/core/colors.ts
  packages/style-engine/src/core/index.ts
  packages/style-engine/src/types.ts
  packages/style-engine/src/utils/restore-defaults.ts
  packages/style-engine/test/fixtures/themes.ts
  pnpm-lock.yaml
  www/components/ui/editable-input.tsx
  www/modules/style-editor/components/colors-editor/accent-emphasis-editor.tsx
  www/modules/style-editor/components/colors-editor/color-adjustments.tsx
  www/modules/style-editor/components/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/components/colors-editor/color-scale.tsx
  www/modules/style-editor/components/colors-editor/color-tokens.tsx
  www/modules/style-editor/components/colors-editor/index.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/modules/style-editor/hooks/use-generated-scales.ts
Labels: area: www

wip refactor style editor
  packages/registry-definition/src/registry-tokens.ts
  packages/style-engine/src/constants.ts
  packages/style-engine/src/core/colors.ts
  packages/style-engine/src/schemas.ts
  packages/style-engine/src/utils/restore-defaults.ts
  packages/style-engine/test/fixtures/themes.ts
  packages/ui/src/registry/components/select/basic.tsx
  www/components/ui/contextual-help.tsx
  www/components/ui/editable-input.tsx
  www/modules/style-editor/components/colors-editor/color-adjustments.tsx
  www/modules/style-editor/components/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/components/colors-editor/color-tokens.tsx
  www/modules/style-editor/components/colors-editor/index.tsx
  www/modules/style-editor/constants.ts
  www/modules/style-editor/context/style-editor-provider.tsx
Labels: area: www, area: registry

wip
  www/modules/style-editor/components/colors-editor/accent-emphasis-editor.tsx
  www/modules/style-editor/components/draft-style-sync.tsx
Labels: area: www

increase debounce
  www/modules/style-editor/components/colors-editor/mode-config.tsx
  www/modules/style-editor/constants.ts
Labels: area: www

fix: types
  package.json
  packages/api/tsconfig.json
  packages/db/src/schemas/style.ts
  packages/db/src/seed.ts
  packages/db/tsconfig.json
  packages/registry/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: format
  packages/registry/package.json
Labels: none

fix: server only
  packages/registry/package.json
  packages/registry/src/index.ts
  www/app/r/[...params]/route.ts
Labels: area: www

fix: build error
  packages/registry/src/ui/__demos__.tsx
Labels: none
