Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

feat: interactive demo
  www/content/docs/components/button.mdx
  www/modules/docs/interactive-demo/index.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
  www/modules/docs/interactive-demo/types.ts
  www/modules/docs/mdx-components.tsx
Labels: area: www, documentation

wip interactive demo
  www/content/docs/components/button.mdx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www, documentation

wip
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

wip
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

we're getting there
  www/modules/docs/code-block/dynamic-code-block.tsx
Labels: area: www

fixed
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

update import
  www/modules/docs/code-block/dynamic-code-block.tsx
Labels: area: www

fix viewtransition animation
  www/modules/docs/demo/demo.client.tsx
Labels: area: www

select interactive demo wip
  packages/registry/src/ui/select/demos/basic.tsx
  www/content/docs/components/select.mdx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
  www/modules/docs/interactive-demo/types.ts
  www/modules/docs/templates/select.ts
Labels: area: www, documentation

wip
  packages/registry/src/ui/select/demos/basic.tsx
  www/modules/docs/interactive-demo/formatter/render.ts
  www/modules/docs/interactive-demo/formatter/types.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

we re getting there
  www/modules/docs/interactive-demo/formatter/render.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

fix
  packages/registry/src/ui/select/demos/basic.tsx
Labels: none

better
  www/content/docs/components/button.mdx
  www/content/docs/components/select.mdx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
  www/modules/docs/interactive-demo/types.ts
  www/modules/docs/templates/button.ts
Labels: area: www, documentation

removed everything to rewrite
  www/content/docs/components/button.mdx
  www/content/docs/components/select.mdx
  www/modules/docs/interactive-demo/formatter/render.ts
  www/modules/docs/interactive-demo/formatter/types.ts
  www/modules/docs/interactive-demo/index.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
  www/modules/docs/interactive-demo/types.ts
  www/modules/docs/mdx-components.tsx
  www/modules/docs/templates/button.ts
  www/modules/docs/templates/select.ts
Labels: area: www, documentation

update username
  README.md
  package.json
  packages/registry/src/ui/dialog/demos/async-form-submission.tsx
  packages/registry/src/ui/dialog/demos/description.tsx
  packages/registry/src/ui/dialog/demos/title.tsx
  packages/registry/src/ui/list-box/demos/links.tsx
  packages/registry/src/ui/menu/demos/link-items.tsx
  www/app/demos/link/page.tsx
  www/app/demos/modal/page.tsx
  www/components/layout/footer.tsx
  www/config/site.tsx
  www/content/docs/(root)/index.mdx
Labels: area: www, documentation

AI made it not me thx opus 4.5
  www/content/docs/components/button.mdx
  www/content/docs/components/text-field.mdx
  www/modules/docs/interactive-demo/controls.tsx
  www/modules/docs/interactive-demo/element-to-code.ts
  www/modules/docs/interactive-demo/index.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
  www/modules/docs/interactive-demo/types.ts
  www/modules/docs/mdx-components.tsx
  www/modules/docs/playgrounds/button.tsx
  www/modules/docs/playgrounds/index.ts
  www/modules/docs/playgrounds/text-field.tsx
Labels: area: www, documentation

highlight interactive demo code
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

add view transition animation
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

refactor
  packages/registry/package.json
  packages/registry/src/playground/index.ts
  packages/registry/src/playground/types.ts
  packages/registry/src/ui/button/demos/playground.tsx
  packages/registry/src/ui/text-field/demos/playground.tsx
  www/content/docs/components/button.mdx
  www/content/docs/components/text-field.mdx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/demo/demo-code-block.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/interactive-demo/controls.tsx
  www/modules/docs/interactive-demo/element-to-code.ts
  www/modules/docs/interactive-demo/index.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
  www/modules/docs/interactive-demo/types.ts
  www/modules/docs/playgrounds/index.ts
Labels: area: www, documentation

lint
  packages/registry/src/playground/types.ts
  packages/registry/src/ui/text-field/demos/playground.tsx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/interactive-demo/element-to-code.ts
  www/modules/docs/interactive-demo/index.ts
  www/modules/docs/interactive-demo/types.ts
  www/modules/docs/mdx-components.tsx
Labels: area: www

fix demo format code
  www/modules/docs/demo/load-demo.tsx
Labels: area: www

fix copy code
  www/modules/docs/demo/demo-code-block.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

fix imports in code
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/interactive-demo/element-to-code.ts
Labels: area: www

clean up
  .gitignore
  biome.json
Labels: none

update copy code logic
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/demo/demo-code-block.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

refactor dynamic code block
  www/modules/docs/code-block/dynamic-code-block.tsx
  www/modules/docs/code-block/dynamic-pre.tsx
  www/modules/docs/code-block/index.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

minor changes
  packages/registry/src/ui/color-slider/demos/playground.tsx
  www/content/docs/components/button.mdx
  www/modules/docs/code-block/dynamic-pre.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
Labels: area: www, documentation

page tabs flickering
  www/modules/docs/page-tabs.tsx
Labels: area: www

refactor toc
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/(app)/docs/components/page.tsx
  www/app/(internal)/playground/page.tsx
  www/app/(marketing)/[slug]/page.tsx
  www/modules/docs/page-tabs.tsx
  www/modules/docs/toc.tsx
Labels: area: www

minor fixes
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/(app)/docs/components/page.tsx
  www/app/(internal)/playground/page.tsx
  www/app/(marketing)/[slug]/page.tsx
  www/modules/docs/page-tabs.tsx
Labels: area: www

wip
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/demo/demo-frame.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/mdx-components.tsx
Labels: area: www

fix toc error
  pnpm-lock.yaml
  www/modules/docs/demo/demo-frame.tsx
  www/modules/docs/toc/index.ts
  www/modules/docs/toc/toc-primitive.tsx
  www/modules/docs/toc/toc.tsx
  www/package.json
Labels: area: www

update Demo
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/mdx-components.tsx
Labels: area: www

update demo names
  packages/registry/src/ui/alert/demos/action.tsx
  packages/registry/src/ui/alert/demos/content.tsx
  packages/registry/src/ui/alert/demos/custom-icon.tsx
  packages/registry/src/ui/alert/demos/default.tsx
  packages/registry/src/ui/alert/demos/title.tsx
  packages/registry/src/ui/dialog/demos/async-form-submission.tsx
  packages/registry/src/ui/file-trigger/demos/default.tsx
  packages/registry/src/ui/file-trigger/demos/directory-selection.tsx
  packages/registry/src/ui/file-trigger/demos/file-types.tsx
  packages/registry/src/ui/file-trigger/demos/media-capture.tsx
  packages/registry/src/ui/file-trigger/demos/multiple-files.tsx
  packages/registry/src/ui/tooltip/demos/with-arrow.tsx
  www/modules/docs/mdx-components.tsx
Labels: area: www

minor fixes
  www/modules/docs/code-block/code-block.tsx
  www/styles/theme.css
Labels: area: www

Code block demo fixes
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/demo/demo-code-block.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

fix: make codeblock scrollable
  www/modules/docs/code-block/code-block.tsx
Labels: area: www

wip interactive demo layout
  packages/registry/src/ui/field/basic.tsx
  www/content/docs/components/alert.mdx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/code-block/dynamic-pre.tsx
  www/modules/docs/interactive-demo/controls.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/toc/toc.tsx
  www/next.config.mjs
Labels: area: www, documentation

update interactive demo layout
  packages/registry/src/ui/select/basic.tsx
  packages/registry/src/ui/text-field/basic.tsx
  www/modules/docs/interactive-demo/controls.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www

bump next
  packages/auth/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/next.config.mjs
  www/package.json
Labels: area: www
