Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

wip controls
  www/content/docs/test.mdx
  www/modules/docs/components/component-preview-tabs.tsx
  www/modules/docs/components/component-preview.tsx
  www/modules/docs/components/mdx-components.tsx
Labels: area: www, documentation

wip controls
  packages/registry/src/ui/button/demos/default.tsx
  www/modules/docs/components/component-preview-controls.tsx
  www/modules/docs/components/component-preview-tabs.tsx
  www/modules/docs/components/component-preview.tsx
Labels: area: www

wip controls
  www/content/docs/test.mdx
  www/modules/docs/components/component-preview-controls.tsx
  www/modules/docs/components/component-preview-tabs.tsx
  www/modules/docs/components/component-preview.tsx
  www/modules/docs/components/dynamic-code-block.tsx
  www/modules/docs/lib/get-file-source.ts
Labels: area: www, documentation

wip
  www/modules/docs/components/component-preview-tabs.tsx
  www/modules/styles/components/active-style-provider.tsx
Labels: area: www

component preview controls
  www/modules/docs/components/component-preview-tabs.tsx
  www/modules/docs/components/dynamic-code-block.tsx
  www/modules/docs/lib/get-component-source.ts
  www/modules/docs/lib/get-file-source.ts
  www/modules/docs/lib/highlight-code.ts
Labels: area: www

format
  www/modules/docs/components/code-block.tsx
  www/modules/docs/components/dynamic-code-block.tsx
  www/modules/docs/components/last-update.tsx
  www/modules/styles/components/active-style-provider.tsx
  www/source.config.ts
  www/tsconfig.json
Labels: area: www

clean up
  www/modules/docs/components/component-preview-controls.tsx
  www/modules/docs/components/component-preview-tabs.tsx
  www/modules/docs/components/component-preview.tsx
  www/modules/docs/components/dynamic-code-block.tsx
  www/modules/docs/lib/code-transform.ts
  www/modules/docs/lib/component-controls.ts
  www/modules/docs/lib/get-file-source.ts
Labels: area: www

code block tabs
  packages/registry/src/ui/tabs/basic.tsx
  www/content/docs/test.mdx
  www/modules/docs/components/code-block-tabs.tsx
  www/modules/docs/components/mdx-components.tsx
  www/modules/styles/atoms/preferences-atom.tsx
  www/source.config.ts
Labels: area: www, documentation

type error fix
  www/modules/docs/components/code-block-tabs.tsx
Labels: area: www

wip mdx components
  www/content-test/docs/meta.json
  www/content-test/docs/test.mdx
  www/modules/docs/components/mdx-components.tsx
Labels: area: www, documentation

fix type errors
  www/modules/docs/lib/code-transform.ts
Labels: area: www

wip
  biome.json
  www/content/docs/components/button.mdx
Labels: area: www, documentation

wip
  www/app/(marketing)/(root)/page.tsx
  www/content-test/docs/meta.json
  www/content-test/docs/test.mdx
Labels: area: www, documentation

remove mdx plugins
  www/modules/docs/components/demo-tabs.tsx
  www/modules/docs/lib/mdx-plugins/file-generator.ts
  www/modules/docs/lib/mdx-plugins/remark-docgen.ts
  www/modules/docs/lib/mdx-plugins/remark-inline-code.ts
  www/modules/docs/lib/mdx-plugins/remark-install.ts
  www/modules/docs/lib/mdx-plugins/utils.ts
Labels: area: www

clean up project
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/(auth)/login/page.tsx
  www/app/(marketing)/(root)/page.tsx
  www/app/(marketing)/[slug]/page.tsx
  www/app/layout.tsx
  www/app/sitemap.ts
  www/components/layout/footer.tsx
  www/components/layout/header.tsx
  www/components/logo.tsx
  www/components/site-theme-selector.tsx
  www/config/index.ts
  www/hooks/use-auto-cycle.ts
  www/hooks/use-auto-toggle.ts
  www/hooks/use-copy-button.ts
  www/knip.json
  www/lib/colors.ts
  www/lib/get-safe-callback-url.ts
  www/lib/github.ts
  www/lib/string.ts
  www/lib/text.ts
  www/modules/auth/lib/utils.ts
Labels: area: www

wip clean up project
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/(app)/docs/components/page.tsx
  www/app/(app)/layout.tsx
  www/app/(auth)/login/page.tsx
  www/app/(internal)/playground/page.tsx
  www/app/(internal)/playground/theme-switcher.tsx
  www/app/(marketing)/[slug]/page.tsx
  www/app/(marketing)/layout.tsx
  www/app/api/auth/[...all]/route.ts
  www/app/api/trpc/[trpc]/route.ts
  www/app/llm/[[...slug]]/route.ts
  www/app/sitemap.ts
  www/components/layout/docs-sidebar.tsx
  www/components/ui/scroll-area.tsx
  www/lib/trpc/server.tsx
  www/modules/auth/client.ts
  www/modules/auth/login-form.tsx
  www/modules/auth/login-modal.tsx
  www/modules/auth/server.ts
  www/modules/auth/user-profile-menu.tsx
  www/modules/docs/components/page-tabs.tsx
  www/modules/docs/hooks/use-toc-thumb.ts
  www/modules/docs/source.tsx
  www/modules/docs/toc.tsx
  www/modules/docs/utils.ts
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/styles/components/create-style-modal.tsx
  www/modules/styles/components/my-styles.tsx
  www/modules/styles/components/styles-page-nav.tsx
  www/modules/styles/hooks/use-active-style.ts
  www/modules/styles/hooks/use-create-style.ts
  www/modules/styles/hooks/use-user-styles.ts
Labels: area: www

wip
  style-editor-review-report.md
  www/modules/style-editor/colors-editor/colors-editor.tsx
  www/modules/style-editor/colors-editor/index.ts
  www/modules/style-editor/components-editor/component-config-section.tsx
  www/modules/style-editor/components-editor/components-editor.tsx
  www/modules/style-editor/components-editor/demos/badge-and-tag-group.tsx
  www/modules/style-editor/components-editor/demos/buttons.tsx
  www/modules/style-editor/components-editor/demos/calendars.tsx
  www/modules/style-editor/components-editor/demos/checkboxes.tsx
  www/modules/style-editor/components-editor/demos/focus-styles.tsx
  www/modules/style-editor/components-editor/demos/inputs.tsx
  www/modules/style-editor/components-editor/demos/list-box-and-menu.tsx
  www/modules/style-editor/components-editor/demos/loaders.tsx
  www/modules/style-editor/components-editor/demos/overlays.tsx
  www/modules/style-editor/components-editor/demos/pickers.tsx
  www/modules/style-editor/components-editor/demos/radios.tsx
  www/modules/style-editor/components-editor/demos/selection.tsx
  www/modules/style-editor/components-editor/demos/slider.tsx
  www/modules/style-editor/components-editor/demos/switch.tsx
  www/modules/style-editor/components-editor/demos/tooltip.tsx
  www/modules/style-editor/components-editor/index.ts
Labels: area: www, documentation

clean up
  packages/registry/package.json
  packages/registry/src/ui/sidebar/basic.tsx
  pnpm-lock.yaml
  www/app/(app)/styles/(styles)/layout.tsx
  www/app/(internal)/playground/_layout.tsx
  www/app/(internal)/playground/demos/tooltip-demo.tsx
  www/modules/blocks/block-view.tsx
  www/modules/style-editor/colors-editor/index.ts
  www/modules/style-editor/components-editor/index.ts
  www/modules/style-editor/effects-editor/index.ts
  www/modules/style-editor/icons-editor/index.ts
  www/modules/style-editor/layout-editor/index.ts
  www/modules/style-editor/live-style-atom.tsx
  www/modules/style-editor/preview.tsx
  www/modules/style-editor/typography-editor/index.ts
  www/modules/styles/use-active-style.ts
  www/package.json
Labels: area: www

fix build errors
  biome.json
  pnpm-lock.yaml
  www/content/docs/components/drawer.mdx
  www/content/docs/components/modal.mdx
  www/content/docs/components/overlay.mdx
  www/content/docs/components/popover.mdx
  www/package.json
Labels: area: www, documentation

add 'open in' menu for demos
  packages/registry/src/ui/menu/basic.tsx
  www/modules/docs/demo.client.tsx
  www/modules/docs/demo.tsx
Labels: area: www

wip
  www/app/(auth)/login/page.tsx
  www/modules/docs/page-tabs.tsx
  www/modules/docs/toc.tsx
Labels: area: www

update intro
  packages/registry/src/ui/link/basic.tsx
  www/components/layout/docs-sidebar.tsx
  www/content/docs/(root)/index.mdx
Labels: area: www, documentation

lint
  www/app/(auth)/login/page.tsx
Labels: area: www

minor fixes
  www/app/(marketing)/(root)/page.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/header.tsx
  www/components/layout/mobile-nav.tsx
  www/config/site.tsx
  www/content/docs/(root)/index.mdx
  www/content/docs/(root)/test.mdx
Labels: area: www, documentation

ui fixes
  www/components/layout/docs-sidebar.tsx
  www/components/logo.tsx
  www/config/site.tsx
Labels: area: www

add llms.txt
  www/content/docs/(root)/changelog.mdx
  www/content/docs/(root)/meta.json
  www/public/llms.txt
Labels: area: www, documentation

fix: lint
  www/config/site.tsx
Labels: area: www

fix logo hidden
  packages/registry/src/ui/sidebar/basic.tsx
  www/components/logo.tsx
Labels: area: www

update navlinks
  www/config/site.tsx
Labels: area: www

remove unused file
  tsconfig.json
Labels: none

wip refactor demo
  www/modules/docs/demo-legacy.tsx
  www/modules/docs/demo.client.tsx
  www/modules/docs/demo/README.md
  www/modules/docs/demo/component-demo.tsx
  www/modules/docs/demo/components/DemoActions.tsx
  www/modules/docs/demo/components/DemoCodePanel.tsx
  www/modules/docs/demo/components/DemoControlsPanel.tsx
  www/modules/docs/demo/components/DemoPreviewFrame.tsx
  www/modules/docs/demo/demo-shell.client.tsx
  www/modules/docs/demo/hooks/use-demo-controls.ts
  www/modules/docs/demo/index.ts
  www/modules/docs/demo/load-demo-payload.server.ts
  www/modules/docs/demo/load-demo-payload.server.tsx
  www/modules/docs/demo/utils/control-attributes.ts
  www/modules/docs/demo/utils/source-transforms.ts
  www/modules/docs/mdx-components.tsx
Labels: area: www, documentation

wip refactor demo
  www/knip.json
  www/modules/docs/code-block/code-block-tabs.tsx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/code-block/dynamic-code-block.tsx
  www/modules/docs/code-block/index.ts
  www/modules/docs/code-transform.ts
  www/modules/docs/demo-controls.tsx
  www/modules/docs/demo-legacy.tsx
  www/modules/docs/demo.client.tsx
  www/modules/docs/demo/README.md
  www/modules/docs/demo/component-controls.ts
  www/modules/docs/demo/component-demo.tsx
  www/modules/docs/demo/control-attributes.ts
  www/modules/docs/demo/demo-actions.tsx
  www/modules/docs/demo/demo-code-panel.tsx
  www/modules/docs/demo/demo-controls-panel.tsx
  www/modules/docs/demo/demo-preview-frame.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/demo/index.ts
  www/modules/docs/demo/load-demo-payload.server.ts
  www/modules/docs/demo/load-demo-payload.server.tsx
  www/modules/docs/demo/source-transforms.ts
  www/modules/docs/demo/use-demo-controls.ts
  www/modules/docs/mdx-components.tsx
Labels: area: www, documentation

wip refactor demo
  www/modules/docs/demo/control-attributes.ts
  www/modules/docs/demo/controls.ts
  www/modules/docs/demo/demo-controls-panel.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/demo/get-file-source.ts
  www/modules/docs/demo/index.ts
  www/modules/docs/demo/source-transforms.ts
  www/modules/docs/demo/use-demo-controls.ts
Labels: area: www

update button playground
  www/content/docs/components/button.mdx
Labels: area: www, documentation

wip refactor demo
  www/modules/docs/demo-new/demo-code-block.tsx
  www/modules/docs/demo-new/demo-controls.tsx
  www/modules/docs/demo-new/demo-frame.tsx
  www/modules/docs/demo-new/demo.client.tsx
  www/modules/docs/demo-new/demo.tsx
  www/modules/docs/demo-new/index.ts
  www/modules/docs/demo-new/load-demo.tsx
  www/modules/docs/demo-new/types.ts
  www/modules/docs/demo-new/use-controls-state.ts
  www/modules/docs/demo-new/utils.ts
  www/modules/docs/mdx-components.tsx
Labels: area: www

wip
  .gitignore
  www/modules/docs/demo-new/utils.ts
Labels: area: www

wip refactor demo
  www/modules/docs/demo-new/demo-code-block.tsx
  www/modules/docs/demo-new/demo-controls.tsx
  www/modules/docs/demo-new/demo-frame.tsx
  www/modules/docs/demo-new/demo.client.tsx
  www/modules/docs/demo-new/demo.tsx
  www/modules/docs/demo-new/load-demo.tsx
  www/modules/docs/demo-new/types.ts
  www/modules/docs/demo-new/use-controls-state.ts
  www/modules/docs/demo-new/utils.ts
Labels: area: www

remove legacy code
  www/modules/docs/demo-new/demo-code-block.tsx
  www/modules/docs/demo-new/demo-controls.tsx
  www/modules/docs/demo-new/demo-frame.tsx
  www/modules/docs/demo-new/demo.client.tsx
  www/modules/docs/demo-new/demo.tsx
  www/modules/docs/demo-new/index.ts
  www/modules/docs/demo-new/types.ts
  www/modules/docs/demo-new/use-controls-state.ts
  www/modules/docs/demo-new/utils.ts
  www/modules/docs/demo/control-attributes.ts
  www/modules/docs/demo/controls.ts
  www/modules/docs/demo/demo-actions.tsx
  www/modules/docs/demo/demo-code-block.tsx
  www/modules/docs/demo/demo-code-panel.tsx
  www/modules/docs/demo/demo-controls-panel.tsx
  www/modules/docs/demo/demo-frame.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/demo/get-file-source.ts
  www/modules/docs/demo/index.ts
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/demo/source-transforms.ts
  www/modules/docs/demo/use-demo-controls.ts
  www/modules/docs/mdx-components.tsx
Labels: area: www

minor updates
  biome.json
  www/modules/docs/demo/index.ts
Labels: area: www

wip
  packages/registry/src/ui/button/demos/default.tsx
  www/content/docs/components/button.mdx
  www/modules/docs/demo/load-demo.tsx
Labels: area: www, documentation
