Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

wip
  www/content/docs/components/toggle-button-group.mdx
  www/src/modules/docs/components-list/components-data.ts
  www/src/registry/__generated__/demos.tsx
  www/src/registry/ui/select/base.tsx
  www/src/registry/ui/select/demos/async-loading.tsx
  www/src/registry/ui/toggle-button-group/base.tsx
  www/src/registry/ui/toggle-button-group/demos/multiple.tsx
  www/src/registry/ui/toggle-button-group/demos/sizes.tsx
  www/src/registry/ui/toggle-button-group/demos/variants.tsx
  www/src/registry/ui/toggle-button-group/demos/vertical.tsx
  www/src/registry/ui/toggle-button-group/demos/with-text.tsx
  www/src/registry/ui/toggle-button-group/examples.tsx
  www/src/registry/ui/toggle-button-group/styles.ts
  www/src/registry/ui/toggle-button-group/types.ts
Labels: area: www, documentation

wip example
  www/content/docs/components/combobox.mdx
  www/src/registry/__generated__/demos.tsx
  www/src/registry/ui/combobox/demos/ios-city-picker.tsx
  www/src/registry/ui/combobox/examples.tsx
Labels: area: www, documentation

add iOS-style city picker to /playground
  www/src/routes/playground.tsx
Labels: area: www

use Autocomplete + ListBox in city picker
  www/src/routes/playground.tsx
Labels: area: www

wip
  www/src/routes/playground.tsx
Labels: area: www

wip
  www/content/docs/components/combobox.mdx
  www/src/registry/__generated__/demos.tsx
  www/src/registry/ui/combobox/demos/ios-city-picker.tsx
  www/src/registry/ui/combobox/examples.tsx
Labels: area: www, documentation

wip
  www/src/registry/ui/command/styles.ts
Labels: area: www

feat: tooltip demos, color/radius params, translucid color
  www/content/docs/components/tooltip.mdx
  www/src/registry/__generated__/demos.tsx
  www/src/registry/examples/overlays.tsx
  www/src/registry/styles.css
  www/src/registry/ui/tooltip/demos/basic.tsx
  www/src/registry/ui/tooltip/demos/container-padding.tsx
  www/src/registry/ui/tooltip/demos/delay.tsx
  www/src/registry/ui/tooltip/demos/flip.tsx
  www/src/registry/ui/tooltip/demos/formatted.tsx
  www/src/registry/ui/tooltip/demos/long-content.tsx
  www/src/registry/ui/tooltip/demos/offset.tsx
  www/src/registry/ui/tooltip/demos/on-link.tsx
  www/src/registry/ui/tooltip/demos/with-arrow.tsx
  www/src/registry/ui/tooltip/demos/with-icon.tsx
  www/src/registry/ui/tooltip/demos/with-keyboard.tsx
  www/src/registry/ui/tooltip/examples.tsx
  www/src/registry/ui/tooltip/meta.ts
  www/src/registry/ui/tooltip/styles.css
  www/src/registry/ui/tooltip/styles.ts
Labels: area: www, documentation

wip drawer
  .claude/launch.json
  www/src/registry/ui/drawer/base.tsx
  www/src/registry/ui/drawer/styles.ts
  www/src/routes/__root.tsx
Labels: area: www

wip
  www/src/registry/ui/drawer/base.tsx
  www/src/registry/ui/drawer/demos/with-form.tsx
  www/src/registry/ui/drawer/styles.ts
  www/src/registry/ui/input/styles.ts
  www/src/routes/playground.tsx
Labels: area: www

wip
  www/src/registry/ui/drawer/styles.ts
Labels: area: www

wip
  www/src/registry/ui/drawer/base.tsx
Labels: area: www

wip drawer
  www/src/registry/ui/drawer/base.legacy.tsx
  www/src/registry/ui/drawer/base.tsx
  www/src/registry/ui/drawer/demos/with-form.tsx
  www/src/registry/ui/drawer/styles.legacy.ts
Labels: area: www

toast wip
  www/content/docs/components/toast.mdx
  www/src/modules/docs/components-list/demos/toast.tsx
  www/src/modules/docs/interactive-demo/element-to-code.ts
  www/src/modules/references/generated/toast.json
  www/src/registry/__generated__/examples.tsx
  www/src/registry/examples/feedback.tsx
  www/src/registry/ui/toast/base.tsx
  www/src/registry/ui/toast/examples.tsx
  www/src/registry/ui/toast/meta.ts
  www/src/registry/ui/toast/styles.ts
  www/src/registry/ui/toast/types.ts
  www/src/routes/__root.tsx
Labels: area: www, documentation

wip tabs
  www/src/modules/references/generated/tab-list.json
  www/src/registry/ui/tabs/base.tsx
  www/src/registry/ui/tabs/demos/variant.tsx
  www/src/registry/ui/tabs/styles.ts
  www/src/registry/ui/tabs/types.ts
Labels: area: www

chore: enable tsgo for vscode workspace
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]
