Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

feat: color engine package
  packages/color-engine/package.json
  packages/color-engine/src/algorithms/leonardo/index.ts
  packages/color-engine/src/algorithms/material/index.ts
  packages/color-engine/src/algorithms/radix/index.ts
  packages/color-engine/src/core/index.ts
  packages/color-engine/src/core/types.ts
  packages/color-engine/src/core/utils.ts
  packages/color-engine/src/index.ts
  packages/color-engine/src/types/apca-w3.d.ts
  packages/color-engine/src/types/ciebase.d.ts
  packages/color-engine/src/types/ciecam02.d.ts
  packages/color-engine/src/types/hsluv.d.ts
  packages/color-engine/tests/index.test.ts
  packages/color-engine/tests/leonardo.test.ts
  packages/color-engine/tests/material.test.ts
  packages/color-engine/tests/radix.test.ts
  packages/color-engine/tests/utils.test.ts
  packages/color-engine/tsconfig.json
  pnpm-lock.yaml
Labels: none

update
  www/src/app/page.tsx
  www/tailwind.config.ts
  www/tsconfig.json
Labels: area: www

update
  www/src/app/page.tsx
Labels: area: www

clean up
  packages/registry-builder/package.json
  packages/registry-builder/src/build.ts
  packages/registry-builder/src/cli.ts
  packages/registry-builder/src/generators/index.ts
  packages/registry-builder/src/generators/item.ts
  packages/registry-builder/src/generators/manifest.ts
  packages/registry-builder/src/index.ts
  packages/registry-builder/tsconfig.json
  pnpm-lock.yaml
Labels: none

clean up
  .changeset/config.json
  packages/contrast-colors/.eslintrc.json
  packages/contrast-colors/.npmignore
  packages/contrast-colors/CHANGELOG.md
  packages/contrast-colors/README.md
  packages/contrast-colors/index.d.ts
  packages/contrast-colors/index.js
  packages/contrast-colors/lib/backgroundcolor.js
  packages/contrast-colors/lib/chroma-plus.js
  packages/contrast-colors/lib/color.js
  packages/contrast-colors/lib/curve.js
  packages/contrast-colors/lib/theme.js
  packages/contrast-colors/lib/utils.js
  packages/contrast-colors/moon.yml
  packages/contrast-colors/package.json
  packages/contrast-colors/test/backgroundColor.test.js
  packages/contrast-colors/test/colorSetters.test.js
  packages/contrast-colors/test/contrast.test.js
  packages/contrast-colors/test/convertColorValue.test.js
  packages/contrast-colors/test/createScale.test.js
  packages/contrast-colors/test/minPositive.test.js
  packages/contrast-colors/test/ratioName.test.js
  packages/contrast-colors/test/searchColors.test.js
  packages/contrast-colors/test/theme.test.js
  packages/contrast-colors/test/themeSetters.test.js
Labels: documentation

update config
  .changeset/config.json
Labels: none

update lock file
  pnpm-lock.yaml
Labels: none

feat: colors package
  packages/color-engine/package.json
  packages/color-engine/scripts/compare-libraries.ts
  packages/color-engine/src/algorithms/leonardo/background-color.ts
  packages/color-engine/src/algorithms/leonardo/color.ts
  packages/color-engine/src/algorithms/leonardo/index.ts
  packages/color-engine/src/algorithms/leonardo/theme.ts
  packages/color-engine/src/algorithms/leonardo/utils.ts
  packages/color-engine/src/algorithms/material/index.ts
  packages/color-engine/src/algorithms/radix/index.ts
  packages/color-engine/src/core/index.ts
  packages/color-engine/src/core/types.ts
  packages/color-engine/src/core/utils.ts
  packages/color-engine/src/index.ts
  packages/color-engine/src/types.ts
  packages/color-engine/src/types/apca-w3.d.ts
  packages/color-engine/src/types/ciebase.d.ts
  packages/color-engine/src/types/ciecam02.d.ts
  packages/color-engine/src/types/hsluv.d.ts
  packages/color-engine/src/utils/curve.ts
  packages/color-engine/tests/index.test.ts
  packages/color-engine/tests/leonardo.test.ts
  packages/color-engine/tests/material.test.ts
  packages/color-engine/tests/migration-baseline.test.ts
  packages/color-engine/tests/radix.test.ts
  packages/color-engine/tests/utils.test.ts
Labels: none

add playground, fix some bugs
  .gitignore
  packages/color-engine/package.json
  packages/color-engine/src/algorithms/leonardo/index.ts
  packages/color-engine/src/algorithms/leonardo/theme.ts
  packages/color-engine/tests/index.test.ts
  packages/registry/src/ui/slider/basic.tsx
  pnpm-lock.yaml
  www/app/(internal)/internal/page.tsx
  www/package.json
Labels: area: www

refactor from class to functional
  .changeset/config.json
  packages/color-engine/src/algorithms/leonardo/background-color.ts
  packages/color-engine/src/algorithms/leonardo/color.ts
  packages/color-engine/src/algorithms/leonardo/theme.ts
  packages/colors/package.json
  packages/colors/scripts/compare-libraries.ts
  packages/colors/src/algorithms/leonardo/generate.ts
  packages/colors/src/algorithms/leonardo/index.ts
  packages/colors/src/algorithms/leonardo/utils.ts
  packages/colors/src/algorithms/material/index.ts
  packages/colors/src/index.ts
  packages/colors/src/types.ts
  packages/colors/src/utils/curve.ts
  packages/colors/tests/__snapshots__/snapshot-baseline.test.ts.snap
  packages/colors/tests/index.test.ts
  packages/colors/tests/material.test.ts
  packages/colors/tests/migration-baseline.test.ts
  packages/colors/tests/snapshot-baseline.test.ts
  packages/colors/tsconfig.json
  pnpm-lock.yaml
Labels: none

update colors playground
  www/app/(internal)/internal/page.tsx
Labels: area: www

wip
  packages/core/src/utils/create-dynamic-component.tsx
  packages/registry/package.json
  packages/registry/src/base/base.ts
  pnpm-lock.yaml
Labels: none

new core package wip
  packages/core/src/__generated__/base.ts
  packages/core/src/__generated__/blocks.ts
  packages/core/src/__generated__/hooks.ts
  packages/core/src/__generated__/icons.ts
  packages/core/src/__generated__/lib.ts
  packages/core/src/__generated__/types.ts
  packages/core/src/__generated__/ui.ts
  packages/registry/package.json
  packages/registry/scripts/build-core.ts
  packages/registry/src/base/base.ts
  packages/registry/src/types.ts
  packages/shadcn-adapter/package.json
  pnpm-lock.yaml
  www/package.json
Labels: area: www

wip
  packages/core/package.json
  packages/core/src/__generated__/types.ts
  packages/core/src/__registry__/base.ts
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/hooks.ts
  packages/core/src/__registry__/icons.ts
  packages/core/src/__registry__/lib.ts
  packages/core/src/__registry__/ui.ts
  packages/core/src/index.ts
  packages/core/src/shadcn/generator.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/theme.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/style/index.ts
  packages/core/src/style/theme.ts
  packages/core/src/types.ts
  packages/registry/package.json
  packages/registry/scripts/build-core.ts
  packages/registry/scripts/build-internal-registry.ts
  packages/registry/scripts/build-registry.ts
  packages/registry/src/types.ts
  pnpm-lock.yaml
Labels: none

wip
  packages/core/package.json
  packages/core/src/__registry__/icons.ts
  packages/core/src/shadcn/generator.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/theme.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/style/client.tsx
  packages/core/src/style/index.ts
  packages/core/src/style/theme.ts
  packages/core/src/variants/index.ts
  packages/registry/package.json
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/create-icon.tsx
  packages/registry/src/icons/registry.ts
  pnpm-lock.yaml
  www/components/marketing/featured-styles-showcase.tsx
  www/package.json
Labels: area: www

wip
  .gitignore
  packages/colors/biome.json
  packages/colors/package.json
  packages/colors/scripts/compare-libraries.ts
  packages/colors/src/algorithms/contrast/defaults.ts
  packages/colors/src/algorithms/contrast/generate.ts
  packages/colors/src/algorithms/contrast/index.ts
  packages/colors/src/algorithms/contrast/utils.ts
  packages/colors/src/algorithms/material/defaults.ts
  packages/colors/src/algorithms/material/index.ts
  packages/colors/src/create-theme.ts
  packages/colors/src/index.ts
  packages/colors/src/types.ts
  packages/colors/src/utils/curve.ts
  packages/colors/tests/__snapshots__/snapshot-baseline.test.ts.snap
  packages/colors/tests/index.test.ts
  packages/colors/tests/material.test.ts
  packages/colors/tests/migration-baseline.test.ts
  packages/colors/tests/snapshot-baseline.test.ts
  packages/colors/tsconfig.json
  pnpm-lock.yaml
  refactor-plan.md
Labels: documentation

update material algorithm utils
  packages/colors/biome.json
  packages/colors/package.json
  packages/colors/src/algorithms/material/defaults.ts
  packages/colors/src/algorithms/material/index.ts
  packages/colors/src/constants.ts
  packages/colors/src/contrast/curve.ts
  packages/colors/src/contrast/defaults.ts
  packages/colors/src/contrast/generate.ts
  packages/colors/src/contrast/index.ts
  packages/colors/src/contrast/types.ts
  packages/colors/src/contrast/utils.ts
  packages/colors/src/create-theme.ts
  packages/colors/src/index.ts
  packages/colors/src/material/README.md
  packages/colors/src/material/constants.ts
  packages/colors/src/material/index.ts
  packages/colors/src/material/schema.ts
  packages/colors/src/material/types.ts
  packages/colors/src/types.ts
  packages/colors/tests/index.test.ts
  packages/colors/tests/material.test.ts
Labels: documentation

update @dotui/colors api
  packages/colors/src/constants.ts
  packages/colors/src/contrast/defaults.ts
  packages/colors/src/contrast/index.ts
  packages/colors/src/contrast/schema.ts
  packages/colors/src/contrast/theme.test.ts
  packages/colors/src/contrast/theme.ts
  packages/colors/src/index.ts
  packages/colors/src/material/constants.ts
  packages/colors/src/material/index.ts
  packages/colors/src/material/types.ts
  packages/colors/src/schema.ts
  packages/colors/src/shared/constants.ts
  packages/colors/src/shared/types.ts
  packages/colors/src/theme.test.ts
  packages/colors/src/theme.ts
Labels: none

update refactor plan
  refactor-plan.md
Labels: documentation

fix: align dependency versions across workspace
  packages/api/package.json
  packages/auth/package.json
  packages/db/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
Labels: area: www

feat(core): add schemas, style providers, and createDynamicComponent
  packages/core/package.json
  packages/core/src/components/create-dynamic-component.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.ts
  packages/core/src/schemas/colors.ts
  packages/core/src/schemas/components.ts
  packages/core/src/schemas/effects.ts
  packages/core/src/schemas/icons.ts
  packages/core/src/schemas/index.ts
  packages/core/src/schemas/style.ts
  packages/core/src/schemas/theme.ts
  packages/core/src/schemas/typography.ts
  packages/core/src/schemas/variants.ts
  packages/core/src/style/client.tsx
  packages/core/src/style/index.ts
  packages/core/src/style/provider.tsx
  packages/core/src/style/theme-provider.tsx
  packages/core/src/style/variants-provider.tsx
  packages/core/src/types.ts
  packages/core/src/utils/create-dynamic-component.tsx
  packages/core/src/variants/index.ts
  pnpm-lock.yaml
  refactor-plan.md
Labels: documentation

feat(db): migrate to single config column schema
  .github/workflows/ci.yml
  .github/workflows/db-migrate.yml
  packages/api/package.json
  packages/api/src/routers/style.ts
  packages/core/package.json
  packages/core/src/schemas/typography.ts
  packages/db/drizzle/0000_romantic_franklin_storm.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/package.json
  packages/db/src/constants.ts
  packages/db/src/schemas/style.ts
  packages/db/src/seed.ts
  pnpm-lock.yaml
  refactor-plan.md
Labels: documentation, area: ci

feat(core): port shadcn-adapter to @dotui/core/shadcn
  packages/core/package.json
  packages/core/src/__registry__/index.ts
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/index.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/shadcn/transforms/icons.ts
  packages/core/src/shadcn/transforms/imports.ts
  packages/core/src/shadcn/transforms/index.ts
  packages/core/src/shadcn/transforms/pipeline.ts
  packages/core/src/shadcn/transforms/types.ts
  packages/db/package.json
  packages/db/scripts/migrate-to-config.sql
  packages/db/src/constants.ts
  packages/registry/src/index.ts
  pnpm-lock.yaml
Labels: none

chore: remove shadcn-adapter and transformers packages
  .changeset/config.json
  packages/core/package.json
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
  packages/shadcn-adapter/package.json
  packages/shadcn-adapter/src/generators/all.ts
  packages/shadcn-adapter/src/generators/base.ts
  packages/shadcn-adapter/src/generators/index.ts
  packages/shadcn-adapter/src/generators/item.ts
  packages/shadcn-adapter/src/generators/registry.ts
  packages/shadcn-adapter/src/generators/theme.ts
  packages/shadcn-adapter/src/index.ts
  packages/shadcn-adapter/src/transform.ts
  packages/shadcn-adapter/tsconfig.json
  packages/transformers/package.json
  packages/transformers/src/index.ts
  packages/transformers/src/pipeline.ts
  packages/transformers/src/transforms/icons.ts
  packages/transformers/src/transforms/imports.ts
  packages/transformers/src/transforms/index.ts
  packages/transformers/src/types.ts
  packages/transformers/tsconfig.json
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
  www/lib/registry/index.ts
  www/package.json
Labels: area: www

wip: update www for new config schema structure
  packages/registry/src/constants.ts
  packages/registry/src/providers.tsx
  www/modules/style-editor/use-update-style-mutation.ts
  www/modules/styles/use-create-style.ts
Labels: area: www

refactor(www): migrate to core StyleProvider and new config schema
  packages/core/src/schemas/style.ts
  packages/core/src/style/index.ts
  packages/core/src/style/provider.tsx
  packages/registry/package.json
  packages/registry/src/constants.ts
  packages/registry/src/icons/create-icon.tsx
  packages/registry/src/providers.tsx
  www/app/r/[...params]/route.ts
  www/app/view/[username]/[style]/[block]/_layout.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/modules/docs/demo/demo-frame.tsx
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/example.tsx
  www/modules/styles/active-style-provider.tsx
  www/modules/styles/create-style-modal.tsx
  www/tsconfig.json
Labels: area: www

fix(www): prevent hydration mismatch in ActiveStyleProvider
  www/modules/styles/active-style-provider.tsx
Labels: area: www

docs: add architecture cleanup plan
  PLAN.md
  refactor-plan.md
  www/app/r/[...params]/route.ts
Labels: area: www, documentation

refactor(core): use StyleConfig directly, remove createStyle abstraction
  packages/core/package.json
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
Labels: area: www

wip
  www/app/(app)/_style-editor/colors/page.tsx
  www/app/(app)/_style-editor/components/page.tsx
  www/app/(app)/_style-editor/effects/page.tsx
  www/app/(app)/_style-editor/icons/page.tsx
  www/app/(app)/_style-editor/layout.tsx
  www/app/(app)/_style-editor/layout/page.tsx
  www/app/(app)/_style-editor/typography/page.tsx
  www/app/(internal)/internal/page.tsx
  www/tsconfig.json
Labels: area: www

refactor(www): finalize style-editor UI shell, fix HSL format
  www/app/(app)/style-editor/colors/page.tsx
  www/app/(app)/style-editor/components/page.tsx
  www/app/(app)/style-editor/effects/page.tsx
  www/app/(app)/style-editor/icons/page.tsx
  www/app/(app)/style-editor/layout.tsx
  www/app/(app)/style-editor/layout/page.tsx
  www/app/(app)/style-editor/typography/page.tsx
  www/modules/style-editor/colors-editor/color-scale.tsx
  www/modules/style-editor/colors-editor/tokens-table.tsx
  www/next.config.mjs
Labels: area: www

clean up
  PLAN.md
  pnpm-workspace.yaml
  tw-plugins/tailwindcss-autocontrast/CHANGELOG.md
  tw-plugins/tailwindcss-autocontrast/README.md
  tw-plugins/tailwindcss-autocontrast/package.json
  tw-plugins/tailwindcss-autocontrast/src/index.d.ts
  tw-plugins/tailwindcss-autocontrast/src/index.js
  tw-plugins/tailwindcss-with/README.md
  tw-plugins/tailwindcss-with/package.json
  tw-plugins/tailwindcss-with/src/index.d.ts
  tw-plugins/tailwindcss-with/src/index.js
Labels: documentation

format
  packages/colors/src/contrast/theme.ts
  packages/colors/src/shared/constants.ts
  www/modules/docs/demo/demo-frame.tsx
  www/modules/style-editor/icons-editor/icons-editor.tsx
  www/modules/style-editor/layout-editor/layout-editor.tsx
Labels: area: www

fix lint errors
  packages/colors/src/contrast/theme.ts
  www/app/view/[username]/[style]/[block]/_layout.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/modules/style-editor/components-editor/component-config.tsx
  www/modules/style-editor/style-editor-header.tsx
  www/modules/style-editor/style-editor-provider.tsx
Labels: area: www

update lock file
  pnpm-lock.yaml
Labels: none

add missing export
  packages/core/package.json
Labels: none

fix(core): use package import for __registry__/variants
  packages/core/src/schemas/variants.ts
Labels: none

fix(core): add build script for proper turbo dependency chain
  packages/core/package.json
  packages/core/src/schemas/variants.ts
  packages/core/tsconfig.json
Labels: none

refactor: update tsconfigs with @dotui/core/* path aliases
  packages/api/tsconfig.json
  packages/core/tsconfig.json
  packages/db/tsconfig.json
  packages/registry/tsconfig.json
  www/tsconfig.json
Labels: area: www

refactor(core): convert relative imports to absolute @dotui/core/* imports
  packages/core/src/index.ts
  packages/core/src/react/context.ts
  packages/core/src/react/dynamic-component.tsx
  packages/core/src/react/style-provider.tsx
  packages/core/src/schemas/icons.ts
  packages/core/src/schemas/variants.ts
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
Labels: none
