Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

fix type errors
  www/app/(app)/layout.tsx
  www/app/(app)/providers.tsx
  www/modules/style-editor/components/preview.tsx
Labels: area: www

fix biome tw directives
  biome.json
  package.json
  pnpm-lock.yaml
  www/styles/base.css
Labels: area: www

update (header)
  www/app/(app)/(header)/@pageHeader/blocks/page.tsx
  www/app/(app)/(header)/@pageHeader/default.tsx
  www/app/(app)/(header)/@pageHeader/styles/page.tsx
  www/app/(app)/(header)/blocks/[category]/page.tsx
  www/app/(app)/(header)/blocks/layout.tsx
  www/app/(app)/(header)/blocks/page.tsx
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/(app)/(header)/layout.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/components/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/effects/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/icons/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/layout/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/typography/page.tsx
  www/app/(app)/(header)/styles/(styles)/community/page.tsx
  www/app/(app)/(header)/styles/(styles)/layout.tsx
  www/app/(app)/(header)/styles/(styles)/my-styles/page.tsx
  www/app/(app)/(header)/styles/(styles)/page.tsx
Labels: area: www

fix build errors
  packages/api/src/routers/style.ts
  packages/registry/src/_style-system/shadcn-registry/transformers/index.ts
  packages/registry/src/ui/modal/basic.tsx
  www/app/(app)/style-editor/layout.tsx
  www/modules/blocks/block-view.tsx
  www/modules/style-editor/components/components-editor/demos/inputs.tsx
  www/modules/style-editor/components/components-editor/demos/list-box-and-menu.tsx
  www/modules/style-editor/components/components-editor/demos/pickers.tsx
  www/modules/style-editor/components/components-editor/demos/selection.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/styles/components/active-style-selector.tsx
  www/next.config.mjs
Labels: area: www

minor fixes
  package.json
  packages/api/src/routers/style.ts
  packages/registry/package.json
  packages/registry/src/_style-system/schemas.ts
  packages/tailwindcss-autocontrast/package.json
  pnpm-lock.yaml
  www/package.json
Labels: area: www

fix
  packages/registry/src/_style-system/schemas.ts
  packages/registry/src/ui/registry.ts
Labels: none

fix lint errors
  biome.json
  packages/registry/src/_helpers/variants-provider.tsx
  packages/registry/src/lib/context/index.tsx
  packages/registry/src/ui/search-field/demos/label.tsx
  packages/registry/src/ui/search-field/demos/read-only.tsx
  packages/registry/src/ui/slider/index.tsx
  packages/registry/src/ui/tag-group/basic.tsx
  packages/registry/src/ui/tanstack-form/index.tsx
  packages/registry/src/ui/toast/basic.tsx
  www/app/(internal)/internal/page.tsx
  www/app/(internal)/playground/demos/index.ts
  www/app/(internal)/playground/demos/pagination-demo.tsx
  www/app/(internal)/playground/demos/slider-demo.tsx
  www/app/(internal)/playground/page.tsx
  www/app/(marketing)/[slug]/page.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/modules/auth/components/user-profile-menu.tsx
  www/modules/docs/components/code.tsx
  www/modules/docs/components/component-preview-client.tsx
  www/modules/docs/components/install-tabs.tsx
  www/modules/style-editor/components/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/components/colors-editor/color-tokens.tsx
  www/modules/style-editor/components/components-editor/demos/overlays.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/styles/components/active-style-selector.tsx
  www/styles/docs.css
Labels: area: www

wip components preview
  www/app/(app)/(header)/docs/components/page.tsx
Labels: area: www

wip
  packages/registry/src/ui/color-picker/basic.tsx
  packages/registry/src/ui/dialog/basic.tsx
  packages/registry/src/ui/drawer/basic.tsx
  www/app/(app)/(header)/docs/components/page.tsx
  www/app/demos/color-area/page.tsx
  www/app/demos/color-field/page.tsx
  www/app/demos/color-picker/page.tsx
  www/app/demos/color-slider/page.tsx
  www/app/demos/color-swatch-picker/page.tsx
  www/app/demos/modal/page.tsx
  www/app/demos/popover/page.tsx
  www/app/demos/tooltip/page.tsx
  www/hooks/use-auto-cycle.ts
  www/hooks/use-auto-toggle.ts
Labels: area: www

wip
  packages/registry/src/_helpers/font-loader.tsx
  www/app/(app)/(header)/@pageHeader/docs/components/page.tsx
  www/app/(app)/(header)/docs/components/page.tsx
  www/app/(app)/layout.tsx
  www/app/(marketing)/(root)/page.tsx
  www/app/demos/group/page.tsx
Labels: area: www

disable font loading for test
  packages/registry/src/_helpers/theme-provider.tsx
Labels: none

load popular fonts with next/font
  packages/registry/src/_helpers/font-loader.tsx
  packages/registry/src/_helpers/theme-provider.tsx
  www/app/layout.tsx
  www/lib/fonts.ts
Labels: area: www

fix lint errors
  www/app/(app)/(header)/docs/components/page.tsx
Labels: area: www

update changeset
  .changeset/new-pumas-turn.md
Labels: documentation

update link
  www/components/layout/mobile-nav.tsx
Labels: area: www

enhance components page
  packages/registry/src/ui/command/basic.tsx
  packages/registry/src/ui/date-picker/basic.tsx
  packages/registry/src/ui/toast/basic.tsx
  www/app/(app)/(header)/docs/components/page.tsx
  www/app/demos/accordion/page.tsx
  www/app/demos/avatar/page.tsx
  www/app/demos/badge/page.tsx
  www/app/demos/color-field/page.tsx
  www/app/demos/combobox/page.tsx
  www/app/demos/command/page.tsx
  www/app/demos/date-field/page.tsx
  www/app/demos/date-picker/page.tsx
  www/app/demos/input-group/page.tsx
  www/app/demos/input/page.tsx
  www/app/demos/layout.tsx
  www/app/demos/menu/page.tsx
  www/app/demos/search-field/page.tsx
  www/app/demos/select/page.tsx
  www/app/demos/table/page.tsx
  www/app/demos/text-area/page.tsx
  www/app/demos/text-field/page.tsx
  www/app/demos/time-field/page.tsx
  www/app/demos/toast/page.tsx
Labels: area: www

better components page on mobile
  www/app/(app)/(header)/docs/components/page.tsx
Labels: area: www

update components page
  www/app/(app)/(header)/docs/components/page.tsx
Labels: area: www

wip new docs layout
  www/app/(app)/(header)/@pageHeader/[...catchAll]/page.tsx
  www/app/(app)/(header)/@pageHeader/blocks/page.tsx
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/content/docs/components/button/docs.mdx
  www/content/docs/components/button/index.mdx
  www/modules/docs/components/component-preview-client.tsx
  www/modules/docs/components/docs-pager.tsx
Labels: area: www, documentation

new docs layout wip
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/(app)/(header)/docs/components/page.tsx
  www/components/ui/scroll-area.tsx
  www/content/docs/(root)/installation.mdx
  www/content/docs/components/button.mdx
  www/content/docs/components/button/docs.mdx
  www/modules/docs/components/example.tsx
  www/modules/docs/components/mdx-components.tsx
  www/modules/docs/components/page-tabs.tsx
  www/modules/docs/components/toc.tsx
Labels: area: www, documentation

minor fixes
  packages/registry/src/ui/tabs/basic.tsx
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/(app)/(header)/docs/components/page.tsx
  www/components/ui/scroll-area.tsx
  www/modules/docs/components/page-tabs.tsx
Labels: area: www

minor fixes
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/content/docs/components/button.mdx
  www/modules/docs/components/example.tsx
  www/modules/docs/components/mdx-components.tsx
Labels: area: www, documentation

persist docs page tabs state in url
  pnpm-lock.yaml
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/providers.tsx
  www/modules/docs/components/page-tabs.tsx
  www/modules/docs/components/toc.tsx
  www/package.json
Labels: area: www

no persist in page tabs
  www/modules/docs/components/page-tabs.tsx
Labels: area: www

minor ui fixes
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/modules/docs/components/install-tabs.tsx
Labels: area: www

wip
  package.json
  www/content/docs/components/button.mdx
  www/modules/docs/components/code-block-client.tsx
  www/modules/docs/components/component-preview-client.tsx
  www/modules/docs/components/component-preview.tsx
  www/modules/docs/components/page-tabs.tsx
  www/modules/styles/components/active-style-provider.tsx
  www/modules/styles/components/active-style-selector.tsx
Labels: area: www, documentation

fix
  package.json
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/(marketing)/(root)/page.tsx
  www/app/(marketing)/layout.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/footer.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/content/docs/components/button.mdx
  www/modules/docs/components/code-block-client.tsx
  www/modules/docs/components/page-tabs.tsx
Labels: area: www, documentation

update docs layout
  packages/registry/src/ui/tabs/basic.tsx
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/(marketing)/(root)/page.tsx
  www/content/docs/(root)/index.mdx
  www/modules/docs/components/page-tabs.tsx
Labels: area: www, documentation

docs layout fixes
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/(app)/(header)/layout.tsx
  www/components/layout/footer.tsx
  www/components/layout/page-layout.tsx
  www/modules/docs/components/last-update.tsx
Labels: area: www

feat: copy markdown, docs pager
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/content/docs/(root)/meta.json
  www/hooks/use-copy-to-clipboard.ts
  www/modules/docs/components/docs-copy-page.tsx
  www/modules/docs/components/docs-pager.tsx
  www/next.config.mjs
Labels: area: www, documentation

fix lint errors
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/content/docs/(root)/meta.json
  www/modules/docs/components/docs-copy-page.tsx
Labels: area: www, documentation

clean up home page animation
  www/components/marketing/featured-styles-showcase.tsx
Labels: area: www

better home page for mobile
  www/app/(marketing)/(root)/page.tsx
  www/components/marketing/featured-styles-showcase.tsx
Labels: area: www

adjust overscroll behavior
  www/app/layout.tsx
Labels: area: www

update layout
  www/app/(app)/(header)/@pageHeader/[...catchAll]/page.tsx
  www/app/(app)/(header)/@pageHeader/blocks/page.tsx
  www/app/(app)/(header)/@pageHeader/default.tsx
  www/app/(app)/(header)/@pageHeader/docs/components/page.tsx
  www/app/(app)/(header)/@pageHeader/styles/page.tsx
  www/app/(app)/(header)/layout.tsx
  www/app/(app)/(header)/styles/(styles)/layout.tsx
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(app)/blocks/layout.tsx
  www/app/(app)/blocks/page.tsx
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/(app)/docs/components/page.tsx
  www/app/(app)/layout.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/components/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/effects/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/icons/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/layout/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/typography/page.tsx
  www/app/(app)/styles/(styles)/community/page.tsx
  www/app/(app)/styles/(styles)/layout.tsx
  www/app/(app)/styles/(styles)/my-styles/page.tsx
  www/app/(app)/styles/(styles)/page.tsx
  www/app/(marketing)/layout.tsx
  www/app/layout.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/header.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/modules/blocks/blocks-nav.tsx
  www/modules/docs/components/page-tabs.tsx
  www/modules/style-editor/components/style-editor-nav.tsx
  www/modules/styles/components/styles-page-nav.tsx
Labels: area: www

add theme toggle
  www/app/(marketing)/layout.tsx
  www/app/demos/disable-focus-trap.tsx
  www/app/demos/layout.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/header.tsx
  www/components/layout/page-layout.tsx
  www/components/logo.tsx
  www/components/site-theme-toggle.tsx
  www/components/ui/theme-mode-switch.tsx
Labels: area: www

lint
  www/components/layout/header.tsx
  www/components/ui/theme-mode-switch.tsx
Labels: area: www

add callback url when login
  www/app/(app)/layout.tsx
  www/app/(auth)/login/page.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/header.tsx
  www/modules/auth/components/login-form.tsx
  www/modules/auth/lib/utils.ts
  www/modules/styles/components/my-styles.tsx
Labels: area: www

wip componentPreview
  www/modules/docs/components/component-preview-tabs.tsx
  www/modules/docs/components/component-preview.tsx
  www/modules/docs/lib/get-file-source.ts
Labels: area: www

add view transition animation to codeblock
  www/modules/docs/components/component-preview-tabs.tsx
  www/styles/docs.css
Labels: area: www

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]
