Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

minor fixes
  packages/registry/src/playground/types.ts
  packages/registry/src/ui/alert/demos/playground.tsx
  www/content/docs/components/alert.mdx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/interactive-demo/index.ts
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www, documentation

fix
  www/modules/docs/code-block/code-block.tsx
Labels: area: www

wip api reference
  .gitignore
  www/content/docs/components/button.mdx
  www/modules/docs/api-reference/api-reference.tsx
  www/modules/docs/api-reference/groups.ts
  www/modules/docs/api-reference/index.ts
  www/modules/docs/api-reference/parser.ts
  www/modules/docs/api-reference/prop-table.client.tsx
  www/modules/docs/api-reference/types.ts
  www/modules/docs/mdx-components.tsx
  www/source.config.ts
Labels: area: www, documentation

wip
  www/content/docs/components/button.mdx
  www/modules/docs/api-reference/parser.ts
  www/modules/docs/mdx-components.tsx
  www/source.config.ts
Labels: area: www, documentation

wip
  www/modules/docs/api-reference/api-reference.tsx
  www/modules/docs/api-reference/grouping.ts
  www/modules/docs/api-reference/groups.ts
  www/modules/docs/api-reference/highlight.ts
  www/modules/docs/api-reference/index.ts
  www/modules/docs/api-reference/parser.ts
  www/modules/docs/api-reference/prop-table.tsx
Labels: area: www

wip
  www/modules/docs/api-reference/api-reference.tsx
  www/modules/docs/api-reference/prop-table.tsx
Labels: area: www

fix type errors
  packages/registry/src/ui/button/types.ts
  www/modules/docs/api-reference/groups.ts
  www/modules/docs/api-reference/types.ts
  www/modules/docs/mdx-components.tsx
  www/scripts/api-docs-builder/src/componentHandler.ts
  www/scripts/api-docs-builder/src/formatter.ts
  www/scripts/api-docs-builder/src/index.ts
Labels: area: www

update button.mdx
  www/content/docs/components/button.mdx
Labels: area: www, documentation

rewrite props table
  pnpm-lock.yaml
  www/modules/docs/api-reference/props-table.tsx
  www/modules/docs/api-reference/reference.tsx
  www/modules/docs/mdx-components.tsx
  www/package.json
Labels: area: www

fix highlight
  www/modules/docs/api-reference/props-table.tsx
  www/modules/docs/api-reference/reference.tsx
Labels: area: www

group props
  www/modules/docs/api-reference/disclosure-group.tsx
  www/modules/docs/api-reference/props-table.tsx
  www/modules/docs/api-reference/reference.tsx
  www/modules/docs/mdx-components.tsx
  www/scripts/api-docs-builder/src/index.ts
  www/scripts/api-docs-builder/src/order.json
Labels: area: www

update props table
  www/modules/docs/api-reference/props-table.tsx
Labels: area: www

responsive props table
  www/modules/docs/api-reference/props-table.tsx
Labels: area: www

minor ui changes
  www/modules/docs/api-reference/props-table.tsx
Labels: area: www

lint
  biome.json
  www/modules/docs/api-reference/props-table.tsx
  www/scripts/api-docs-builder/src/componentHandler.ts
  www/scripts/api-docs-builder/src/index.ts
Labels: area: www

wip
  packages/registry/src/ui/button/types.ts
  www/modules/docs/api-reference/generated/button.json
  www/modules/docs/api-reference/generated/combobox-content.json
  www/modules/docs/api-reference/generated/command-content.json
  www/modules/docs/api-reference/generated/list-box.json
  www/modules/docs/api-reference/generated/menu-content.json
  www/modules/docs/api-reference/generated/menu-section.json
  www/modules/docs/api-reference/generated/select-content.json
  www/modules/docs/api-reference/generated/table.json
  www/modules/docs/api-reference/generated/tag-group.json
  www/modules/docs/api-reference/reference.tsx
  www/modules/docs/api-reference/types.ts
Labels: area: www

show render props
  www/modules/docs/api-reference/reference.tsx
  www/modules/docs/api-reference/render-props-table.tsx
  www/modules/docs/api-reference/types.ts
Labels: area: www

sort required first
  www/modules/docs/api-reference/reference.tsx
Labels: area: www

wip
  www/modules/docs/api-reference/reference.tsx
Labels: area: www

lint
  www/modules/docs/api-reference/components/type-popover.tsx
  www/modules/docs/api-reference/components/type-renderer.tsx
  www/scripts/api-docs-builder/src/type-to-ast.ts
Labels: area: www

sort elements in types
  www/modules/docs/api-reference/components/type-renderer.tsx
Labels: area: www

fix grouping props
  www/modules/docs/api-reference/groups.ts
Labels: area: www

lint
  www/modules/docs/api-reference/components/type-renderer.tsx
  www/scripts/api-docs-builder/src/index.ts
Labels: area: www

update type links
  www/modules/docs/api-reference/components/type-renderer.tsx
  www/modules/docs/api-reference/generated/link.json
  www/scripts/api-docs-builder/src/componentHandler.ts
  www/scripts/api-docs-builder/src/config.ts
  www/scripts/api-docs-builder/src/type-to-ast.ts
  www/types/globals-docs.d.ts
Labels: area: www

update popover placement
  www/modules/docs/api-reference/components/type-popover.tsx
Labels: area: www

format
  www/modules/docs/api-reference/components/type-renderer.tsx
  www/scripts/api-docs-builder/src/index.ts
  www/scripts/api-docs-builder/src/type-to-ast.ts
  www/types/globals-docs.d.ts
Labels: area: www

remove never expand types
  www/scripts/api-docs-builder/src/config.ts
  www/scripts/api-docs-builder/src/type-to-ast.ts
Labels: area: www

feat: reference
  .gitignore
  biome.json
  www/modules/docs/api-reference/props-table.tsx
  www/modules/docs/api-reference/reference.tsx
Labels: area: www

format
  www/modules/docs/api-reference/props-table.tsx
Labels: area: www

wip
  packages/registry/src/ui/alert/demos/playground.tsx
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/button/demos/default.tsx
Labels: none

update package
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/button/demos/default.tsx
  packages/tailwindcss-with/README.md
  packages/tailwindcss-with/package.json
  packages/tailwindcss-with/src/index.d.ts
  packages/tailwindcss-with/src/index.js
  pnpm-lock.yaml
  www/app/(internal)/internal/page.tsx
  www/package.json
  www/styles/globals.css
Labels: area: www, documentation

update button
  packages/registry/src/ui/button/basic.tsx
Labels: none

update alert exmples
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
  packages/registry/src/ui/alert/demos/action.tsx
  packages/registry/src/ui/alert/demos/content.tsx
  packages/registry/src/ui/alert/demos/custom-icon.tsx
  packages/registry/src/ui/alert/demos/danger.tsx
  packages/registry/src/ui/alert/demos/success.tsx
  packages/registry/src/ui/alert/demos/title.tsx
  packages/registry/src/ui/alert/demos/variants.tsx
  packages/registry/src/ui/alert/demos/warning.tsx
  packages/registry/src/ui/button/basic.tsx
  www/content/docs/components/alert.mdx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/demo/demo-frame.tsx
  www/modules/docs/example.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
Labels: area: www, documentation

generate examples as static
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/modules/docs/page-tabs.tsx
Labels: area: www

bump nextj
  packages/auth/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
Labels: area: www

fix type errors
  packages/registry/scripts/build-registry.ts
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
  packages/registry/src/ui/alert/demos/action.tsx
  packages/registry/src/ui/alert/demos/custom-icon.tsx
  packages/registry/src/ui/alert/demos/danger.tsx
  packages/registry/src/ui/alert/demos/success.tsx
  packages/registry/src/ui/button/demos/playground.tsx
  packages/registry/src/ui/button/demos/variants.tsx
  packages/registry/src/ui/button/types.ts
  www/app/(internal)/playground/demos/button-demo.tsx
  www/modules/style-editor/components-editor/demos/buttons.tsx
Labels: area: www

add accordion docs
  www/content/docs/components/accordion.mdx
Labels: area: www, documentation

minor changes
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
  packages/registry/src/ui/accordion/demos/basic.tsx
  www/content/docs/components/accordion.mdx
  www/source.config.ts
Labels: area: www, documentation

fixes
  packages/registry/src/ui/button/index.tsx
  packages/registry/src/ui/button/meta.ts
  packages/registry/src/ui/button/ripple.tsx
  packages/registry/src/ui/pagination/basic.tsx
  www/modules/docs/docs-pager.tsx
  www/modules/docs/source.tsx
Labels: area: www

update button aspect
  packages/registry/src/hooks/use-button-aspect.ts
Labels: none
