Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

refactor: remove tsc build scripts from internal packages
  packages/api/package.json
  packages/core/package.json
  packages/db/package.json
Labels: none

refactor(registry): consolidate build scripts into single build.ts
  package.json
  packages/registry/package.json
  packages/registry/scripts/build-internal-registry.ts
  packages/registry/scripts/build-registry.ts
  packages/registry/scripts/build.ts
  scripts/build-registry.ts
Labels: none

chore: regenerate registry files with consolidated build script
  packages/core/src/__registry__/base.ts
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/hooks.ts
  packages/core/src/__registry__/icons.ts
  packages/core/src/__registry__/index.ts
  packages/core/src/__registry__/lib.ts
  packages/core/src/__registry__/ui.ts
  packages/core/src/__registry__/variants.ts
  packages/registry/src/__generated__/icons.tsx
Labels: none

chore: update gitignore for reference repos
  .gitignore
Labels: none

update gitignore
  .gitignore
Labels: none

fix(auth): add @dotui/core/* path mapping to tsconfig
  packages/auth/tsconfig.json
Labels: none

fix: update zod to 4.2.1 and react-hook-form to 7.69.0
  packages/api/package.json
  packages/auth/package.json
  packages/colors/package.json
  packages/core/package.json
  packages/db/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
Labels: area: www

fix(registry): migrate from deprecated hugeicons-react to @hugeicons/react
  packages/core/src/__registry__/icons.ts
  packages/registry/package.json
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/registry.ts
  pnpm-lock.yaml
  www/package.json
Labels: area: www

chore: scaffold TanStack Start project
  start/.gitignore
  start/.vscode/settings.json
  start/biome.json
  start/package.json
  start/plan.md
  start/pnpm-lock.yaml
  start/public/favicon.ico
  start/public/logo192.png
  start/public/logo512.png
  start/public/manifest.json
  start/public/robots.txt
  start/public/tanstack-circle-logo.png
  start/public/tanstack-word-logo-white.svg
  start/src/logo.svg
  start/src/routeTree.gen.ts
  start/src/router.tsx
  start/src/routes/__root.tsx
  start/src/routes/index.tsx
  start/src/styles.css
  start/tsconfig.json
  start/vite.config.ts
Labels: documentation

chore(start): integrate into monorepo with shared biome config
  config/biome-config/package.json
  config/biome-config/start.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  start/.vscode/settings.json
  start/biome.json
  start/package.json
  start/pnpm-lock.yaml
  start/public/manifest.json
  start/src/router.tsx
  start/tsconfig.json
  start/vite.config.ts
Labels: none

chore(biome-config): add @tanstack imports to sort order
  config/biome-config/base.json
Labels: none

chore(start): extend shared TypeScript config
  pnpm-lock.yaml
  start/package.json
  start/tsconfig.json
Labels: none

chore(start): configure Tailwind, registry styles, and cleanup
  .vscode/settings.json
  config/biome-config/start.json
  packages/registry/package.json
  packages/registry/src/base/base.css
  packages/registry/src/base/base.ts
  packages/registry/src/base/colors.css
  packages/registry/src/styles.css
  pnpm-lock.yaml
  start/.vscode/settings.json
  start/biome.json
  start/package.json
  start/src/styles.css
Labels: none

feat(start): add auth, tRPC, and TanStack Query integration
  package.json
  packages/auth/src/index.ts
  packages/registry/src/base/base.css
  pnpm-lock.yaml
  start/package.json
  start/src/env.ts
  start/src/lib/trpc.ts
  start/src/lib/url.ts
  start/src/logo.svg
  start/src/modules/auth/client.ts
  start/src/modules/auth/server.ts
  start/src/routeTree.gen.ts
  start/src/router.tsx
  start/src/routes/__root.tsx
  start/src/routes/api/auth.$.ts
  start/src/routes/api/trpc.$.ts
  start/src/routes/index.tsx
  start/tsconfig.json
Labels: none

feat(start): add layout, marketing components, and theme module
  pnpm-lock.yaml
  start/package.json
  start/src/components/layout/footer.tsx
  start/src/components/layout/header.tsx
  start/src/components/layout/logo.tsx
  start/src/components/marketing/announcement.tsx
  start/src/components/marketing/featured-styles-showcase.tsx
  start/src/config/site.ts
  start/src/hooks/use-debounce.ts
  start/src/lib/github.ts
  start/src/modules/theme/provider.tsx
  start/src/modules/theme/toggle.tsx
  start/src/routes/__root.tsx
  start/src/routes/index.tsx
  start/src/styles.css
Labels: none

feat(start): add fonts, prerendering, and update loader pattern
  pnpm-lock.yaml
  start/package.json
  start/src/modules/theme/provider.tsx
  start/src/routes/index.tsx
  start/src/styles.css
  start/vite.config.ts
Labels: none

fix(registry): apply font-sans to html and body
  packages/registry/src/base/base.css
Labels: none

feat(start): integrate fumadocs-mdx for documentation
  .gitignore
  package.json
  pnpm-lock.yaml
  start/content/docs/index.mdx
  start/package.json
  start/plan.md
  start/source.config.ts
  start/src/lib/source.ts
  start/src/routeTree.gen.ts
  start/src/routes/docs/$.tsx
  start/tsconfig.json
  start/vite.config.ts
Labels: documentation

feat(start): add toc and hooks for docs module
  pnpm-lock.yaml
  start/package.json
  start/plan.md
  start/src/hooks/use-copy-to-clipboard.ts
  start/src/hooks/use-mounted.ts
  start/src/modules/docs/toc.tsx
Labels: documentation

feat(start): add mdx-components and stubs for docs module
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/stubs.tsx
Labels: none

feat(start): add docs page layout with TOC
  start/src/modules/docs/layout.tsx
  start/src/modules/docs/toc.tsx
  start/src/routes/docs/$.tsx
Labels: none

format
  start/src/routes/__root.tsx
Labels: none

feat(start): add DocsCopyPage and .md route for raw content
  start/src/modules/docs/docs-copy-page.tsx
  start/src/routeTree.gen.ts
  start/src/routes/docs/$.tsx
  start/src/routes/docs/{$}[.]md.tsx
Labels: none

feat(start): add DocsPager for prev/next navigation
  start/src/modules/docs/docs-pager.tsx
  start/src/modules/docs/mdx-components.tsx
  start/src/routes/docs/$.tsx
Labels: none

fix(start): add min-w-0 to prevent content overflow in docs grid
  start/src/routes/docs/$.tsx
Labels: none

feat(start): add CodeBlock and CodeBlockTabs components
  start/src/modules/docs/code-block-tabs.tsx
  start/src/modules/docs/code-block.tsx
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/stubs.tsx
Labels: none

feat(start): add PageTabs with URL search params
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/page-tabs.tsx
  start/src/modules/docs/stubs.tsx
Labels: none

wip
  packages/registry/package.json
  packages/registry/src/ui/link/index.tsx
  pnpm-lock.yaml
  start/src/components/layout/header.tsx
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/page-tabs.tsx
  start/src/routes/__root.tsx
Labels: none

wip
  packages/registry/src/ui/button/index.tsx
  start/src/modules/docs/docs-pager.tsx
  start/src/modules/docs/page-tabs.tsx
Labels: none

feat(start): integrate React Aria router with TanStack Router
  packages/registry/src/ui/button/index.tsx
  packages/registry/src/ui/link/index.tsx
  start/src/components/layout/header.tsx
  start/src/config/site.ts
  start/src/modules/docs/docs-pager.tsx
  start/src/modules/docs/page-tabs.tsx
  start/src/routes/__root.tsx
  start/src/routes/docs/$.tsx
Labels: none

feat(start): add Demo and Example components with rehype transform
  packages/registry/package.json
  pnpm-lock.yaml
  start/package.json
  start/source.config.ts
  start/src/modules/docs/demo.tsx
  start/src/modules/docs/example.tsx
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/modules/docs/mdx-plugins/transformer.ts
  start/src/modules/docs/stubs.tsx
  start/src/styles.css
Labels: none

feat(start): add Reference component with Prettier type formatting
  .gitignore
  pnpm-lock.yaml
  start/package.json
  start/scripts/api-docs-builder/src/componentHandler.ts
  start/scripts/api-docs-builder/src/formatter.ts
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/modules/docs/reference.tsx
  start/src/modules/docs/stubs.tsx
Labels: none

feat(start): add TypePopover and TypeRenderer for interactive API docs
  start/scripts/api-docs-builder/src/componentHandler.ts
  start/scripts/api-docs-builder/src/formatter.ts
  start/src/modules/docs/reference.tsx
  start/src/modules/references/components/type-popover.tsx
  start/src/modules/references/components/type-renderer.tsx
  start/src/modules/references/index.ts
  start/src/modules/references/transform.ts
  start/src/types/globals-docs.d.ts
Labels: none

refactor(references): cleanup and fix imports
  start/package.json
  start/scripts/api-docs-builder/src/componentHandler.ts
  start/scripts/api-docs-builder/src/type-to-ast.ts
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/modules/docs/reference.tsx
  start/src/modules/references/index.ts
  start/src/modules/references/loader.ts
Labels: none

feat(start): add InteractiveDemo with build-time highlighting
  start/src/modules/docs/code-block.tsx
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/modules/docs/stubs.tsx
  start/src/modules/interactive-demo/controls.tsx
  start/src/modules/interactive-demo/element-to-code.ts
  start/src/modules/interactive-demo/interactive-demo.tsx
  start/src/modules/interactive-demo/process-controls.ts
  start/src/modules/interactive-demo/types.ts
Labels: none

refactor(start): use fumadocs useShiki for dynamic code highlighting
  .gitignore
  packages/core/src/react/dynamic-component.tsx
  pnpm-lock.yaml
  start/src/modules/docs/code-block.tsx
  start/src/modules/docs/dynamic-pre.tsx
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/modules/interactive-demo/interactive-demo.tsx
  start/src/modules/interactive-demo/types.ts
Labels: none

feat(start): add NotFound page component
  start/src/components/not-found.tsx
  start/src/routes/__root.tsx
Labels: none

fix(start): fix DynamicPre infinite suspend loop
  start/src/modules/docs/dynamic-pre.tsx
  start/src/modules/interactive-demo/interactive-demo.tsx
Labels: none

update deps
  pnpm-lock.yaml
  start/package.json
  www/package.json
Labels: area: www

fix(docs): fix double /docs in URL when navigating from installation page
  start/src/routes/docs/$.tsx
Labels: none
