Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

add changeset
  .changeset/README.md
  .changeset/config.json
  .github/changeset-version.js
  .github/version-script-beta.js
  .github/version-script-next.js
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: documentation, area: ci

changeset
  .changeset/config.json
  .changeset/quick-views-love.md
  package.json
  packages/tailwindcss-auto-contrast/package.json
  packages/tailwindcss-auto-contrast/src/index.js
  pnpm-lock.yaml
  www/package.json
  www/styles/globals.css
Labels: area: www, documentation

fixes
  .github/version-script-beta.js
  .github/version-script-next.js
  package.json
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-autocontrast/src/index.d.ts
  packages/tailwindcss-autocontrast/src/index.js
Labels: area: ci

more fixes
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: area: ci

fix
  package.json
  packages/db/package.json
  pnpm-lock.yaml
Labels: none

update fumadocs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Labels: area: www

update ci
  .github/workflows/ci.yml
Labels: area: ci

feat: add tailwind plugin for auto contrast colors (#111)
  .changeset/README.md
  .changeset/config.json
  .changeset/quick-views-love.md
  .github/changeset-version.js
  .github/version-script-beta.js
  .github/version-script-next.js
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package.json
  packages/db/package.json
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-autocontrast/src/index.d.ts
  packages/tailwindcss-autocontrast/src/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/styles/globals.css
Labels: area: www, documentation, area: ci

chore(style-engine): mark package as private
  packages/style-engine/package.json
Labels: none

chore(registry): add tailwindcss-autocontrast as dep
  packages/registry-definition/src/registry-base.ts
Labels: area: registry

fix(www): update registry base url
  www/app/r/[...params]/route.ts
Labels: area: www

fix(www): resolve unlisted styles in registry
  www/app/r/[...params]/route.ts
Labels: area: www

fix(registry): fix tw plugin import
  packages/registry-definition/src/registry-base.ts
Labels: area: registry

chore(docs): update readme
  README.md
Labels: documentation

fix(www): generate 'on' colors in theme-provider
  packages/style-engine/src/core/colors.ts
  packages/style-engine/src/core/style.ts
  packages/style-engine/src/core/theme.ts
  www/app/r/[...params]/route.ts
Labels: area: www

feat(registry): add link variant to button
  packages/ui/src/components/button.tsx
  packages/ui/src/registry/components/button/outline.tsx
Labels: area: registry

feat(www): refine preview toolbar
  www/components/preview.tsx
Labels: area: www

feat: Add fullscreen functionality to preview component
  www/components/preview.tsx
Labels: area: www

Refactor fullscreen to use CSS overlay instead of Fullscreen API
  www/components/preview.tsx
Labels: area: www

make it a modal
  packages/ui/src/lib/utils.tsx
  packages/ui/src/registry/components/modal/basic.tsx
  pnpm-lock.yaml
  www/components/preview.tsx
  www/package.json
Labels: area: www, area: registry

format
  packages/ui/src/lib/utils.tsx
Labels: none

feat(www): implement fullscreen in preview toolbar (#113)
  packages/ui/src/lib/utils.tsx
  packages/ui/src/registry/components/modal/basic.tsx
  pnpm-lock.yaml
  www/components/preview.tsx
  www/package.json
Labels: area: www, area: registry

Refactor: Extract context providers and use debounced callback
  www/hooks/use-debounced-callback.ts
  www/modules/styles/components/style-editor/color-scale-editor.tsx
  www/modules/styles/components/style-editor/color-scale.tsx
  www/modules/styles/components/style-editor/colors-editor.tsx
  www/modules/styles/providers/style-editor-provider.tsx
Labels: area: www

Remove experimental react compiler option
  www/next.config.mjs
Labels: area: www

disable react compiler
  www/next.config.mjs
Labels: area: www

wip
  packages/style-engine/src/constants.ts
  www/app/(app)/style-editor/colors/page.tsx
  www/app/(app)/style-editor/components/page.tsx
  www/app/(app)/style-editor/effects/page.tsx
  www/app/(app)/style-editor/icons/page.tsx
  www/app/(app)/style-editor/layout.tsx
  www/app/(app)/style-editor/layout/page.tsx
  www/app/(app)/style-editor/typography/page.tsx
  www/app/view/[username]/[style]/[block]/providers.tsx
  www/components/preview.tsx
  www/modules/style-editor/atoms/draft-style-atom.tsx
  www/modules/style-editor/atoms/live-style-atom.tsx
  www/modules/style-editor/components/code-modal.tsx
  www/modules/style-editor/components/color-scale-editor.tsx
  www/modules/style-editor/components/color-scale.tsx
  www/modules/style-editor/components/color-tokens.tsx
  www/modules/style-editor/components/colors-editor.tsx
  www/modules/style-editor/components/components-editor.tsx
  www/modules/style-editor/components/draft-style-provider.tsx
  www/modules/style-editor/components/draft-style-sync.tsx
  www/modules/style-editor/components/effects-editor.tsx
  www/modules/style-editor/components/header.tsx
  www/modules/style-editor/components/icons-editor.tsx
  www/modules/style-editor/components/layout-editor.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/style-editor/components/publish-style-modal.tsx
  www/modules/style-editor/components/section.tsx
  www/modules/style-editor/components/style-editor-form.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/style-editor/components/style-editor-nav.tsx
  www/modules/style-editor/components/style-typography-editor.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/modules/style-editor/hooks/use-editor-style.ts
  www/modules/style-editor/hooks/use-style-editor-params.ts
  www/modules/style-editor/hooks/use-update-style-mutation.ts
  www/modules/styles/providers/style-editor-provider.tsx
Labels: area: www

wip
  www/modules/style-editor/components/color-scale-editor.tsx
  www/modules/style-editor/components/color-scale.tsx
  www/modules/style-editor/components/colors-editor.tsx
  www/modules/style-editor/components/header.tsx
  www/modules/styles/components/create-style-modal.tsx
Labels: area: www

fix mobile preview
  www/modules/style-editor/components/preview.tsx
  www/modules/style-editor/components/style-editor-header.tsx
Labels: area: www

layout fixes
  packages/ui/src/registry/blocks/application/notifications/components/notifications.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
  www/app/layout.tsx
  www/modules/blocks/block-view.tsx
Labels: area: www, area: registry

tokens fixes
  www/app/(app)/style-editor/layout.tsx
  www/modules/style-editor/components/color-tokens.tsx
  www/modules/style-editor/components/header.tsx
  www/modules/style-editor/components/preview.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/style-editor/components/style-editor-nav.tsx
Labels: area: www

add accent emphasis editor
  packages/style-engine/src/constants.ts
  packages/style-engine/src/schemas.ts
  packages/style-engine/src/utils/restore-defaults.ts
  packages/style-engine/test/fixtures/themes.ts
  packages/ui/src/registry/components/button/outline.tsx
  www/app/(app)/style-editor/layout.tsx
  www/app/(app)/style-editor/providers.tsx
  www/modules/style-editor/components/accent-emphasis-editor.tsx
  www/modules/style-editor/components/colors-editor.tsx
  www/modules/styles/providers/style-editor-provider.tsx
Labels: area: www, area: registry

fix type error
  packages/ui/src/registry/components/button/demos/variants.tsx
Labels: area: registry

fixes
  www/app/layout.tsx
  www/modules/style-editor/components/color-scale-editor.tsx
  www/modules/style-editor/components/components-editor.tsx
  www/modules/style-editor/components/preview.tsx
Labels: area: www

fixes
  packages/ui/src/registry/components/number-field/basic.tsx
  www/modules/style-editor/components/colors-editor.tsx
  www/modules/style-editor/components/style-editor-form.tsx
Labels: area: www, area: registry

fixes
  www/components/announcement.tsx
  www/components/logo.tsx
  www/modules/style-editor/components/code-modal.tsx
Labels: area: www

remove log
  www/modules/style-editor/components/color-scale-editor.tsx
Labels: area: www

fix(www): update broken link
  www/app/(app)/styles/(styles)/layout.tsx
Labels: area: www

feat(www): add public roadmap
  www/components/sidebar.tsx
  www/content/docs/(root)/meta.json
Labels: area: www, documentation

fix(www): hide logo badge when sidebar is collapsed
  www/components/logo.tsx
Labels: area: www

bump and fix types
  packages/ui/src/registry/components/breadcrumbs/basic.tsx
  packages/ui/src/registry/components/button/basic.tsx
  packages/ui/src/registry/components/button/brutalist.tsx
  packages/ui/src/registry/components/button/outline.tsx
  packages/ui/src/registry/components/button/ripple.tsx
  packages/ui/src/registry/components/tooltip/motion.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: registry
