Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

update build-registry script
  package.json
  packages/registry/package.json
  packages/registry/scripts/build-registry.ts
  packages/registry/scripts/migrate-to-meta-json.ts
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/blocks/__index__.tsx
  packages/registry/src/blocks/index.ts
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/icons/index.ts
  packages/registry/src/icons/index.tsx
  packages/registry/src/ui/__demos__.tsx
Labels: none

add format to script
  packages/registry/package.json
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/blocks/index.ts
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/index.ts
  packages/registry/src/ui/__demos__.tsx
  www/app/r/[...params]/route.ts
Labels: area: www

fix: type error
  www/modules/blocks/block-viewer.tsx
Labels: area: www

chore: ehance style card design
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/styles-list.tsx
Labels: area: www

update create style modal
  packages/registry/src/ui/form/tanstack-form.tsx
  packages/registry/src/ui/popover/basic.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/modules/styles/components/create-style-modal.tsx
  www/modules/styles/components/my-styles.tsx
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/styles-list.tsx
Labels: area: www

clamp lightness value
  www/modules/style-editor/components/colors-editor/color-adjustments.tsx
Labels: area: www

disable scale name editor for now
  www/modules/style-editor/components/colors-editor/color-scale-editor.tsx
Labels: area: www

remove token name editing for now
  www/components/ui/contextual-help.tsx
  www/modules/style-editor/components/colors-editor/color-tokens.tsx
Labels: area: www

fix table column
  www/modules/style-editor/components/colors-editor/color-tokens.tsx
Labels: area: www

fix: colors editor
  packages/registry/src/_style-system/constants.ts
  packages/registry/src/_style-system/core/colors.ts
  packages/registry/src/_style-system/core/index.ts
  packages/registry/src/_style-system/schemas.ts
  packages/registry/src/_style-system/utils/minimize-style.ts
  packages/registry/src/_style-system/utils/restore-defaults.ts
  www/app/view/[username]/[style]/[block]/_layout.tsx
  www/modules/style-editor/atoms/draft-style-atom.tsx
  www/modules/style-editor/components/colors-editor/accent-emphasis-editor.tsx
  www/modules/style-editor/components/colors-editor/color-adjustments.tsx
  www/modules/style-editor/components/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/components/colors-editor/color-tokens.tsx
  www/modules/style-editor/components/colors-editor/mode-config.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/modules/styles/components/community-styles.tsx
Labels: area: www

block navigation when unsaved changes
  packages/registry/src/ui/dialog/basic.tsx
  www/modules/style-editor/components/navigation-blocker.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
Labels: area: www

update registry package exports
  package.json
  packages/registry/package.json
  www/modules/docs/components/component-preview.tsx
Labels: area: www

fix: update button docs
  www/content/docs/components/button.mdx
Labels: area: www, documentation

fix format
  www/modules/docs/components/component-preview.tsx
Labels: area: www

minor fixes
  packages/registry/src/ui/form/tanstack-form.tsx
  www/app/llm/[[...slug]]/route.ts
  www/app/r/[...params]/route.ts
Labels: area: www

fix: fix layout editor
  www/app/(app)/style-editor/layout.tsx
  www/modules/style-editor/components/colors-editor/accent-emphasis-editor.tsx
  www/modules/style-editor/components/layout-editor/index.tsx
  www/modules/style-editor/components/navigation-blocker.tsx
  www/modules/style-editor/components/style-editor-header.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
Labels: area: www

wip
  www/modules/style-editor/components/layout-editor/index.tsx
Labels: area: www

bump react-aria
  packages/registry/package.json
  packages/registry/src/ui/button/ripple/index.tsx
  packages/registry/src/ui/calendar/demos/calendar/error-message.tsx
  packages/registry/src/ui/input/basic.tsx
  packages/registry/src/ui/input/meta.ts
  packages/registry/src/ui/slider/basic.tsx
  packages/registry/src/ui/slider/meta.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/components/ui/auto-resize-input.tsx
  www/package.json
Labels: area: www

make that search command open instantly
  packages/registry/src/ui/modal/basic.tsx
  www/components/layout/sidebar.tsx
  www/components/search-command.tsx
Labels: area: www

fix: typography edtior
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/list-box/basic.tsx
  packages/registry/src/ui/select/basic.tsx
  www/content/docs/(root)/changelog.mdx
  www/modules/style-editor/components/colors-editor/color-adjustments.tsx
  www/modules/style-editor/components/colors-editor/index.tsx
  www/modules/style-editor/components/layout-editor/index.tsx
  www/modules/style-editor/components/section.tsx
  www/modules/style-editor/components/typography-editor/index.tsx
  www/modules/styles/components/fonts-selector.tsx
Labels: area: www, documentation

fix: format
  www/content/docs/(root)/changelog.mdx
  www/modules/style-editor/components/colors-editor/index.tsx
  www/modules/style-editor/components/typography-editor/index.tsx
Labels: area: www, documentation

fix: style editor
  config/prettier/package.json
  packages/registry/src/tokens/registry.ts
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/loader/ring.tsx
  packages/registry/src/ui/popover/basic.tsx
  packages/registry/src/ui/select/basic.tsx
  packages/registry/src/ui/select/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/app/internal/page.tsx
  www/modules/style-editor/components/components-editor/demos/loader.tsx
  www/modules/style-editor/components/components-editor/demos/loaders.tsx
  www/modules/style-editor/components/components-editor/demos/utils.ts
  www/modules/style-editor/components/components-editor/index.tsx
  www/modules/style-editor/components/effects-editor/index.tsx
  www/modules/style-editor/components/icons-editor/index.tsx
  www/modules/style-editor/components/layout-editor/index.tsx
  www/modules/style-editor/components/navigation-blocker.tsx
  www/modules/style-editor/components/section.tsx
  www/modules/style-editor/components/typography-editor/index.tsx
  www/styles/globals.css
Labels: area: www

make HSL color format default
  www/modules/style-editor/atoms/draft-style-atom.tsx
  www/modules/style-editor/components/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/modules/style-editor/lib/convert-theme-color-objects.ts
Labels: area: www

feat: shadcn generation
  packages/registry/src/_style-system/shadcn-registry/generators/generic.ts
  packages/registry/src/base/registry.ts
  packages/registry/src/blocks/auth/login/meta.ts
  packages/registry/src/blocks/showcase/cards/components/filters.tsx
  packages/registry/src/lib/utils/index.ts
  packages/registry/src/lib/utils/index.tsx
  packages/registry/src/lib/utils/meta.ts
  packages/registry/src/ui/input/meta.ts
  packages/registry/src/ui/slider/meta.ts
  www/app/r/[...params]/route.ts
Labels: area: www

format
  packages/registry/src/blocks/showcase/cards/components/filters.tsx
  www/app/r/[...params]/route.ts
Labels: area: www

feat: oklch format
  packages/registry/package.json
  packages/registry/src/_helpers/theme-provider.tsx
  packages/registry/src/_style-system/core/colors.ts
  packages/registry/src/_style-system/core/index.ts
  packages/registry/src/_style-system/core/style.ts
  packages/registry/src/_style-system/core/theme.ts
  packages/registry/src/_style-system/shadcn-registry/index.ts
  packages/registry/src/_style-system/types.ts
  pnpm-lock.yaml
  test-color-conversion.mjs
  www/app/r/[...params]/route.ts
Labels: area: www

fix: tailwind autocontrast plugin
  packages/tailwindcss-autocontrast/README.md
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-autocontrast/src/index.js
  packages/tailwindcss-autocontrast/src/index.test.js
  pnpm-lock.yaml
  www/modules/style-editor/components/navigation-blocker.tsx
Labels: area: www, documentation

release
  .changeset/quiet-bats-taste.md
Labels: documentation

update version
  packages/tailwindcss-autocontrast/package.json
Labels: none

update pnpm lock
  pnpm-lock.yaml
Labels: none

minor fix
  packages/registry/src/_style-system/shadcn-registry/generators/generic.ts
Labels: none

refactor styles api
  packages/api/src/routers/style.ts
  www/app/(app)/styles/(styles)/page.tsx
  www/app/(marketing)/(root)/page.tsx
  www/app/r/[...params]/route.ts
  www/app/view/[username]/[style]/[block]/page.tsx
  www/components/styles-showcase.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/modules/style-editor/hooks/use-editor-style.ts
  www/modules/style-editor/hooks/use-update-style-mutation.ts
  www/modules/styles/components/community-styles.tsx
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/styles-list.tsx
  www/modules/styles/hooks/use-active-style.ts
  www/modules/styles/hooks/use-featured-styles.ts
  www/scripts/capture-showcase-blocks.ts
Labels: area: www

fix: lint errors
  packages/api/src/routers/style.ts
Labels: none

update featured styles
  packages/db/src/seed.ts
  www/app/(marketing)/(root)/page.tsx
  www/components/featured-styles-showcase.tsx
Labels: area: www

format
  www/app/(marketing)/(root)/page.tsx
Labels: area: www

minor changes
  www/app/(app)/layout.tsx
  www/components/layout/sidebar.tsx
  www/modules/style-editor/constants.ts
Labels: area: www

format
  www/components/layout/sidebar.tsx
Labels: area: www

better style editor pages order
  www/modules/style-editor/components/effects-editor/index.tsx
  www/modules/style-editor/components/section.tsx
  www/modules/style-editor/components/style-editor-nav.tsx
Labels: area: www

fixed update style
  packages/api/src/routers/style.ts
Labels: none

fix tsconfig
  www/tsconfig.json
Labels: area: www
