Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

chore: sync tanstack packages to 1.150.0 in starter-themes
  packages/starter-themes/package.json
  pnpm-lock.yaml
Labels: none

fix: use dynamic imports in server functions to prevent client bundling
  www/src/modules/styles/server.ts
  www/src/routes/_app/route.tsx
Labels: area: www

feat: add immutable caching for static server function cache
  pnpm-lock.yaml
  www/package.json
  www/vercel.ts
Labels: area: www

refactor: update alert component to use data attributes and add action slot
  packages/core/src/__registry__/ui.ts
  packages/registry/package.json
  packages/registry/src/ui/alert/basic.tsx
  packages/registry/src/ui/alert/demos/action.tsx
  packages/registry/src/ui/alert/demos/playground.tsx
  pnpm-lock.yaml
  www/package.json
  www/src/routes/index.tsx
Labels: area: www

refactor: rewrite avatar component with hasImage tracking and fallback-only support
  packages/registry/src/blocks/showcase/cards/components/account-menu.tsx
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
  packages/registry/src/blocks/showcase/cards/components/notifications.tsx
  packages/registry/src/ui/avatar/base.tsx
  packages/registry/src/ui/avatar/basic.tsx
  packages/registry/src/ui/avatar/demos/avatar-group-count.tsx
  packages/registry/src/ui/avatar/demos/badge-notification.tsx
  packages/registry/src/ui/avatar/demos/badge-top-right.tsx
  packages/registry/src/ui/avatar/demos/badge-with-icon.tsx
  packages/registry/src/ui/avatar/demos/badge.tsx
  packages/registry/src/ui/avatar/demos/basic.tsx
  packages/registry/src/ui/avatar/demos/composition.tsx
  packages/registry/src/ui/avatar/demos/fallback-only.tsx
  packages/registry/src/ui/avatar/demos/group.tsx
  packages/registry/src/ui/avatar/demos/icon-fallback.tsx
  packages/registry/src/ui/avatar/demos/playground.tsx
  packages/registry/src/ui/avatar/demos/radii.tsx
  packages/registry/src/ui/avatar/demos/shape.tsx
  packages/registry/src/ui/avatar/index.tsx
  packages/registry/src/ui/avatar/meta.ts
  packages/registry/src/ui/avatar/types.ts
  www/content/docs/components/avatar.mdx
  www/src/modules/auth/user-profile-menu.tsx
  www/src/modules/docs/components-list/demos/avatar.tsx
  www/src/modules/references/generated/avatar-badge.json
  www/src/modules/references/generated/avatar-fallback.json
  www/src/modules/references/generated/avatar-group-count.json
  www/src/modules/references/generated/avatar-group.json
  www/src/modules/references/generated/avatar-image.json
  www/src/modules/references/generated/avatar-placeholder.json
  www/src/modules/references/generated/avatar.json
  www/src/routes/index.tsx
Labels: area: www, documentation

refactor: remove unused variant type param from createDynamicComponent
  packages/core/src/react/dynamic-component.tsx
  packages/registry/src/ui/accordion/index.tsx
  packages/registry/src/ui/alert/index.tsx
  packages/registry/src/ui/disclosure/index.tsx
Labels: none

refactor: remove avatar placeholder component and show fallback during loading
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/ui.ts
  packages/registry/package.json
  packages/registry/src/blocks/showcase/cards/components/account-menu.tsx
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
  packages/registry/src/blocks/showcase/cards/components/notifications.tsx
  packages/registry/src/ui/avatar/base.tsx
  packages/registry/src/ui/avatar/demos/avatar-group-count.tsx
  packages/registry/src/ui/avatar/demos/badge-top-right.tsx
  packages/registry/src/ui/avatar/demos/basic.tsx
  packages/registry/src/ui/avatar/demos/default.tsx
  packages/registry/src/ui/avatar/demos/playground.tsx
  packages/registry/src/ui/avatar/index.tsx
  packages/registry/src/ui/avatar/types.ts
  pnpm-lock.yaml
  www/content/docs/components/avatar.mdx
  www/package.json
  www/src/modules/auth/user-profile-menu.tsx
  www/src/modules/docs/components-list/demos/avatar.tsx
  www/src/modules/references/generated/avatar-placeholder.json
  www/src/routes/index.tsx
Labels: area: www, documentation

chore: apply linter fixes to avatar component files
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
  packages/registry/src/blocks/showcase/cards/components/notifications.tsx
  packages/registry/src/ui/avatar/base.tsx
Labels: none

fix: add build dependency to typecheck task in turbo config
  turbo.json
Labels: none

update docs
  www/content/docs/components/avatar.mdx
Labels: area: www, documentation

fix: ensure registry build runs before typecheck to prevent missing generated files
  turbo.json
Labels: none

generate registry
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/ui.ts
Labels: none

refactor: simplify loader component and rename base file
  packages/registry/src/ui/loader/base.tsx
  packages/registry/src/ui/loader/basic.tsx
  packages/registry/src/ui/loader/index.tsx
  packages/registry/src/ui/loader/ring.tsx
Labels: none

refactor: update badge component with size variants and new demos
  packages/registry/src/ui/badge/base.tsx
  packages/registry/src/ui/badge/demos/count.tsx
  packages/registry/src/ui/badge/demos/icon.tsx
  packages/registry/src/ui/badge/demos/link.tsx
  packages/registry/src/ui/badge/demos/loader.tsx
  packages/registry/src/ui/badge/demos/pending.tsx
  packages/registry/src/ui/badge/demos/sizes.tsx
  packages/registry/src/ui/badge/index.tsx
  www/content/docs/components/badge.mdx
Labels: area: www, documentation

wip
  packages/registry/src/ui/card/basic.tsx
  www/src/components/layout/app-sidebar.tsx
  www/src/components/layout/header.tsx
  www/src/config/site.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/docs/page-tabs.tsx
  www/src/routeTree.gen.ts
  www/src/routes/_app/create.tsx
  www/src/routes/_app/docs/route.tsx
  www/src/routes/_app/index.tsx
  www/src/routes/_app/route.tsx
  www/src/routes/index.tsx
Labels: area: www

wip
  www/src/modules/create/customizer-panel.tsx
Labels: area: www

wip
  www/src/modules/create/customizer-panel.tsx
Labels: area: www

wip
  www/src/modules/create/customizer-panel.tsx
Labels: area: www

wip
  packages/registry/src/ui/color-swatch/basic.tsx
  www/src/modules/create/customizer-panel.tsx
Labels: area: www

wip
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/button/index.tsx
  packages/registry/src/ui/button/types.ts
  packages/registry/src/ui/radio-group/basic.tsx
  www/src/modules/create/colors-config.tsx
  www/src/modules/create/components-config.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/iconography-config.tsx
  www/src/modules/create/layout-config.tsx
  www/src/modules/create/typography-config.tsx
  www/src/routes/_app/create.tsx
Labels: area: www

wip
  packages/registry/package.json
  packages/registry/src/ui/list-box/basic.tsx
  www/src/hooks/use-google-font-loader.ts
  www/src/modules/create/typography-config.tsx
Labels: area: www

wip
  www/src/modules/create/customizer-panel.tsx
  www/src/routes/_app/create.tsx
  www/src/routes/demos/$slug.tsx
Labels: area: www

update start
  package.json
  packages/starter-themes/package.json
  patches/@tanstack__start-static-server-functions.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Labels: area: www

clean up
  packages/registry/package.json
  packages/registry/src/__generated__/examples.tsx
  www/src/routeTree.gen.ts
  www/src/routes/(legal)/$.tsx
  www/src/routes/preview/$slug.tsx
Labels: area: www

fix: replace vite-tsconfig-paths with resolve.alias to fix Vercel build
  pnpm-lock.yaml
  www/package.json
  www/vite.config.ts
Labels: area: www

fix: drop registry/core aliases, rely on pnpm workspace resolution
  www/vite.config.ts
Labels: area: www

fixes
  www/src/modules/docs/mdx-plugins/rehype-transform.ts
  www/src/registry/ui/accordion/examples.tsx
Labels: area: www

wip
  www/src/components/layout/footer.tsx
  www/src/components/layout/header.tsx
  www/src/components/marketing/announcement.tsx
  www/src/modules/docs/page-layout.tsx
  www/src/modules/docs/toc.tsx
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/registry/ui/accordion/demos/allows-multiple.tsx
  www/src/registry/ui/accordion/demos/basic.tsx
  www/src/registry/ui/accordion/demos/controlled.tsx
  www/src/registry/ui/accordion/demos/default-expanded.tsx
  www/src/registry/ui/accordion/demos/disabled.tsx
  www/src/registry/ui/accordion/examples.tsx
  www/src/registry/ui/accordion/styles.ts
  www/src/registry/ui/example.tsx
  www/src/registry/ui/tabs/base.tsx
  www/src/routes/_app/create.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/route.tsx
  www/src/routes/_app/index.tsx
  www/src/routes/_app/route.tsx
  www/src/styles.css
Labels: area: www

wip
  www/src/modules/core/styles.tsx
  www/src/modules/docs/docs-copy-page.tsx
  www/src/modules/docs/docs-pager.tsx
  www/src/modules/docs/examples.tsx
  www/src/registry/ui/accordion/base.tsx
  www/src/registry/ui/accordion/styles.ts
  www/src/registry/ui/button/base.tsx
  www/src/registry/ui/example.tsx
  www/src/routes/_app/docs/$.tsx
Labels: area: www

wip
  STYLES_MIGRATION.md
  www/src/components/not-found.tsx
  www/src/modules/core/styles.tsx
  www/src/registry/types.ts
  www/src/registry/ui/accordion/meta.ts
  www/src/registry/ui/accordion/styles.ts
  www/src/registry/ui/alert/base.tsx
  www/src/registry/ui/alert/examples.tsx
  www/src/registry/ui/alert/meta.ts
  www/src/registry/ui/alert/styles.ts
  www/src/registry/ui/avatar/base.tsx
  www/src/registry/ui/avatar/examples.tsx
  www/src/registry/ui/avatar/meta.ts
  www/src/registry/ui/avatar/styles.ts
Labels: area: www, documentation

update biome et fix ts errors
  biome.json
  config/biome-config/base.json
  config/biome-config/react-internal.json
  config/biome-config/start.json
  package.json
  packages/colors/biome.json
  packages/tailwindcss-autocontrast/biome.json
  packages/tailwindcss-with/biome.json
  packages/types/biome.json
  pnpm-lock.yaml
  www/biome.json
  www/src/components/layout/footer.tsx
  www/src/modules/docs/toc.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/index.tsx
Labels: area: www

wip
  config/biome-config/base.json
  package.json
  www/content/docs/components/accordion.mdx
  www/package.json
  www/src/modules/docs/interactive-demo/interactive-demo.tsx
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/examples.tsx
  www/src/registry/__generated__/icons.tsx
  www/src/registry/icons/__hugeicons__.ts
  www/src/registry/icons/__remix__.ts
  www/src/registry/icons/__tabler__.ts
  www/src/registry/ui/accordion/demos/custom-trigger.tsx
  www/src/registry/ui/accordion/demos/playground.tsx
  www/src/registry/ui/accordion/styles.ts
  www/src/registry/ui/alert/examples.tsx
  www/src/registry/ui/alert/styles.ts
Labels: area: www, documentation

wip
  www/src/modules/create/preview/examples.tsx
  www/src/registry/ui/alert/examples.tsx
  www/src/registry/ui/alert/styles.ts
  www/src/registry/ui/input/base.tsx
  www/src/registry/ui/select/styles.ts
  www/src/registry/ui/text-field/styles.ts
Labels: area: www

wip
  packages/starter-themes/src/index.tsx
  www/src/modules/create/preview/example.tsx
  www/src/registry/styles.css
  www/src/registry/types.ts
  www/src/registry/ui/alert/meta.ts
  www/src/registry/ui/alert/styles.ts
  www/src/registry/ui/avatar/examples.tsx
Labels: area: www

wip avatar
  www/content/docs/components/avatar.mdx
  www/src/modules/docs/example.tsx
  www/src/registry/ui/avatar/base.tsx
  www/src/registry/ui/avatar/examples.tsx
  www/src/registry/ui/avatar/meta.ts
  www/src/registry/ui/avatar/styles.ts
Labels: area: www, documentation

avatar component
  www/content/docs/components/avatar.mdx
  www/src/modules/docs/example.tsx
  www/src/modules/docs/examples.tsx
  www/src/registry/styles.css
  www/src/registry/ui/avatar/base.tsx
  www/src/registry/ui/avatar/meta.ts
  www/src/routes/_app/docs/$.tsx
Labels: area: www, documentation

wip badge
  www/src/registry/ui/badge/base.tsx
  www/src/registry/ui/badge/demos/default.tsx
  www/src/registry/ui/badge/demos/link.tsx
  www/src/registry/ui/badge/examples.tsx
  www/src/registry/ui/badge/styles.ts
  www/src/registry/ui/badge/types.ts
Labels: area: www

build references
  www/src/modules/references/generated/accordion.json
  www/src/modules/references/generated/badge.json
  www/src/modules/references/generated/breadcrumbs.json
  www/src/modules/references/generated/button.json
  www/src/modules/references/generated/checkbox.json
  www/src/modules/references/generated/color-field.json
  www/src/modules/references/generated/color-picker-content.json
  www/src/modules/references/generated/color-picker-trigger.json
  www/src/modules/references/generated/combobox-content.json
  www/src/modules/references/generated/combobox.json
  www/src/modules/references/generated/command-content.json
  www/src/modules/references/generated/command-input.json
  www/src/modules/references/generated/date-picker-content.json
  www/src/modules/references/generated/dialog-content.json
  www/src/modules/references/generated/disclosure-trigger.json
  www/src/modules/references/generated/link-button.json
  www/src/modules/references/generated/link.json
  www/src/modules/references/generated/list-box-section.json
  www/src/modules/references/generated/list-box.json
  www/src/modules/references/generated/menu-content.json
  www/src/modules/references/generated/menu-item.json
  www/src/modules/references/generated/menu-section.json
  www/src/modules/references/generated/number-field.json
  www/src/modules/references/generated/search-field.json
  www/src/modules/references/generated/select-content.json
  www/src/modules/references/generated/select.json
  www/src/modules/references/generated/switch.json
  www/src/modules/references/generated/tab-list.json
  www/src/modules/references/generated/table-body.json
  www/src/modules/references/generated/table-container.json
  www/src/modules/references/generated/table-header.json
  www/src/modules/references/generated/table-row.json
  www/src/modules/references/generated/table.json
  www/src/modules/references/generated/tabs.json
  www/src/modules/references/generated/tag-group.json
  www/src/modules/references/generated/tag-list.json
  www/src/modules/references/generated/text-field.json
  www/src/modules/references/generated/toggle-button-group.json
  www/src/registry/ui/badge/types.ts
Labels: area: www

feat: update badge component
  www/content/docs/components/alert.mdx
  www/content/docs/components/avatar.mdx
  www/content/docs/components/badge.mdx
  www/src/modules/docs/example.tsx
  www/src/modules/docs/examples.tsx
  www/src/modules/docs/mdx-components.tsx
  www/src/modules/references/generated/badge.json
  www/src/modules/references/generated/color-field.json
  www/src/modules/references/generated/command-input.json
  www/src/modules/references/generated/number-field.json
  www/src/modules/references/generated/search-field.json
  www/src/modules/references/generated/text-field.json
  www/src/registry/styles.css
  www/src/registry/ui/avatar/demos/badge-notification.tsx
  www/src/registry/ui/badge/demos/playground.tsx
  www/src/registry/ui/badge/demos/variants.tsx
  www/src/registry/ui/badge/examples.tsx
  www/src/registry/ui/badge/meta.ts
  www/src/registry/ui/badge/styles.ts
  www/src/registry/ui/badge/types.ts
Labels: area: www, documentation

fix default badge demo
  www/src/registry/ui/badge/demos/default.tsx
Labels: area: www
