Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]

remove
  .npmrc
Labels: none

migrate to biome
  .changeset/config.json
  .cursor/rules/ultracite.mdc
  .vscode/settings.json
  biome.jsonc
  config/eslint/base.js
  config/eslint/nextjs.js
  config/eslint/package.json
  config/eslint/react.js
  config/eslint/types.d.ts
  config/prettier/index.js
  config/prettier/package.json
  config/prettier/tsconfig.json
  package.json
  packages/api/eslint.config.js
  packages/api/package.json
  packages/auth/eslint.config.js
  packages/auth/package.json
  packages/db/eslint.config.js
  packages/db/package.json
  packages/registry-v2/eslint.config.js
  packages/registry-v2/package.json
  packages/registry/eslint.config.js
  packages/registry/package.json
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  turbo.json
  www/eslint.config.mjs
  www/package.json
Labels: area: www

biome config
  .cursor/rules/ultracite.mdc
  biome.json
  biome.jsonc
  package.json
  pnpm-lock.yaml
Labels: none

wip deps
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/db/package.json
  packages/registry-v2/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Labels: area: www

wip fix type errors
  packages/auth/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/modules/style-editor/components/colors-editor/accent-emphasis-editor.tsx
  www/modules/style-editor/context/style-editor-provider.tsx
  www/package.json
Labels: area: www

fixed type errors
  packages/api/package.json
  packages/db/package.json
  packages/db/src/schemas/style.ts
  packages/registry/package.json
  turbo.json
  www/modules/style-editor/context/style-editor-provider.tsx
Labels: area: www

format
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
Labels: none

neat home page
  package.json
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/components/featured-styles-showcase.tsx
  www/components/marketing/announcement.tsx
Labels: area: www

minor ui fixes
  packages/registry/src/components/icons/typescript.tsx
  www/app/(marketing)/(root)/page.tsx
  www/components/featured-styles-showcase.tsx
  www/components/layout/sidebar.tsx
  www/styles/globals.css
Labels: area: www

wip animation
  biome.json
  package.json
  pnpm-lock.yaml
  www/app/(internal)/internal/page.tsx
  www/components/featured-styles-showcase.tsx
  www/styles/globals.css
Labels: area: www

update animation
  www/components/featured-styles-showcase.tsx
Labels: area: www

update animation
  www/components/featured-styles-showcase.tsx
Labels: area: www

fix type errors
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
Labels: area: www

wip
  biome.json
  package.json
  packages/registry-v2/src/ui/accordion.tsx
  packages/registry-v2/src/ui/alert.tsx
  packages/registry-v2/src/ui/breadcrumbs.tsx
  packages/registry-v2/src/ui/button-group.tsx
  packages/registry-v2/src/ui/button.tsx
  packages/registry-v2/src/ui/tooltip.tsx
  pnpm-lock.yaml
  www/app/(internal)/internal/page.tsx
  www/app/(internal)/playground/demos/accordion-demo.tsx
  www/app/(internal)/playground/demos/button-demo.tsx
  www/app/(internal)/playground/demos/calendar-demo.tsx
  www/app/(internal)/playground/demos/toggle-button-demo.tsx
  www/app/(internal)/playground/page.tsx
  www/styles/globals.css
Labels: area: www

wip
  biome.json
  packages/registry-v2/src/ui/calendar.tsx
  packages/registry-v2/src/ui/card.tsx
  packages/registry-v2/src/ui/color-editor.tsx
  packages/registry-v2/src/ui/color-field.tsx
  packages/registry-v2/src/ui/color-picker.tsx
  packages/registry-v2/src/ui/color-slider.tsx
  packages/registry-v2/src/ui/color-swatch-picker.tsx
  packages/registry-v2/src/ui/combobox.tsx
  packages/registry-v2/src/ui/command.tsx
  packages/registry-v2/src/ui/date-field.tsx
  packages/registry-v2/src/ui/date-input.tsx
  packages/registry-v2/src/ui/date-picker.tsx
  packages/registry-v2/src/ui/date-range-picker.tsx
  packages/registry-v2/src/ui/dialog.tsx
  packages/registry-v2/src/ui/field.tsx
  packages/registry-v2/src/ui/input-group.tsx
  packages/registry-v2/src/ui/list-box.tsx
  packages/registry-v2/src/ui/loader.tsx
  packages/registry-v2/src/ui/modal.tsx
  packages/registry-v2/src/ui/progress-bar.tsx
  packages/registry-v2/src/ui/tabs.tsx
  www/app/(internal)/playground/demos/button-group-demo.tsx
  www/app/(internal)/playground/demos/calendar-demo.tsx
  www/app/(internal)/playground/demos/card-demo.tsx
  www/app/(internal)/playground/demos/color-field-demo.tsx
  www/app/(internal)/playground/demos/color-picker-demo.tsx
  www/app/(internal)/playground/demos/command-demo.tsx
  www/app/(internal)/playground/demos/date-picker-demo.tsx
  www/app/(internal)/playground/demos/dialog-demo.tsx
  www/app/(internal)/playground/demos/drawer-demo.tsx
  www/app/(internal)/playground/demos/modal-demo.tsx
  www/app/(internal)/playground/demos/popover-demo.tsx
  www/app/(internal)/playground/demos/progress-bar-demo.tsx
  www/app/(internal)/playground/demos/search-field-demo.tsx
  www/app/(internal)/playground/demos/select-demo.tsx
  www/app/(internal)/playground/demos/tabs-demo.tsx
  www/app/(internal)/playground/demos/tooltip-demo.tsx
  www/app/(internal)/playground/page.tsx
  www/app/(marketing)/(root)/page.tsx
Labels: area: www

wip
  packages/registry-v2/src/lib/focus-styles.ts
  packages/registry-v2/src/ui/breadcrumbs.tsx
  packages/registry-v2/src/ui/button-group.tsx
  packages/registry-v2/src/ui/button.tsx
  packages/registry-v2/src/ui/calendar.tsx
  packages/registry-v2/src/ui/color-swatch-picker.tsx
  packages/registry-v2/src/ui/color-thumb.tsx
  packages/registry-v2/src/ui/group.tsx
  packages/registry-v2/src/ui/input.tsx
  packages/registry-v2/src/ui/link.tsx
  packages/registry-v2/src/ui/list-box.tsx
  packages/registry-v2/src/ui/number-field.tsx
  packages/registry-v2/src/ui/separator.tsx
  packages/registry-v2/src/ui/switch.tsx
  packages/registry-v2/src/ui/table.tsx
  packages/registry-v2/src/ui/tag-group.tsx
  packages/registry-v2/src/ui/text-field.tsx
  packages/registry-v2/src/ui/toast.tsx
  packages/registry-v2/src/ui/toggle-button-group.tsx
  packages/registry-v2/src/ui/toggle-button.tsx
  packages/registry-v2/src/ui/tooltip.tsx
  packages/registry-v2/src/ui/tree.tsx
  pnpm-lock.yaml
  www/app/(internal)/playground/demos/button-group-demo.tsx
  www/app/(internal)/playground/demos/group-demo.tsx
  www/app/(internal)/playground/demos/index.ts
  www/app/(internal)/playground/demos/number-field-demo.tsx
  www/app/(internal)/playground/demos/text-field-demo.tsx
  www/app/(internal)/playground/page.tsx
  www/package.json
  www/styles/base.css
Labels: area: www

wip
  packages/registry-v2/src/hooks/use-icon-only.ts
  packages/registry-v2/src/lib/utils-v2.tsx
  packages/registry-v2/src/lib/utils.tsx
  packages/registry-v2/src/ui/button.tsx
  packages/registry-v2/src/ui/toggle-button.tsx
Labels: none

wip
  biome.json
  package.json
  packages/registry/src/ui/calendar/basic.tsx
  packages/registry/src/ui/date-picker/basic.tsx
  packages/registry/src/ui/date-picker/demos/prefix.tsx
  packages/registry/src/ui/date-picker/demos/range/composition.tsx
  packages/registry/src/ui/date-picker/demos/range/controlled.tsx
  packages/registry/src/ui/date-picker/demos/range/default.tsx
  packages/registry/src/ui/date-picker/demos/range/description.tsx
  packages/registry/src/ui/date-picker/demos/range/disabled.tsx
  packages/registry/src/ui/date-picker/demos/range/error-message.tsx
  packages/registry/src/ui/date-picker/demos/range/granularity.tsx
  packages/registry/src/ui/date-picker/demos/range/hide-time-zone.tsx
  packages/registry/src/ui/date-picker/demos/range/hour-cycle.tsx
  packages/registry/src/ui/date-picker/demos/range/label.tsx
  packages/registry/src/ui/date-picker/demos/range/loading.tsx
  packages/registry/src/ui/date-picker/demos/range/placeholder.tsx
  packages/registry/src/ui/date-picker/demos/range/prefix.tsx
  packages/registry/src/ui/date-picker/demos/range/read-only.tsx
  packages/registry/src/ui/date-picker/demos/range/required.tsx
  packages/registry/src/ui/date-picker/demos/range/sizes.tsx
  packages/registry/src/ui/date-picker/demos/range/time-zones.tsx
  packages/registry/src/ui/date-picker/demos/range/uncontrolled.tsx
  packages/registry/src/ui/date-picker/demos/read-only.tsx
  packages/registry/src/ui/date-picker/demos/required.tsx
  packages/registry/src/ui/date-picker/demos/sizes.tsx
  packages/registry/src/ui/date-picker/demos/time-zones.tsx
  packages/registry/src/ui/date-picker/demos/uncontrolled.tsx
  packages/registry/src/ui/dialog/demos/alert-dialog.tsx
  packages/registry/src/ui/dialog/demos/async-form-submission.tsx
  packages/registry/src/ui/dialog/index.tsx
  pnpm-lock.yaml
Labels: none

wip
  packages/registry/src/_style-system/schemas.ts
  packages/registry/src/ui/dialog/demos/basic.tsx
  packages/registry/src/ui/dialog/demos/composition.tsx
  packages/registry/src/ui/dialog/demos/controlled.tsx
  packages/registry/src/ui/dialog/demos/description.tsx
  packages/registry/src/ui/dialog/demos/dismissable.tsx
  packages/registry/src/ui/dialog/demos/drawer.tsx
  packages/registry/src/ui/dialog/demos/inset-content.tsx
  packages/registry/src/ui/dialog/demos/nested.tsx
  packages/registry/src/ui/dialog/demos/popover.tsx
  packages/registry/src/ui/dialog/demos/title.tsx
  packages/registry/src/ui/dialog/demos/types.tsx
  packages/registry/src/ui/drawer/demos/basic.tsx
  packages/registry/src/ui/drawer/demos/placement.tsx
  packages/registry/src/ui/drawer/index.tsx
  packages/registry/src/ui/empty/demos/empty-projects.tsx
  packages/registry/src/ui/empty/index.tsx
  packages/registry/src/ui/empty/meta.ts
  packages/registry/src/ui/file-trigger/demos/default.tsx
  packages/registry/src/ui/file-trigger/demos/directory-selection.tsx
  packages/registry/src/ui/file-trigger/demos/file-types.tsx
  packages/registry/src/ui/file-trigger/demos/media-capture.tsx
  packages/registry/src/ui/file-trigger/demos/multiple-files.tsx
  packages/registry/src/ui/file-trigger/index.tsx
  packages/registry/src/ui/form/basic.tsx
  packages/registry/src/ui/form/demos/basic.tsx
  packages/registry/src/ui/form/demos/react-aria.tsx
  packages/registry/src/ui/form/index.tsx
  packages/registry/src/ui/group/demos/default.tsx
  packages/registry/src/ui/group/index.tsx
  packages/registry/src/ui/kbd/index.tsx
  packages/registry/src/ui/link/index.tsx
  packages/registry/src/ui/list-box/basic.tsx
  packages/registry/src/ui/react-hook-form/demos/register.tsx
  packages/registry/src/ui/react-hook-form/index.tsx
  packages/registry/src/ui/react-hook-form/meta.ts
  packages/registry/src/ui/tanstack-form/index.tsx
  packages/registry/src/ui/tanstack-form/meta.ts
Labels: none

wip menu
  packages/registry/src/ui/list-box/basic.tsx
  packages/registry/src/ui/list-box/demos/horizontal.tsx
  packages/registry/src/ui/list-box/demos/label-and-description.tsx
  packages/registry/src/ui/list-box/demos/links.tsx
  packages/registry/src/ui/list-box/demos/prefix-and-suffix.tsx
  packages/registry/src/ui/list-box/demos/sections.tsx
  packages/registry/src/ui/loader/index.tsx
  packages/registry/src/ui/loader/ring.tsx
  packages/registry/src/ui/menu/basic.tsx
  packages/registry/src/ui/menu/demos/basic.tsx
  packages/registry/src/ui/menu/demos/composition.tsx
  packages/registry/src/ui/menu/demos/controlled.tsx
  packages/registry/src/ui/menu/demos/disabled-items.tsx
  packages/registry/src/ui/menu/index.tsx
  www/content/docs/components/menu.mdx
Labels: area: www, documentation

update menu demos
  packages/registry/src/ui/menu/demos/item-variant.tsx
  packages/registry/src/ui/menu/demos/label-and-description.tsx
  packages/registry/src/ui/menu/demos/link-items.tsx
  packages/registry/src/ui/menu/demos/long-press.tsx
  packages/registry/src/ui/menu/demos/multiple-selection.tsx
  packages/registry/src/ui/menu/demos/overlay-type.tsx
  packages/registry/src/ui/menu/demos/placement.tsx
  packages/registry/src/ui/menu/demos/prefix-and-suffix.tsx
  packages/registry/src/ui/menu/demos/section.tsx
  packages/registry/src/ui/menu/demos/separator.tsx
  packages/registry/src/ui/menu/demos/shortcut.tsx
  packages/registry/src/ui/menu/demos/single-selection.tsx
  packages/registry/src/ui/menu/demos/submenus.tsx
Labels: none

build registry
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
Labels: none

wip
  packages/registry/src/blocks/showcase/cards/components/cards.tsx
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
  packages/registry/src/lib/context/index.tsx
  packages/registry/src/lib/context/meta.ts
  packages/registry/src/lib/utils/index.tsx
  packages/registry/src/ui/avatar/basic.tsx
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/checkbox/basic.tsx
  packages/registry/src/ui/input/basic.tsx
  packages/registry/src/ui/progress-bar/basic.tsx
  packages/registry/src/ui/radio-group/basic.tsx
  packages/registry/src/ui/switch/basic.tsx
  packages/registry/src/ui/tabs/basic.tsx
  packages/registry/src/ui/toggle-button/basic.tsx
  www/app/(marketing)/(root)/page.tsx
  www/components/featured-styles-showcase.tsx
  www/components/layout/header.tsx
  www/components/layout/mobile-nav.tsx
  www/components/search-command.tsx
  www/components/site-theme-selector.tsx
  www/modules/auth/components/user-profile-menu.tsx
Labels: area: www

fix avatar component
  packages/registry/src/ui/avatar/index.tsx
  www/app/(internal)/playground/demos/avatar-demo.tsx
Labels: area: www

update cursor rules
  .cursorrules
Labels: none

enhance website
  packages/registry/src/_style-system/core/css.ts
  packages/registry/src/ui/combobox/demos/sections.tsx
  www/components/featured-styles-showcase.tsx
  www/components/layout/header.tsx
  www/components/layout/sidebar.tsx
  www/content/docs/components/alert.mdx
  www/hooks/use-debounce.ts
  www/modules/docs/actions/code-to-html.ts
  www/modules/docs/components/code-block-client.tsx
  www/modules/docs/components/code-block.tsx
  www/modules/docs/components/code.tsx
  www/modules/docs/components/component-preview-client.tsx
  www/modules/docs/components/component-preview.tsx
  www/modules/styles/components/active-style-provider.tsx
  www/modules/styles/components/active-style-selector.tsx
  www/source.config.ts
  www/styles/docs.css
  www/styles/globals.css
Labels: area: www, documentation

format
  www/components/layout/header.tsx
  www/styles/globals.css
Labels: area: www

wip
  www/app/(marketing)/(root)/page.tsx
  www/content/docs/components/alert.mdx
  www/modules/docs/components/code-block-client.tsx
Labels: area: www, documentation

wip
  www/app/(app)/(header)/blocks/[category]/page.tsx
  www/app/(app)/(header)/blocks/layout.tsx
  www/app/(app)/(header)/blocks/page.tsx
  www/app/(app)/(header)/docs/[[...slug]]/page.tsx
  www/app/(app)/(header)/layout.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/components/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/effects/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/icons/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/layout/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/page.tsx
  www/app/(app)/(header)/styles/(style)/[username]/[stylename]/typography/page.tsx
  www/app/(app)/(header)/styles/(styles)/community/page.tsx
  www/app/(app)/(header)/styles/(styles)/layout.tsx
  www/app/(app)/(header)/styles/(styles)/my-styles/page.tsx
  www/app/(app)/(header)/styles/(styles)/page.tsx
  www/app/(app)/(no-header)/layout.tsx
  www/app/(app)/(no-header)/style-editor/colors/page.tsx
  www/app/(app)/(no-header)/style-editor/components/page.tsx
  www/app/(app)/(no-header)/style-editor/effects/page.tsx
  www/app/(app)/(no-header)/style-editor/icons/page.tsx
  www/app/(app)/(no-header)/style-editor/layout.tsx
  www/app/(app)/(no-header)/style-editor/layout/page.tsx
  www/app/(app)/(no-header)/style-editor/typography/page.tsx
  www/app/(app)/layout.tsx
  www/components/layout/header.tsx
  www/components/layout/sidebar.tsx
Labels: area: www

root page done
  packages/registry/src/ui/tabs/basic.tsx
  www/app/(marketing)/(root)/page.tsx
  www/app/(marketing)/layout.tsx
  www/components/featured-styles-showcase.tsx
  www/components/layout/header.tsx
Labels: area: www

wip sidebar
  biome.json
  packages/registry/src/hooks/use-is-mobile.ts
  packages/registry/src/hooks/use-keyboard-shortcut.ts
  packages/registry/src/hooks/use-mobile.ts
  packages/registry/src/lib/context/index.tsx
  packages/registry/src/ui/overlay/basic.tsx
  packages/registry/src/ui/sidebar/basic.tsx
  packages/registry/src/ui/sidebar/index.tsx
  www/app/(app)/layout.tsx
  www/app/(app)/legacy_layout.tsx
  www/app/(app)/providers.tsx
  www/components/layout/docs-sidebar.tsx
Labels: area: www

wip sidebar
  packages/registry/src/ui/sidebar/basic.tsx
  www/app/(app)/(header)/layout.tsx
  www/app/(app)/layout.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/header.tsx
  www/styles/theme.css
Labels: area: www

clean up sidebar
  packages/registry/src/ui/header/index.tsx
  packages/registry/src/ui/heading/index.tsx
  packages/registry/src/ui/sidebar/basic.tsx
  www/app/(app)/layout.tsx
  www/app/(app)/legacy_layout.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/sidebar.tsx
  www/components/logo.tsx
  www/styles/theme.css
Labels: area: www

format
  packages/registry/src/lib/context/index.tsx
  packages/registry/src/ui/sidebar/index.tsx
  packages/registry/src/ui/tabs/basic.tsx
  www/app/(app)/providers.tsx
  www/app/(marketing)/(root)/page.tsx
  www/components/layout/header.tsx
Labels: area: www

wip
  packages/registry/src/ui/input/basic.tsx
  packages/registry/src/ui/link/basic.tsx
  packages/registry/src/ui/sidebar/basic.tsx
  www/app/(app)/(header)/layout.tsx
  www/app/(marketing)/(root)/page.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/header.tsx
  www/content/docs/(root)/changelog.mdx
  www/modules/auth/components/user-profile-menu.tsx
  www/styles/theme.css
Labels: area: www, documentation

wip
  packages/registry/src/blocks/auth/login/components/login-form.tsx
  packages/registry/src/blocks/showcase/cards/components/cards.tsx
  packages/registry/src/ui/search-field/basic.tsx
  packages/registry/src/ui/text-field/basic.tsx
  www/app/(app)/(header)/blocks/layout.tsx
  www/app/(app)/(header)/layout.tsx
  www/app/(app)/layout.tsx
  www/app/(marketing)/(root)/page.tsx
  www/components/layout/docs-sidebar.tsx
  www/components/layout/page-layout.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/content/docs/(root)/changelog.mdx
  www/modules/blocks/blocks-nav.tsx
  www/modules/styles/components/styles-list.tsx
Labels: area: www, documentation

wip
  www/components/layout/page-layout.tsx
  www/modules/blocks/blocks-nav.tsx
Labels: area: www

wip
  www/app/(app)/(header)/layout.tsx
  www/app/(app)/(no-header)/layout.tsx
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(app)/blocks/layout.tsx
  www/app/(app)/blocks/page.tsx
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/(app)/docs/layout.tsx
  www/app/(app)/layout.tsx
  www/app/(app)/style-editor/colors/page.tsx
  www/app/(app)/style-editor/components/page.tsx
  www/app/(app)/style-editor/effects/page.tsx
  www/app/(app)/style-editor/icons/page.tsx
  www/app/(app)/style-editor/layout.tsx
  www/app/(app)/style-editor/layout/page.tsx
  www/app/(app)/style-editor/typography/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/components/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/effects/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/icons/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/layout/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/typography/page.tsx
  www/app/(app)/styles/(styles)/community/page.tsx
  www/app/(app)/styles/(styles)/layout.tsx
  www/app/(app)/styles/(styles)/my-styles/page.tsx
  www/app/(app)/styles/(styles)/page.tsx
  www/modules/blocks/blocks-nav.tsx
Labels: area: www

parallel routes for the complex new layout
  www/app/(app)/(with-header)/@pageHeader/blocks/page.tsx
  www/app/(app)/(with-header)/@pageHeader/default.tsx
  www/app/(app)/(with-header)/@pageHeader/styles/page.tsx
  www/app/(app)/(with-header)/blocks/[category]/page.tsx
  www/app/(app)/(with-header)/blocks/layout.tsx
  www/app/(app)/(with-header)/blocks/page.tsx
  www/app/(app)/(with-header)/docs/[[...slug]]/page.tsx
  www/app/(app)/(with-header)/layout.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/components/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/effects/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/icons/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/layout/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/typography/page.tsx
  www/app/(app)/(with-header)/styles/(styles)/community/page.tsx
  www/app/(app)/(with-header)/styles/(styles)/layout.tsx
  www/app/(app)/(with-header)/styles/(styles)/my-styles/page.tsx
  www/app/(app)/(with-header)/styles/(styles)/page.tsx
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(app)/blocks/layout.tsx
  www/app/(app)/blocks/page.tsx
  www/app/(app)/docs/layout.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/components/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/effects/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/icons/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/layout/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/page.tsx
  www/app/(app)/styles/(style)/[username]/[stylename]/typography/page.tsx
  www/app/(app)/styles/(styles)/community/page.tsx
  www/app/(app)/styles/(styles)/layout.tsx
  www/app/(app)/styles/(styles)/my-styles/page.tsx
  www/app/(app)/styles/(styles)/page.tsx
  www/components/layout/docs-sidebar.tsx
  www/modules/blocks/blocks-nav.tsx
  www/modules/styles/components/styles-page-nav.tsx
Labels: area: www

format
  packages/registry/src/ui/sidebar/basic.tsx
  www/app/(app)/(with-header)/blocks/[category]/page.tsx
  www/app/(app)/(with-header)/blocks/layout.tsx
  www/app/(app)/(with-header)/blocks/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/components/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/effects/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/icons/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/layout/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/page.tsx
  www/app/(app)/(with-header)/styles/(style)/[username]/[stylename]/typography/page.tsx
  www/app/(app)/(with-header)/styles/(styles)/community/page.tsx
  www/app/(app)/(with-header)/styles/(styles)/layout.tsx
  www/app/(app)/(with-header)/styles/(styles)/my-styles/page.tsx
  www/app/(app)/(with-header)/styles/(styles)/page.tsx
  www/components/layout/header.tsx
  www/components/layout/page-layout.tsx
Labels: area: www
