Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

minor updates on select
  packages/registry/src/ui/select/basic.tsx
  www/content/docs/components/select.mdx
Labels: area: www, documentation

wip disclosure
  package.json
  packages/registry/src/ui/accordion/demos/allows-multiple.tsx
  packages/registry/src/ui/accordion/demos/controlled.tsx
  packages/registry/src/ui/accordion/demos/default-expanded.tsx
  packages/registry/src/ui/accordion/demos/disabled.tsx
  packages/registry/src/ui/accordion/demos/nested.tsx
  packages/registry/src/ui/accordion/demos/with-icon.tsx
  packages/registry/src/ui/disclosure/basic.tsx
  packages/registry/src/ui/disclosure/demos/controlled.tsx
  packages/registry/src/ui/disclosure/demos/default-expanded.tsx
  packages/registry/src/ui/disclosure/demos/default.tsx
  packages/registry/src/ui/disclosure/demos/disabled.tsx
  packages/registry/src/ui/disclosure/demos/playground.tsx
  packages/registry/src/ui/disclosure/index.tsx
  packages/registry/src/ui/disclosure/meta.ts
  packages/registry/src/ui/disclosure/types.ts
  www/content/docs/components/accordion.mdx
  www/content/docs/components/disclosure.mdx
  www/modules/docs/demo/demo-frame.tsx
  www/modules/docs/demo/demo.client.tsx
  www/modules/docs/demo/demo.tsx
  www/package.json
Labels: area: www, documentation

wip accordion
  packages/registry/src/_style-system/schemas.ts
  packages/registry/src/hooks/use-button-aspect.ts
  packages/registry/src/ui/__demos__.tsx
  packages/registry/src/ui/accordion/basic.tsx
  packages/registry/src/ui/accordion/demos/basic.tsx
  packages/registry/src/ui/accordion/index.tsx
  packages/registry/src/ui/accordion/types.ts
  packages/registry/src/ui/disclosure/basic.tsx
  packages/registry/src/ui/disclosure/demos/advanced-composition.tsx
  packages/registry/src/ui/disclosure/demos/basic.tsx
  packages/registry/src/ui/disclosure/demos/controlled.tsx
  packages/registry/src/ui/disclosure/demos/default-expanded.tsx
  packages/registry/src/ui/disclosure/demos/default.tsx
  packages/registry/src/ui/disclosure/demos/disabled.tsx
  packages/registry/src/ui/disclosure/demos/playground.tsx
  packages/registry/src/ui/disclosure/index.tsx
  packages/registry/src/ui/disclosure/types.ts
  packages/registry/src/ui/drawer/basic.tsx
  packages/registry/src/ui/sidebar/basic.tsx
  www/components/layout/docs-sidebar.tsx
  www/content/docs/components/disclosure.mdx
  www/modules/docs/demo/demo.tsx
  www/modules/docs/mdx-components.tsx
  www/modules/docs/page-tabs.tsx
  www/styles/animations.css
Labels: area: www, documentation

wip
  packages/registry/src/ui/disclosure/demos/basic.tsx
  pnpm-lock.yaml
  www/content/docs/components/disclosure.mdx
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/demo/transformer.ts
  www/package.json
Labels: area: www, documentation

update productionUrl
  www/modules/auth/server.ts
Labels: area: www

format
  packages/registry/src/_style-system/schemas.ts
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/hooks/use-button-aspect.ts
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
  packages/registry/src/ui/checkbox-group/demos/playground.tsx
  packages/registry/src/ui/checkbox/demos/playground.tsx
  packages/registry/src/ui/color-field/demos/playground.tsx
  packages/registry/src/ui/color-slider/demos/playground.tsx
  packages/registry/src/ui/combobox/demos/playground.tsx
  packages/registry/src/ui/date-field/demos/playground.tsx
  packages/registry/src/ui/date-picker/demos/playground.tsx
  packages/registry/src/ui/date-picker/demos/range/playground.tsx
  packages/registry/src/ui/dialog/demos/playground.tsx
  packages/registry/src/ui/disclosure/types.ts
  packages/registry/src/ui/form/demos/playground.tsx
  packages/registry/src/ui/number-field/demos/playground.tsx
  packages/registry/src/ui/progress-bar/demos/playground.tsx
  packages/registry/src/ui/radio-group/demos/playground.tsx
  packages/registry/src/ui/search-field/demos/playground.tsx
  packages/registry/src/ui/select/demos/playground.tsx
  packages/registry/src/ui/slider/demos/playground.tsx
  packages/registry/src/ui/switch/demos/playground.tsx
  packages/registry/src/ui/text-field/demos/playground.tsx
  www/lib/utils.ts
Labels: area: www

lint
  www/modules/docs/demo/demo.client.tsx
Labels: area: www

fix type errors
  packages/registry/src/_style-system/constants.ts
  packages/registry/src/ui/accordion/demos/allows-multiple.tsx
  packages/registry/src/ui/accordion/demos/controlled.tsx
  packages/registry/src/ui/accordion/demos/default-expanded.tsx
  packages/registry/src/ui/accordion/demos/disabled.tsx
  packages/registry/src/ui/accordion/demos/nested.tsx
  packages/registry/src/ui/accordion/demos/with-icon.tsx
  www/app/(internal)/playground/demos/accordion-demo.tsx
  www/app/demos/accordion/page.tsx
Labels: area: www

feat: disclosure component
  packages/registry/src/ui/date-field/meta.ts
  packages/registry/src/ui/date-picker/meta.ts
  packages/registry/src/ui/disclosure/basic.tsx
  packages/registry/src/ui/disclosure/demos/advanced-composition.tsx
  packages/registry/src/ui/disclosure/demos/basic.tsx
  packages/registry/src/ui/sidebar/basic.tsx
  packages/registry/src/ui/time-field/meta.ts
  www/content/docs/components/disclosure.mdx
  www/modules/docs/docs-pager.tsx
  www/styles/base.css
  www/styles/globals.css
Labels: area: www, documentation

update disclosure docs
  packages/registry/src/ui/disclosure/basic.tsx
  packages/registry/src/ui/disclosure/demos/controlled.tsx
  packages/registry/src/ui/disclosure/demos/default-expanded.tsx
  packages/registry/src/ui/disclosure/demos/disabled.tsx
  www/content/docs/components/disclosure.mdx
  www/modules/docs/example.tsx
  www/modules/docs/examples.tsx
  www/modules/docs/mdx-components.tsx
Labels: area: www, documentation

accordion fixes
  .gitignore
  packages/registry/src/ui/accordion/basic.tsx
  packages/registry/src/ui/disclosure/basic.tsx
  www/content/docs/components/accordion.mdx
Labels: area: www, documentation

fix: add disclosure component to UI registry
  packages/registry/src/ui/registry.ts
Labels: none

update alert.mdx
  www/content/docs/components/alert.mdx
Labels: area: www, documentation

clean up default variants
  packages/registry/src/_style-system/constants.ts
  packages/registry/src/lib/focus-styles/meta.ts
Labels: none

chore: remove unused _style-system folder
  packages/registry/src/_style-system/constants.ts
Labels: none

refactor: extract playground types to @dotui/types package
  packages/registry/package.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/playground.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
  www/modules/docs/interactive-demo/controls.tsx
  www/modules/docs/interactive-demo/interactive-demo.client.tsx
  www/modules/docs/interactive-demo/interactive-demo.tsx
  www/modules/docs/interactive-demo/loader.tsx
  www/package.json
Labels: area: www

refactor: create @dotui/transformers package
  packages/registry/package.json
  packages/registry/src/shadcn-registry/helpers/update-files.ts
  packages/registry/src/shadcn-registry/transformers/index.ts
  packages/registry/src/shadcn-registry/transformers/transform-icons.ts
  packages/registry/src/shadcn-registry/transformers/transform-imports.ts
  packages/transformers/package.json
  packages/transformers/src/index.ts
  packages/transformers/src/pipeline.ts
  packages/transformers/src/transforms/icons.ts
  packages/transformers/src/transforms/imports.ts
  packages/transformers/src/transforms/index.ts
  packages/transformers/src/types.ts
  packages/transformers/tsconfig.json
  pnpm-lock.yaml
Labels: none

refactor: create @dotui/registry-generator package
  packages/registry-generator/package.json
  packages/registry-generator/src/index.ts
  packages/registry-generator/src/shadcn/generators/all.ts
  packages/registry-generator/src/shadcn/generators/base.ts
  packages/registry-generator/src/shadcn/generators/generic.ts
  packages/registry-generator/src/shadcn/generators/registry.ts
  packages/registry-generator/src/shadcn/generators/theme.ts
  packages/registry-generator/src/shadcn/helpers/update-files.ts
  packages/registry-generator/src/shadcn/helpers/update-registry-deps.ts
  packages/registry-generator/src/shadcn/index.ts
  packages/registry-generator/tsconfig.json
  packages/registry/package.json
  packages/transformers/src/index.ts
  packages/transformers/src/pipeline.ts
  packages/transformers/src/transforms/icons.ts
  packages/transformers/src/transforms/index.ts
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
  www/package.json
Labels: area: www

wwere getting there
  PLAN_PHASE_4_API_REFACTOR.md
  packages/registry-generator/package.json
  packages/registry-generator/src/build.ts
  packages/registry-generator/src/generators/component.ts
  packages/registry-generator/src/generators/index.ts
  packages/registry-generator/src/generators/manifest.ts
  packages/registry-generator/src/index.ts
  packages/registry-generator/src/types.ts
  packages/registry/src/hooks/registry.ts
  packages/registry/src/schemas.ts
  packages/registry/src/ui/form/demos/playground.tsx
  packages/registry/src/ui/form/index.tsx
  packages/registry/src/ui/form/meta.ts
  packages/registry/src/ui/loader/meta.ts
  packages/registry/src/ui/registry.ts
  packages/registry/src/ui/tabs/meta.ts
  pnpm-lock.yaml
  www/app/(internal)/playground/demos/form-demo.tsx
  www/app/(internal)/playground/demos/index.ts
  www/app/(internal)/playground/page.tsx
  www/app/demos/form/page.tsx
  www/app/r/[...params]/route.ts
Labels: area: www, documentation

fix type errors
  packages/registry/src/lib/utils/index.ts
  packages/registry/src/lib/utils/meta.ts
  packages/registry/src/ui/skeleton/basic.tsx
Labels: none

refactor: use pre-built JSON for registry API route
  packages/registry-generator/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
  www/lib/registry/cache.ts
  www/lib/registry/index.ts
  www/lib/registry/loader.ts
  www/lib/registry/transformer.ts
  www/package.json
Labels: area: www

fix buid errors
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/ui/__demos__.tsx
  www/content/docs/components/calendar.mdx
  www/content/docs/components/color-area.mdx
  www/content/docs/components/date-picker.mdx
  www/content/docs/components/form.mdx
Labels: area: www, documentation

fix lint errors
  packages/registry/src/blocks/__blocks__.tsx
  packages/registry/src/icons/__icons__.tsx
  packages/registry/src/providers.tsx
  packages/registry/src/ui/__demos__.tsx
  packages/style-system/src/providers/font-loader.tsx
  packages/style-system/src/providers/variants-provider.tsx
Labels: none

remove unused files
  PLAN_PHASE_2_TRANSFORMERS.md
  PLAN_PHASE_3_REGISTRY_BUILDER.md
  PLAN_PHASE_4_API_REFACTOR.md
Labels: documentation

remove style system barrel file
  packages/db/src/schemas/style.ts
  packages/db/src/seed.ts
  packages/registry-generator/src/shadcn/generators/all.ts
  packages/registry-generator/src/shadcn/generators/base.ts
  packages/registry-generator/src/shadcn/generators/generic.ts
  packages/registry-generator/src/shadcn/generators/registry.ts
  packages/registry-generator/src/shadcn/generators/theme.ts
  packages/registry-generator/src/shadcn/helpers/update-files.ts
  packages/registry-generator/src/shadcn/helpers/update-registry-deps.ts
  packages/registry-generator/src/shadcn/index.ts
  packages/registry/src/constants.ts
  packages/registry/src/icons/create-icon.tsx
  packages/registry/src/providers.tsx
  packages/registry/src/ui/create-dynamic-component.tsx
  packages/style-system/package.json
  packages/style-system/src/index.ts
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
  www/app/view/[username]/[style]/[block]/_layout.tsx
  www/lib/registry/transformer.ts
  www/modules/style-editor/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/colors-editor/color-scale.tsx
  www/modules/style-editor/colors-editor/tokens-table.tsx
  www/modules/style-editor/components-editor/component-config.tsx
  www/modules/style-editor/draft-style-atom.tsx
  www/modules/style-editor/icons-editor/icons-editor.tsx
  www/modules/style-editor/style-editor-provider.tsx
  www/modules/style-editor/theme-utils.ts
  www/modules/styles/create-style-modal.tsx
  www/modules/styles/use-create-style.ts
Labels: area: www

refactor: split registry-generator into registry-builder and shadcn-adapter
  packages/auth/package.json
  packages/registry-builder/package.json
  packages/registry-builder/src/build.ts
  packages/registry-builder/src/cli.ts
  packages/registry-builder/src/generators/index.ts
  packages/registry-builder/src/generators/item.ts
  packages/registry-builder/src/generators/manifest.ts
  packages/registry-builder/src/index.ts
  packages/registry-builder/tsconfig.json
  packages/registry-generator/src/generators/index.ts
  packages/registry-generator/src/index.ts
  packages/registry-generator/src/shadcn/helpers/update-files.ts
  packages/registry-generator/src/shadcn/helpers/update-registry-deps.ts
  packages/registry/package.json
  packages/shadcn-adapter/package.json
  packages/shadcn-adapter/src/generators/all.ts
  packages/shadcn-adapter/src/generators/base.ts
  packages/shadcn-adapter/src/generators/index.ts
  packages/shadcn-adapter/src/generators/item.ts
  packages/shadcn-adapter/src/generators/registry.ts
  packages/shadcn-adapter/src/generators/theme.ts
  packages/shadcn-adapter/src/index.ts
  packages/shadcn-adapter/src/transform.ts
  packages/shadcn-adapter/tsconfig.json
  packages/style-system/package.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/registry.ts
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
  www/lib/registry/index.ts
  www/lib/registry/loader.ts
  www/lib/registry/transformer.ts
  www/package.json
Labels: area: www

bump react
  packages/auth/package.json
  packages/registry/package.json
  packages/style-system/package.json
  www/package.json
Labels: area: www

bump biome
  biome.json
  package.json
  pnpm-lock.yaml
Labels: none

remove registry barrel file
  packages/registry/src/constants.ts
  packages/registry/src/index.ts
  packages/registry/src/registry.ts
  www/app/view/[username]/[style]/[block]/_layout.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/modules/style-editor/draft-style-provider.tsx
  www/modules/style-editor/fonts-selector.tsx
  www/modules/styles/active-style-provider.tsx
Labels: area: www

add schemas test
  packages/registry/src/schemas.test.ts
Labels: none

fix: use Turbo for registry build ordering instead of shell cd
  packages/registry/package.json
  packages/registry/turbo.json
Labels: none

format
  www/modules/styles/active-style-provider.tsx
Labels: area: www

fix: add packages depending on ignored packages to changesets ignore list
  .changeset/config.json
Labels: none

add aria-hidden on svgs
  www/app/(marketing)/(root)/page.tsx
  www/app/demos/card/page.tsx
  www/app/og/route.tsx
  www/components/logo.tsx
Labels: area: www

fix lint noArrayIndex
  www/app/(marketing)/(root)/page.tsx
  www/app/(marketing)/[slug]/page.tsx
  www/components/layout/footer.tsx
  www/components/layout/mobile-nav.tsx
  www/components/search-command.tsx
Labels: area: www

fix accessibility lint errors
  www/app/(app)/docs/components/page.tsx
  www/biome.json
Labels: area: www

update biome config
  config/biome-config/next-js.json
Labels: none

fix lint errors
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/demos/table/page.tsx
  www/modules/blocks/block-view.tsx
  www/modules/docs/api-reference/components/type-popover.tsx
  www/modules/docs/api-reference/components/type-renderer.tsx
  www/modules/docs/api-reference/props-table.tsx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/docs-copy-page.tsx
  www/modules/docs/mdx-components.tsx
  www/modules/style-editor/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/colors-editor/color-scale.tsx
  www/modules/style-editor/preview.tsx
  www/modules/styles/styles-list.tsx
  www/package.json
Labels: area: www

wip
  www/app/(internal)/playground/page.tsx
  www/app/demos/table/page.tsx
  www/components/layout/mobile-nav.tsx
  www/components/search-command.tsx
  www/lib/trpc/build.ts
  www/lib/trpc/server.tsx
  www/modules/docs/api-reference/components/type-popover.tsx
  www/modules/docs/interactive-demo/element-to-code.ts
  www/modules/docs/interactive-demo/loader.tsx
  www/modules/style-editor/colors-editor/accent-emphasis-editor.tsx
  www/modules/style-editor/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/use-update-style-mutation.ts
  www/modules/styles/active-style-selector.tsx
  www/modules/styles/use-create-style.ts
  www/package.json
  www/scripts/api-docs-builder/src/formatter.ts
  www/scripts/api-docs-builder/src/type-to-ast.ts
Labels: area: www

add leonardo package for now
  packages/contrast-colors/.eslintrc.json
  packages/contrast-colors/.npmignore
  packages/contrast-colors/CHANGELOG.md
  packages/contrast-colors/README.md
  packages/contrast-colors/index.d.ts
  packages/contrast-colors/index.js
  packages/contrast-colors/lib/backgroundcolor.js
  packages/contrast-colors/lib/chroma-plus.js
  packages/contrast-colors/lib/color.js
  packages/contrast-colors/lib/curve.js
  packages/contrast-colors/lib/theme.js
  packages/contrast-colors/lib/utils.js
  packages/contrast-colors/moon.yml
  packages/contrast-colors/package.json
  packages/contrast-colors/test/backgroundColor.test.js
  packages/contrast-colors/test/colorSetters.test.js
  packages/contrast-colors/test/contrast.test.js
  packages/contrast-colors/test/convertColorValue.test.js
  packages/contrast-colors/test/createScale.test.js
  packages/contrast-colors/test/minPositive.test.js
  packages/contrast-colors/test/ratioName.test.js
  packages/contrast-colors/test/searchColors.test.js
  packages/contrast-colors/test/theme.test.js
  packages/contrast-colors/test/themeSetters.test.js
  packages/registry-builder/package.json
  packages/registry-builder/src/build.ts
  packages/registry-builder/src/cli.ts
  packages/registry-builder/src/generators/index.ts
  packages/registry-builder/src/generators/item.ts
  packages/registry-builder/src/generators/manifest.ts
  packages/registry-builder/src/index.ts
  packages/registry-builder/tsconfig.json
Labels: documentation

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]
