Repository mehdibha/dotUI, changes with the labels that .github/labeler.yml gives for each.
All labels: area: www, documentation, area: ci, area: registry

wip input
  www/src/modules/core/styles.tsx
  www/src/registry/__generated__/demos.tsx
  www/src/registry/base/theme.css
  www/src/registry/ui/input-group/demos/addons.tsx
  www/src/registry/ui/input-group/demos/in-card.tsx
  www/src/registry/ui/input-group/demos/textarea.tsx
  www/src/registry/ui/input/base.tsx
  www/src/registry/ui/input/examples.tsx
  www/src/registry/ui/input/meta.ts
  www/src/registry/ui/input/styles.ts
  www/src/registry/ui/input/types.ts
Labels: area: www

wip
  www/src/modules/create/components-config.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/registry/ui/input/base.tsx
  www/src/registry/ui/input/demos/invalid.tsx
  www/src/registry/ui/input/demos/textarea.tsx
  www/src/registry/ui/input/examples.tsx
  www/src/registry/ui/input/styles.ts
  www/src/registry/ui/text-area/examples.tsx
  www/src/registry/ui/text-field/styles.ts
Labels: area: www

remove force preview
  www/src/modules/create/customizer-panel.tsx
  www/src/routes/_app/create.tsx
Labels: area: www

wip
  www/src/registry/ui/input/styles.ts
Labels: area: www

patch tailwind rac package
  package.json
  patches/tailwindcss-react-aria-components@2.0.1.patch
  pnpm-lock.yaml
Labels: none

update input styles
  www/src/registry/ui/input/base.tsx
  www/src/registry/ui/input/styles.ts
Labels: area: www

wip
  www/src/registry/ui/input-group/demos/sizes.tsx
  www/src/registry/ui/input/base.tsx
  www/src/registry/ui/input/styles.ts
Labels: area: www

update input styles
  www/src/registry/ui/input/styles.ts
Labels: area: www

wip
  www/src/registry/ui/input-group/demos/date.tsx
  www/src/registry/ui/input-group/demos/textarea.tsx
  www/src/registry/ui/input-group/examples.tsx
  www/src/registry/ui/input/base.tsx
  www/src/registry/ui/input/styles.ts
Labels: area: www

feat: input
  www/src/registry/__generated__/demos.tsx
  www/src/registry/ui/input/styles.ts
Labels: area: www

use local react aria packages
  package.json
  pnpm-lock.yaml
  www/package.json
  www/src/registry/ui/input-group/demos/input-group.tsx
  www/src/registry/ui/input-group/demos/vertical-group.tsx
  www/src/registry/ui/input/demos/textarea.tsx
  www/vendor/react-aria-3.48.0.tgz
  www/vendor/react-aria-components-1.17.0.tgz
  www/vendor/react-stately-3.46.0.tgz
Labels: area: www

feat color field
  www/src/registry/__generated__/demos.tsx
  www/src/registry/examples/inputs.tsx
  www/src/registry/examples/pickers.tsx
  www/src/registry/ui/color-field/base.tsx
  www/src/registry/ui/color-field/demos/addons.tsx
  www/src/registry/ui/color-field/demos/basic.tsx
  www/src/registry/ui/color-field/demos/color-channel.tsx
  www/src/registry/ui/color-field/demos/controlled.tsx
  www/src/registry/ui/color-field/demos/disabled.tsx
  www/src/registry/ui/color-field/demos/invalid.tsx
  www/src/registry/ui/color-field/demos/label.tsx
  www/src/registry/ui/color-field/demos/read-only.tsx
  www/src/registry/ui/color-field/demos/required.tsx
  www/src/registry/ui/color-field/demos/sizes.tsx
  www/src/registry/ui/color-field/examples.tsx
  www/src/registry/ui/color-picker/demos/basic.tsx
  www/src/registry/ui/color-picker/examples.tsx
  www/src/registry/ui/field/styles.ts
Labels: area: www

wip
  www/src/modules/docs/components-list/demos/color-picker.tsx
  www/src/modules/docs/interactive-demo/element-to-code.ts
  www/src/registry/ui/color-area/styles.ts
  www/src/registry/ui/color-field/styles.ts
  www/src/registry/ui/color-picker/base.tsx
  www/src/registry/ui/color-picker/demos/basic.tsx
  www/src/registry/ui/color-picker/demos/controlled.tsx
  www/src/registry/ui/color-picker/demos/playground.tsx
  www/src/registry/ui/color-picker/demos/swatches.tsx
  www/src/registry/ui/color-picker/demos/uncontrolled.tsx
  www/src/registry/ui/color-picker/examples.tsx
  www/src/registry/ui/color-picker/types.ts
  www/src/registry/ui/list-box/base.tsx
Labels: area: www

listbox wip
  www/src/registry/ui/list-box/base.tsx
  www/src/registry/ui/list-box/demos/async.tsx
  www/src/registry/ui/list-box/demos/basic.tsx
  www/src/registry/ui/list-box/demos/danger.tsx
  www/src/registry/ui/list-box/demos/disabled.tsx
  www/src/registry/ui/list-box/demos/empty.tsx
  www/src/registry/ui/list-box/demos/file-actions.tsx
  www/src/registry/ui/list-box/demos/grid.tsx
  www/src/registry/ui/list-box/demos/horizontal.tsx
  www/src/registry/ui/list-box/demos/in-combobox.tsx
  www/src/registry/ui/list-box/demos/in-select.tsx
  www/src/registry/ui/list-box/demos/multiple-selection.tsx
  www/src/registry/ui/list-box/demos/sections.tsx
  www/src/registry/ui/list-box/demos/separator.tsx
  www/src/registry/ui/list-box/demos/user-menu.tsx
  www/src/registry/ui/list-box/demos/with-description.tsx
  www/src/registry/ui/list-box/demos/with-icons.tsx
  www/src/registry/ui/list-box/examples.tsx
  www/src/registry/ui/list-box/styles.ts
Labels: area: www

list-box fixes
  www/src/registry/ui/list-box/base.tsx
  www/src/registry/ui/list-box/demos/file-actions.tsx
  www/src/registry/ui/list-box/demos/sections.tsx
  www/src/registry/ui/list-box/demos/user-menu.tsx
  www/src/registry/ui/list-box/styles.ts
  www/src/registry/ui/separator/base.tsx
Labels: area: www

wip listbox
  www/src/registry/ui/list-box/base.tsx
  www/src/registry/ui/list-box/demos/async.tsx
Labels: area: www

wip
  www/src/modules/core/styles.tsx
  www/src/modules/create/components-config.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/preset/codec.ts
  www/src/modules/create/preset/defaults.ts
  www/src/modules/create/preset/types.ts
  www/src/modules/create/preset/use-design-system.ts
  www/src/registry/types.ts
  www/src/registry/ui/alert/meta.ts
  www/src/registry/ui/avatar/meta.ts
  www/src/registry/ui/badge/meta.ts
  www/src/registry/ui/checkbox/meta.ts
  www/src/registry/ui/color-area/meta.ts
  www/src/registry/ui/color-swatch-picker/meta.ts
  www/src/registry/ui/color-swatch/meta.ts
  www/src/registry/ui/list-box/meta.ts
  www/src/registry/ui/list-box/styles.ts
  www/src/routes/preview/$slug.tsx
Labels: area: www

fix avoid iframe refresh
  www/src/routes/_app/create.tsx
Labels: area: www

feat list-box
  www/src/registry/ui/list-box/styles.ts
Labels: area: www

wip
  www/src/registry/ui/combobox/examples.tsx
  www/src/registry/ui/tag-group/styles.ts
Labels: area: www

wip tag group
  www/src/registry/styles.css
  www/src/registry/ui/tag-group/base.tsx
  www/src/registry/ui/tag-group/demos/disabled.tsx
  www/src/registry/ui/tag-group/demos/empty.tsx
  www/src/registry/ui/tag-group/demos/links.tsx
  www/src/registry/ui/tag-group/demos/multiple-selection.tsx
  www/src/registry/ui/tag-group/demos/removable.tsx
  www/src/registry/ui/tag-group/demos/single-selection.tsx
  www/src/registry/ui/tag-group/demos/sizes.tsx
  www/src/registry/ui/tag-group/demos/with-icon.tsx
  www/src/registry/ui/tag-group/examples.tsx
  www/src/registry/ui/tag-group/meta.ts
  www/src/registry/ui/tag-group/styles.css
  www/src/registry/ui/tag-group/styles.ts
  www/src/registry/ui/tag-group/types.ts
Labels: area: www

tag-group wip
  www/src/registry/ui/combobox/base.tsx
  www/src/registry/ui/input/styles.ts
  www/src/registry/ui/tag-group/base.tsx
  www/src/registry/ui/tag-group/demos/with-combobox-2.tsx
  www/src/registry/ui/tag-group/demos/with-combobox.tsx
  www/src/registry/ui/tag-group/examples.tsx
  www/src/registry/ui/tag-group/styles.ts
Labels: area: www

tag group wip
  www/src/registry/__generated__/demos.tsx
  www/src/registry/base/base.css
  www/src/registry/examples/tags.tsx
  www/src/registry/ui/tag-group/demos/basic.tsx
  www/src/registry/ui/tag-group/examples.tsx
  www/src/registry/ui/tag-group/styles.ts
Labels: area: www

wip
  www/src/registry/ui/tag-group/base.tsx
  www/src/registry/ui/tag-group/demos/sizes.tsx
  www/src/registry/ui/tag-group/styles.ts
Labels: area: www

feat: tag group
  www/src/registry/ui/alert/styles.ts
  www/src/registry/ui/calendar/demos/custom-days.tsx
  www/src/registry/ui/calendar/styles.css
  www/src/registry/ui/drawer/base.tsx
  www/src/registry/ui/input/styles.ts
  www/src/registry/ui/popover/styles.ts
  www/src/registry/ui/tag-group/base.tsx
  www/src/registry/ui/tag-group/meta.ts
  www/src/registry/ui/tag-group/styles.ts
  www/src/registry/ui/tooltip/styles.ts
  www/src/routes/_app/route.tsx
Labels: area: www

combobox wip
  www/src/modules/docs/components-list/demos/combobox.tsx
  www/src/modules/docs/interactive-demo/element-to-code.ts
  www/src/registry/__generated__/demos.tsx
  www/src/registry/ui/combobox/base.tsx
  www/src/registry/ui/combobox/demos/async-loading.tsx
  www/src/registry/ui/combobox/demos/auto-highlight.tsx
  www/src/registry/ui/combobox/demos/basic.tsx
  www/src/registry/ui/combobox/demos/controlled.tsx
  www/src/registry/ui/combobox/demos/custom-value.tsx
  www/src/registry/ui/combobox/demos/description.tsx
  www/src/registry/ui/combobox/demos/disabled-items.tsx
  www/src/registry/ui/combobox/demos/disabled.tsx
  www/src/registry/ui/combobox/demos/in-dialog.tsx
  www/src/registry/ui/combobox/demos/invalid.tsx
  www/src/registry/ui/combobox/demos/label.tsx
  www/src/registry/ui/combobox/demos/large-list.tsx
  www/src/registry/ui/combobox/demos/loading.tsx
  www/src/registry/ui/combobox/demos/multi-select.tsx
  www/src/registry/ui/combobox/demos/multiple-disabled.tsx
  www/src/registry/ui/combobox/demos/multiple-invalid.tsx
  www/src/registry/ui/combobox/demos/multiple-no-remove.tsx
  www/src/registry/ui/combobox/demos/multiple.tsx
  www/src/registry/ui/combobox/demos/playground.tsx
  www/src/registry/ui/combobox/demos/required.tsx
  www/src/registry/ui/combobox/demos/sections.tsx
  www/src/registry/ui/combobox/demos/sides.tsx
  www/src/registry/ui/combobox/demos/validation.tsx
  www/src/registry/ui/combobox/demos/with-clear.tsx
  www/src/registry/ui/combobox/demos/with-custom-items.tsx
  www/src/registry/ui/combobox/demos/with-form.tsx
  www/src/registry/ui/combobox/demos/with-groups-and-separator.tsx
  www/src/registry/ui/combobox/demos/with-icon.tsx
  www/src/registry/ui/combobox/demos/with-other-inputs.tsx
  www/src/registry/ui/combobox/examples.tsx
  www/src/registry/ui/combobox/types.ts
  www/src/registry/ui/form/demos/react-aria.tsx
  www/src/registry/ui/list-box/demos/in-combobox.tsx
  www/src/registry/ui/react-hook-form/demos/register.tsx
  www/src/registry/ui/tag-group/demos/with-combobox.tsx
Labels: area: www

update combobox demos
  www/src/registry/ui/combobox/demos/auto-highlight.tsx
  www/src/registry/ui/combobox/demos/multiple-no-remove.tsx
  www/src/registry/ui/combobox/demos/sides.tsx
  www/src/registry/ui/combobox/demos/with-clear.tsx
  www/src/registry/ui/combobox/demos/with-other-inputs.tsx
  www/src/registry/ui/combobox/examples.tsx
Labels: area: www

combobox fix
  www/src/registry/ui/combobox/base.tsx
  www/src/registry/ui/input/styles.ts
Labels: area: www

format
  www/src/registry/ui/input/styles.ts
Labels: area: www

feat: combobox
  www/src/registry/ui/combobox/demos/sections.tsx
  www/src/registry/ui/combobox/examples.tsx
  www/src/registry/ui/combobox/meta.ts
  www/src/registry/ui/combobox/types.ts
  www/src/registry/ui/input/styles.ts
Labels: area: www

feat: command
  www/src/modules/create/preview/examples.tsx
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/examples.tsx
  www/src/registry/__generated__/icons.tsx
  www/src/registry/icons/__hugeicons__.ts
  www/src/registry/icons/__remix__.ts
  www/src/registry/icons/__tabler__.ts
  www/src/registry/ui/combobox/demos/with-other-inputs.tsx
  www/src/registry/ui/command/base.tsx
  www/src/registry/ui/command/demos/basic.tsx
  www/src/registry/ui/command/demos/in-modal.tsx
  www/src/registry/ui/command/demos/in-select.tsx
  www/src/registry/ui/command/demos/with-tag-group.tsx
  www/src/registry/ui/command/examples.tsx
  www/src/registry/ui/command/meta.ts
  www/src/registry/ui/command/styles.ts
  www/src/registry/ui/dialog/styles.ts
  www/src/registry/ui/input/styles.ts
  www/src/registry/ui/list-box/examples.tsx
  www/src/registry/ui/search-field/base.tsx
  www/src/registry/ui/search-field/styles.ts
Labels: area: www

wip
  www/src/registry/ui/command/demos/in-modal.tsx
Labels: area: www

wip
  www/src/registry/__generated__/demos.tsx
  www/src/registry/examples/inputs.tsx
  www/src/registry/ui/date-field/base.tsx
  www/src/registry/ui/date-field/demos/basic.tsx
  www/src/registry/ui/date-field/demos/sizes.tsx
  www/src/registry/ui/date-field/examples.tsx
  www/src/registry/ui/date-field/styles.ts
  www/src/registry/ui/field/styles.ts
  www/src/registry/ui/input/base.tsx
Labels: area: www

feat datefield
  www/src/registry/ui/date-field/demos/controlled.tsx
  www/src/registry/ui/date-field/demos/granularity.tsx
  www/src/registry/ui/date-field/demos/hide-time-zone.tsx
  www/src/registry/ui/date-field/demos/label.tsx
  www/src/registry/ui/date-field/demos/prefix-and-suffix.tsx
  www/src/registry/ui/date-field/demos/sizes.tsx
  www/src/registry/ui/date-field/demos/time-zones.tsx
  www/src/registry/ui/input/base.tsx
Labels: area: www

feat drawer
  www/src/registry/__generated__/demos.tsx
  www/src/registry/ui/drawer/base.tsx
  www/src/registry/ui/drawer/demos/controlled.tsx
  www/src/registry/ui/drawer/demos/handle-only.tsx
  www/src/registry/ui/drawer/demos/indent.tsx
  www/src/registry/ui/drawer/demos/nested.tsx
  www/src/registry/ui/drawer/demos/non-dismissable.tsx
  www/src/registry/ui/drawer/demos/placement.tsx
  www/src/registry/ui/drawer/demos/scrollable.tsx
  www/src/registry/ui/drawer/demos/with-form.tsx
  www/src/registry/ui/drawer/examples.tsx
  www/src/registry/ui/drawer/internal/constants.ts
  www/src/registry/ui/drawer/internal/context.ts
  www/src/registry/ui/drawer/internal/index.tsx
  www/src/registry/ui/drawer/internal/use-scrollable.ts
  www/src/registry/ui/drawer/internal/use-swipe-dismiss.ts
  www/src/registry/ui/drawer/internal/visual-state-store.ts
  www/src/registry/ui/drawer/styles.ts
  www/src/registry/ui/drawer/types.ts
  www/src/routes/__root.tsx
Labels: area: www

wip
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/docs/components-list/components-data.ts
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/examples.tsx
  www/src/registry/ui/date-picker/demos/range/with-drawer.tsx
  www/src/registry/ui/date-picker/demos/range/with-modal.tsx
  www/src/registry/ui/drawer/_plan/00-comparison.md
  www/src/registry/ui/drawer/_plan/01-architecture.md
  www/src/registry/ui/drawer/_plan/02-sprints.md
  www/src/registry/ui/drawer/_plan/README.md
  www/src/registry/ui/drawer/base.tsx
  www/src/registry/ui/drawer/internal/constants.ts
  www/src/registry/ui/drawer/internal/index.tsx
  www/src/registry/ui/drawer/internal/overlay/overlay.tsx
  www/src/registry/ui/drawer/internal/overlay/use-drawer-overlay.ts
  www/src/registry/ui/drawer/internal/overlay/use-drawer-state.ts
  www/src/registry/ui/drawer/internal/types.ts
  www/src/registry/ui/drawer/internal/use-drawer-gesture.ts
  www/src/registry/ui/drawer/styles.ts
  www/src/registry/ui/drawer/types.ts
  www/src/registry/ui/empty/demos/basic.tsx
  www/src/registry/ui/empty/demos/in-card.tsx
  www/src/registry/ui/empty/demos/with-border.tsx
  www/src/registry/ui/empty/demos/with-icon.tsx
  www/src/registry/ui/empty/demos/with-muted-background-alt.tsx
  www/src/registry/ui/empty/demos/with-muted-background.tsx
  www/src/registry/ui/empty/examples.tsx
  www/src/registry/ui/empty/styles.ts
  www/src/registry/ui/field/examples.tsx
  www/src/registry/ui/file-trigger/examples.tsx
Labels: area: www, documentation

button group wip
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/docs/components-list/components-data.ts
  www/src/registry/ui/group/demos/basic.tsx
  www/src/registry/ui/group/demos/navigation.tsx
  www/src/registry/ui/group/demos/nested.tsx
  www/src/registry/ui/group/demos/pagination-split.tsx
  www/src/registry/ui/group/demos/pagination.tsx
  www/src/registry/ui/group/demos/text-alignment.tsx
  www/src/registry/ui/group/demos/vertical-nested.tsx
  www/src/registry/ui/group/demos/vertical.tsx
  www/src/registry/ui/group/demos/with-dropdown.tsx
  www/src/registry/ui/group/demos/with-fields.tsx
  www/src/registry/ui/group/demos/with-icons.tsx
  www/src/registry/ui/group/demos/with-input.tsx
  www/src/registry/ui/group/demos/with-like.tsx
  www/src/registry/ui/group/demos/with-select-and-input.tsx
  www/src/registry/ui/group/demos/with-select.tsx
  www/src/registry/ui/group/demos/with-text.tsx
  www/src/registry/ui/group/examples.tsx
Labels: area: www

wip
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/docs/components-list/components-data.ts
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/examples.tsx
  www/src/registry/ui/field/base.tsx
  www/src/registry/ui/group/base.tsx
  www/src/registry/ui/group/demos/with-text.tsx
  www/src/registry/ui/group/styles.ts
  www/src/registry/ui/kbd/demos/arrow-keys.tsx
  www/src/registry/ui/kbd/demos/basic.tsx
  www/src/registry/ui/kbd/demos/group.tsx
  www/src/registry/ui/kbd/demos/in-input-group.tsx
  www/src/registry/ui/kbd/demos/in-tooltip.tsx
  www/src/registry/ui/kbd/demos/modifier-keys.tsx
  www/src/registry/ui/kbd/demos/with-icons-and-text.tsx
  www/src/registry/ui/kbd/demos/with-icons.tsx
  www/src/registry/ui/kbd/demos/with-samp.tsx
  www/src/registry/ui/kbd/examples.tsx
  www/src/registry/ui/kbd/styles.ts
Labels: area: www

wip
  www/src/registry/ui/kbd/base.tsx
  www/src/registry/ui/menu/base.tsx
  www/src/registry/ui/menu/demos/account.tsx
  www/src/registry/ui/menu/demos/checkboxes-with-icons.tsx
  www/src/registry/ui/menu/demos/complex.tsx
  www/src/registry/ui/menu/demos/in-dialog.tsx
  www/src/registry/ui/menu/demos/radio-with-icons.tsx
  www/src/registry/ui/menu/demos/sides.tsx
  www/src/registry/ui/menu/demos/with-avatar.tsx
  www/src/registry/ui/menu/demos/with-checkboxes.tsx
  www/src/registry/ui/menu/demos/with-destructive.tsx
  www/src/registry/ui/menu/demos/with-icons.tsx
  www/src/registry/ui/menu/demos/with-radio.tsx
  www/src/registry/ui/menu/demos/with-shortcuts.tsx
  www/src/registry/ui/menu/demos/with-submenu.tsx
  www/src/registry/ui/menu/examples.tsx
Labels: area: www

menu wip
  AGENTS.md
  www/src/registry/ui/list-box/examples.tsx
  www/src/registry/ui/list-box/styles.ts
  www/src/registry/ui/menu/base.tsx
  www/src/registry/ui/menu/demos/label-and-description.tsx
  www/src/registry/ui/menu/demos/multiple-selection.tsx
  www/src/registry/ui/menu/demos/single-selection.tsx
  www/src/registry/ui/menu/demos/with-checkboxes.tsx
  www/src/registry/ui/menu/demos/with-radio.tsx
  www/src/registry/ui/menu/examples.tsx
  www/src/registry/ui/menu/meta.ts
  www/src/registry/ui/menu/styles.ts
  www/src/registry/ui/menu/types.ts
  www/src/registry/ui/popover/styles.ts
Labels: area: www, documentation

.github/labeler.yml:

"area: www":
  - changed-files:
      - any-glob-to-any-file: ["www/**"]

"documentation":
  - changed-files:
      - any-glob-to-any-file: ["www/content/**", "**/*.md", "**/*.mdx"]

"area: ci":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

"area: registry":
  - changed-files:
      - any-glob-to-any-file: ["packages/ui/src/registry/**", "packages/registry-definition/**"]
